Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Fix missing label warnings (#567)
  .changeset/slick-pandas-dance.md
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.3
  packages/vscode-extension/package.json
Due: prettier --write

fixing pre-release job
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

fixing pre-release job (#568)
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

bump pre-release version to 1.13.4
  packages/vscode-extension/package.json
Due: prettier --write

fixes linter terminating on slow query
  packages/language-server/package.json
  packages/language-server/src/linting.ts
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/swift-hairs-sell.md
Due: none

draft for how it would work
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/modern-parrots-sin.md
Due: none

switches to pool.terminate approach
  packages/language-server/src/linting.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.5
  packages/vscode-extension/package.json
Due: prettier --write

Update packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/src/lintWorker.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes linter terminating on slow query (#570)
  .changeset/swift-hairs-sell.md
  packages/language-server/package.json
  packages/lint-worker/package.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

adds unneccessary newlines
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

some change
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.6
  packages/vscode-extension/package.json
Due: prettier --write

add build of type files to query-tools package
  packages/query-tools/package.json
Due: prettier --write

add build of type files to query-tools package (#572)
  packages/query-tools/package.json
Due: prettier --write

bump pre-release version to 1.13.7
  packages/vscode-extension/package.json
Due: prettier --write

path completion start
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/patternCompletion.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

set up harnesses
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletionHelpers.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/patternCompletion.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

clenaup
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/patternCompletion.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

first version of un-careting
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
Due: prettier --write

fix of uncareting + pnpm-lock
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

Removes caret-dependencies (#575)
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

bump pre-release version to 1.13.8
  packages/vscode-extension/package.json
Due: prettier --write

move back vscode-types version
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

fix mockExtensionContext to fit old vscode
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix archive-vscode-artifacts workflow (#576)
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.9
  packages/vscode-extension/package.json
Due: prettier --write

modifies check of isSymbolicName to work for functions/procedures with preparser keywords in their namespace
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds test
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/thick-signs-prove.md
Due: none

Fixes formatter capitalizing preparser keywords in procedure/function namespaces (#577)
  .changeset/thick-signs-prove.md
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.10
  packages/vscode-extension/package.json
Due: prettier --write

cleanuptest
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

document limitations
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

tests
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0
