Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

bump pre-release version to 1.19.31
  packages/vscode-extension/package.json
Due: oxfmt

Bump React and related types to 19
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

Add changeset
  .changeset/cold-coats-agree.md
Due: none

Import act from react instead of react-dom/test-utils
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

Upgrade Needle packages to v4 for React 19 peer support.
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/package.json
  packages/react-codemirror/src/ndlTokensCopy.test.ts
  packages/react-codemirror/src/ndlTokensCopy.ts
  packages/react-codemirror/src/themes.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/components/collapsible.css
  packages/vscode-extension/resources/styles/components/vizWrapper.css
  packages/vscode-extension/resources/styles/ndl.css
  packages/vscode-extension/resources/styles/queryDetails.css
  packages/vscode-extension/resources/styles/queryVisualization.css
  packages/vscode-extension/src/components/collapsible.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/controllers/queryVisualization.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryResultsTypes.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Clean up PR
  packages/react-codemirror-playground/src/App.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
Due: none

Stop vendoring NDL styles and import them from @neo4j-ndl/base at build time.
  .gitattributes
  .oxfmtrc.json
  knip.json
  packages/vscode-extension/esbuild-webviews.mts
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/ndl.css
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualizationProvider.ts
  packages/vscode-extension/tsconfig.node.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove hover of functions when not hovering function name, expanding tests to show we now dont hover blank space and can hover variables inside functions
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/hoverInformation/variableHover.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/hoverSanityCheck.test.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove unused exports
  packages/language-support/src/hoverInformation/hover.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/spotty-chairs-sniff.md
Due: none

add token highlighting to labels
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Patch @neo4j-ndl/base to fix ESM exports
  patches/@neo4j-ndl__base@4.19.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix failing E2E test
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

clean away SignatureHoverInfo
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/types.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove dead param from findVariableOnCaret.
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/hoverInformation/variableHover.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

check variable is on variable rule (not other symbols) - v1
  packages/language-support/src/hoverInformation/variableHover.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

adjust pruning to also cover node.stop
  packages/language-support/src/hoverInformation/variableHover.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.32
  packages/vscode-extension/package.json
Due: oxfmt

add letItem as a ruledefiningvariables
  packages/language-support/src/helpers.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add unit-test for LET-variable completion
  packages/language-support/src/tests/autocompletion/variableCompletion.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

make line-endings lf in report.
  api-extractor-base.json
  packages/language-support/package.json
  packages/language-support/tsconfig.json
Due: oxfmt

fix ts strictness in language support
  packages/language-support/src/hover.ts
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove tsconfig recommended dependency
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: oxfmt

fix the highlight
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Brow 380 editor action layout (#757)
  .changeset/nervous-poems-argue.md
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

enable-no-unnecesary-type-assertion rule
  oxlint.config.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/formatting/formatting.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove unused lint errors
  oxlint.config.ts
  packages/language-server/src/server.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/procedures.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add ugly hover-info to react-codemirror
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.33
  packages/vscode-extension/package.json
Due: oxfmt

add side-effect script to load prism global before component
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/prism-global.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

vibecoded markdown styling
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add cached ref->symbol map for hover variables
  packages/language-support/src/hoverInformation/variableHover.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.34
  packages/vscode-extension/package.json
Due: oxfmt

Introduce hover for variables and restructure hover (#760)
  .changeset/spotty-chairs-sniff.md
  packages/language-server/src/hoverInfo.ts
  packages/language-server/src/server.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/hover.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/hoverInformation/variableHover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/labelTreeRender.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/autocompletion/variableCompletion.test.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/hoverSanityCheck.test.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
  packages/language-support/src/types.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add smoke-test for react-codemirror-playground to ensure bundled demo works
  .github/actions/demo-smoke-test/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  packages/react-codemirror-playground/.gitignore
  packages/react-codemirror-playground/e2e/smoke.spec.ts
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/playwright.config.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/rude-birds-scream.md
Due: none

simplify comments
  packages/react-codemirror-playground/e2e/smoke.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.35
  packages/vscode-extension/package.json
Due: oxfmt

update changeset
  .changeset/rude-birds-scream.md
Due: none
