Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

clean up tests
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

path completion start
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/patternCompletion.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanuptest
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleaup-todos
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

tests
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add behind feature flag
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

clenaup
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/patternCompletion.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds testing that broken rel chains give symbol table
  packages/language-support/src/tests/syntaxValidation/symbolTable.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

integrate with tests
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix build
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds testing that broken rel chains give symbol table (#583)
  packages/language-support/src/tests/syntaxValidation/symbolTable.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.14
  packages/vscode-extension/package.json
Due: prettier --write

adds same feature flag as in completion PR and checks for this before printing on symboltable update. fixes to print all symbol tables on multiple tables
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/parserWrapper.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

clean up TODO we wont do in the first iteration
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds single entry queue so we don't miss final symbol table in getSymbolTable if previous job is still running when final table is requested
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

review comments
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

First steps in schema aware relationship type completions (#578)
  packages/language-support/src/autocompletion/autocompletionHelpers.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.15
  packages/vscode-extension/package.json
Due: prettier --write

cleanup. Fix document-switching behaviour, update symbol table when moving doc (even without typing)
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
Due: prettier --write, eslint --fix --max-warnings 0

mini cleanup
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove notification on switching doc
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

mini cleanup
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes so linterFileToServerVersion can handle versions like <serverVersion>-lintWorker-<version><anything>.cjs, supporting the linters released via changesets updates to versions
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/bitter-rocks-bet.md
Due: none

Calculate the symbol table separately from debounced linting (#584)
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/language-support/src/parserWrapper.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.16
  packages/vscode-extension/package.json
Due: prettier --write

adds new changelog entry (can be added to as we go)
  packages/vscode-extension/CHANGELOG.md
Due: none

adds schema aware completions entry
  packages/vscode-extension/CHANGELOG.md
Due: none

remove comma
  packages/vscode-extension/CHANGELOG.md
Due: none

Fixes switching to existing linter file with new changeset based naming (#585)
  .changeset/bitter-rocks-bet.md
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Start vscode changelog 1.14.0 (#586)
  packages/vscode-extension/CHANGELOG.md
Due: none

bump pre-release version to 1.13.17
  packages/vscode-extension/package.json
Due: prettier --write

adds "run single cypher" command
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

small cleanup
  packages/vscode-extension/src/commandHandlers/connection.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds when-clause for commands, narrows when runSingleCypher is shown to pure cypher files
  packages/vscode-extension/package.json
Due: prettier --write

updates changelog
  packages/vscode-extension/CHANGELOG.md
Due: none

fix "query details view" focus on runQuery (if visible)
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

edit chnagelog
  packages/vscode-extension/CHANGELOG.md
Due: none

checks feature flag in vscode settings.json. Renames schemaBasedPatternCompletion ->schemaBasedPatternCompletions
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0
