Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

show parse tree in codemirror demo
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove console log
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

split theme and theme-creator
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

add more demo queries
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

polish
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

add ayu light theme
  package-lock.json
  packages/codemirror-playground/package.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup theme creator
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

new name for demo state
  packages/codemirror-playground/src/App.tsx
Due: none

Setup theme building utils and add ayu light theme (#55)
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Rename parserCache to parserWrapper
  .gitignore
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

add prevent commiting console.log
  .eslintrc.js
  packages/server/src/dbInfo.ts
Due: prettier --write, eslint --fix --max-warnings 0

clarify error messages
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Display names (#52)
  .eslintrc.js
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/lexer.test.ts
  packages/server/src/dbInfo.ts
Due: prettier --write, eslint --fix --max-warnings 0

set up config panel
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix build error on CI
  packages/language-support/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Caches parsing result (#56)
  .gitignore
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

show parse tree in codemirror demo (#54)
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/tree-util.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Refactors auto-completion
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Auto completes barred labels
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes keyword auto-completion inside node and relationship patterns
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds extra checks to the barred labels tests
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes naming a little
  packages/language-support/src/autocompletion/autocompletion.ts
Due: prettier --write, eslint --fix --max-warnings 0

Moves some of the logic into the helpers file
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes debugging of antlr4-c3 tests with VSCode
  packages/antlr4-c3/.vscode/launch.json
  packages/antlr4-c3/.vscode/settings.json
  packages/antlr4-c3/.vscode/spellright.dict
  packages/antlr4-c3/.vscode/tasks.json
  packages/antlr4-c3/jest.config.js
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tsconfig.json
  turbo.json
Due: prettier --write

Provides a way to package the server in a single .js
  .prettierignore
  package.json
  packages/antlr4-c3/src/FundamentalType.ts
  packages/antlr4-c3/src/VocabularyImpl.ts
  packages/antlr4-c3/tests/SymbolTable.spec.ts
  packages/server/README.md
  packages/server/package.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Removes files from c3 we do not need
  packages/antlr4-c3/index.ts
  packages/antlr4-c3/src/ArrayType.ts
  packages/antlr4-c3/src/BaseSymbol.ts
  packages/antlr4-c3/src/BlockSymbol.ts
  packages/antlr4-c3/src/ClassSymbol.ts
  packages/antlr4-c3/src/DuplicateSymbolError.ts
  packages/antlr4-c3/src/FieldSymbol.ts
  packages/antlr4-c3/src/FundamentalType.ts
  packages/antlr4-c3/src/InterfaceSymbol.ts
  packages/antlr4-c3/src/LiteralSymbol.ts
  packages/antlr4-c3/src/MethodSymbol.ts
  packages/antlr4-c3/src/NamespaceSymbol.ts
  packages/antlr4-c3/src/ParameterSymbol.ts
  packages/antlr4-c3/src/RoutineSymbol.ts
  packages/antlr4-c3/src/ScopedSymbol.ts
  packages/antlr4-c3/src/SymbolTable.ts
  packages/antlr4-c3/src/TypeAlias.ts
  packages/antlr4-c3/src/TypedSymbol.ts
  packages/antlr4-c3/src/VariableSymbol.ts
  packages/antlr4-c3/src/types.ts
  packages/antlr4-c3/tests/SymbolTable.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes back to back auto-completions
  .prettierignore
  packages/antlr4-c3/src/CodeCompletionCore.ts
  packages/antlr4-c3/src/CodeCompletionHelpers.ts
  packages/antlr4-c3/tests/CodeCompletionCore.spec.ts
  packages/antlr4-c3/tests/CodeCompletionOptionals.spec.ts
  packages/antlr4-c3/tests/Optionals.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug with multi-statement completion
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds default targets for babel configuration
  .babelrc
Due: none

add github action to publish experimental editor
  .github/workflows/deploy-cypher-editor.yaml
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: none

Refactors auto-completion (#57)
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes files from c3 we do not need (#64)
  packages/antlr4-c3/index.ts
  packages/antlr4-c3/src/ArrayType.ts
  packages/antlr4-c3/src/BaseSymbol.ts
  packages/antlr4-c3/src/BlockSymbol.ts
  packages/antlr4-c3/src/ClassSymbol.ts
  packages/antlr4-c3/src/DuplicateSymbolError.ts
  packages/antlr4-c3/src/FieldSymbol.ts
  packages/antlr4-c3/src/FundamentalType.ts
  packages/antlr4-c3/src/InterfaceSymbol.ts
  packages/antlr4-c3/src/LiteralSymbol.ts
  packages/antlr4-c3/src/MethodSymbol.ts
  packages/antlr4-c3/src/NamespaceSymbol.ts
  packages/antlr4-c3/src/ParameterSymbol.ts
  packages/antlr4-c3/src/RoutineSymbol.ts
  packages/antlr4-c3/src/ScopedSymbol.ts
  packages/antlr4-c3/src/SymbolTable.ts
  packages/antlr4-c3/src/TypeAlias.ts
  packages/antlr4-c3/src/TypedSymbol.ts
  packages/antlr4-c3/src/VariableSymbol.ts
  packages/antlr4-c3/src/types.ts
  packages/antlr4-c3/tests/SymbolTable.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes debugging of antlr4-c3 tests with VSCode (#61)
  packages/antlr4-c3/.vscode/launch.json
  packages/antlr4-c3/.vscode/settings.json
  packages/antlr4-c3/.vscode/spellright.dict
  packages/antlr4-c3/.vscode/tasks.json
  packages/antlr4-c3/jest.config.js
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tsconfig.json
  turbo.json
Due: prettier --write

Provides a way to package the server in a single .js (#62)
  .prettierignore
  package.json
  packages/antlr4-c3/src/VocabularyImpl.ts
  packages/server/README.md
  packages/server/package.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

bump editor
  packages/react-codemirror-experimental/package.json
Due: prettier --write

bump editor
  package-lock.json
  packages/react-codemirror-experimental/package.json
Due: prettier --write

bump editor
  package-lock.json
Due: prettier --write

add mock graph schema
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/tests/testHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Solves bugs in auto completion of labels and node/rel patterns (#58)
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

introduce separators and punctionation in highlighting
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/contants.test.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0
