Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "oxlint --fix"],
  "*.json": ["prettier --write"]
}

Replace vscode-eslint recommendation with oxc-vscode; clean up tsconfig.node
  .vscode/extensions.json
  tsconfig.node.json
Due: prettier --write

Remove Java/ANTLR jar setup from CI, add showboat demo
  .github/actions/setup-and-build/action.yaml
  demo.md
Due: none

Move migration context from code comments to review doc
  demo.md
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, oxlint --fix

Remove unnecessary playwright/index.tsx from oxlint ignorePatterns
  oxlint.config.ts
Due: prettier --write, oxlint --fix

Fix formatter losing tokens during error recovery
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
Due: prettier --write, oxlint --fix

Remove demo.md and outdated console command completion test
  demo.md
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, oxlint --fix

Remove unnecessary ignore for simple-match.js; fix no-unused-vars
  oxlint.config.ts
  packages/vscode-extension/tests/fixtures/textmate/simple-match.js
Due: prettier --write, oxlint --fix

Restore original variable names in simple-match.js, suppress lint via comment
  packages/vscode-extension/tests/fixtures/textmate/simple-match.js
Due: none

Revert simple-match.js to original, add textmate fixtures to oxlint ignore
  oxlint.config.ts
  packages/vscode-extension/tests/fixtures/textmate/simple-match.js
Due: prettier --write, oxlint --fix

Match lint-staged flags to pnpm lint: --type-aware, --max-warnings 0, *.js
  .lintstagedrc.json
Due: prettier --write

Fix oxfmt formatting in oxlint.config.ts
  oxlint.config.ts
Due: prettier --write, oxlint --fix

Migrate from ESLint to Oxlint for faster linting (#653)
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yaml
  .lintstagedrc.json
  .vscode/extensions.json
  oxlint.config.ts
  package.json
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/lint-worker/src/helpers.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/schemaPoller.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/utils.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/tests/mocks/inMemoryMemento.ts
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/testRunnerDebug.ts
  pnpm-lock.yaml
  tsconfig.node.json
Due: prettier --write, oxlint --fix

Clean up README to reflect current project state
  README.md
Due: none

Rename "Formatting" to "Pretty printing" in README capabilities
  README.md
Due: none

Replace unsafe parseListeners cast with addParseListener API
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, oxlint --fix

removes "--condition=require" from esm build, removes unused export
  packages/lint-worker/package.json
  packages/lint-worker/src/helpers.ts
Due: prettier --write, oxlint --fix

add triggering of path segment completions on start of path
  .changeset/hungry-buses-work.md
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPathSegmentCompletions.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write, oxlint --fix

Investigate antlr-ng error handling: .exception property removal
  docs/antlr-ng-error-handling-migration.md
  packages/language-support/package.json
  pnpm-lock.yaml
Due: prettier --write

Add error listener context map strategy and antlr4ng release note quote
  docs/antlr-ng-error-handling-migration.md
Due: none

Add full API migration table and additional error detection approaches
  docs/antlr-ng-error-handling-migration.md
Due: none

Add generated code variable renames and template source links
  docs/antlr-ng-error-handling-migration.md
Due: none

updates changelog version to even version to account for pre-releases.
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write, oxlint --fix

Add triggering of path segment completions on start of path (#655)
  .changeset/hungry-buses-work.md
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPathSegmentCompletions.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write, oxlint --fix

Add strategic analysis: why context.exception was removed and sustainable migration path
  docs/antlr-ng-error-handling-migration.md
Due: none

Add research evaluation of vscode-extension-tester (ExTester)
  docs/research/vscode-extension-tester-evaluation.md
Due: none

Condense migration doc: one problem, one solution, with sources
  docs/antlr-ng-error-handling-migration.md
Due: none

Harden GitHub Actions: pin SHAs, add timeouts, permissions, and concurrency
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/actions/setup-and-build/action.yaml
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/fetch-dev-artifacts.yaml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/pre-release-vscode-extension.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

Add implementation context for a fresh agent to execute the migration
  docs/antlr-ng-error-handling-migration.md
Due: none

Add ESM migration analysis document
  ESM_MIGRATION_ANALYSIS.md
Due: none

chore: fix typos, use shorthand properties, and clean up comments
  packages/language-server/src/server.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/react-codemirror/playwright/index.tsx
  packages/vscode-extension/src/commandHandlers/connection.ts
Due: prettier --write, oxlint --fix

Add web extension support with Playwright testing infrastructure
  packages/language-server/esbuild-browser.mts
  packages/language-server/package.json
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/browserServer.ts
  packages/language-server/src/formatting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/vscode-extension/esbuild-browser.mts
  packages/vscode-extension/package.json
  packages/vscode-extension/playwright-web.config.ts
  packages/vscode-extension/src/browserExtension.ts
  packages/vscode-extension/tests/web/basicLanguageFeatures.web.spec.ts
  packages/vscode-extension/tests/web/databaseConnection.web.spec.ts
  packages/vscode-extension/tests/web/globalSetup.ts
  packages/vscode-extension/tests/web/globalTeardown.ts
  packages/vscode-extension/tests/web/lintWorkerStrategies.web.spec.ts
Due: prettier --write, oxlint --fix

Replace context.exception with ErrorTrackingStrategy for antlr-ng migration
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/errorTrackingListener.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, oxlint --fix

Fix web extension build: resolve TypeScript errors
  packages/language-server/src/browserServer.ts
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Update TypeScript to 5.9.3 and enable strict mode with best practices
  package.json
  packages/language-server/tsconfig.json
  packages/language-support/tsconfig.json
  packages/lint-worker/tsconfig.json
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/tsconfig.json
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/tsconfig.json
  packages/react-codemirror/tsconfig.node.json
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

add changeset, fix tests where output is slightly modified by scope changes
  .changeset/four-dots-double.md
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, oxlint --fix

add test of graph type
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, oxlint --fix

set lint-worker package.json version to unoccupied one
  packages/lint-worker/package.json
Due: prettier --write
