Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

removes new test, modifies incorrect old one instead
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

move slice to central autocomplete method
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes same tests I fix in node-based completions
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding support for the help command (#592)
  .changeset/fuzzy-mangos-throw.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.23
  packages/vscode-extension/package.json
Due: prettier --write

Fixes "label completion with space after" test (#599)
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove (extra) slice in testing now that we do it in shared autocompletion method
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

minor cleanup
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

expanded testing
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.24
  packages/vscode-extension/package.json
Due: prettier --write

adds tests using undirected rels
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Schema based completions for nodes in paths (#595)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.25
  packages/vscode-extension/package.json
Due: prettier --write

switch to open instead of focus
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

add focus to broken test
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

dont run new command if it doesnt exist (->throws)
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Switch to open instead of focus on run (#601)
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.26
  packages/vscode-extension/package.json
Due: prettier --write

fix renamed rules
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

add new tokens to symbol lists
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

limit html copy by selected text character length
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

limit html copy by selected text character length (#603)
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.27
  packages/vscode-extension/package.json
Due: prettier --write

update esbuild to fix minification bug
  package.json
  pnpm-lock.yaml
Due: prettier --write

small fixes
  packages/language-support/src/formatting/formatting.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/thick-windows-know.md
Due: none

adds warning about old esbuild version
  packages/lint-worker/README.md
Due: none

bump pre-release version to 1.13.28
  packages/vscode-extension/package.json
Due: prettier --write

changeset
  .changeset/odd-humans-judge.md
Due: none

add testing of vector type usage (in cypher 25)
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.29
  packages/vscode-extension/package.json
Due: prettier --write

adds vector support in query runner and for params
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/data-transforms/cypher-type-names.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/types/cypher-data-types.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/parameterService.ts
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/tests/specs/unit/parameterService.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

switches to slice input instead of taking command.statement, to include preparser in single-statement execution
  packages/vscode-extension/src/commandHandlers/connection.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
