Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

everything passing; but missing some tests?
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/lineFormatter.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

put back accidentally uncommented test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

delete formattingSolutionSearch file
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unessary properties from class
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

changed to using for const of ... instead
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes exists
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix unecessary diff
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

simplified boolean expression for doesNotWantSpace
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

bundle antlr-c3
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/stupid-coins-itch.md
Due: none

fakeversioN
  .changeset/pre.json
  packages/language-server/CHANGELOG.md
  packages/language-server/package.json
  packages/language-support/CHANGELOG.md
  packages/language-support/package.json
  packages/query-tools/CHANGELOG.md
  packages/query-tools/package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
Due: prettier --write

renamed property name
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/lineFormatter.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unecessary type casting
  packages/language-support/src/formatting/lineFormatter.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix typo
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix tests imports
  packages/language-support/tsconfig.json
  packages/language-support/vitest.config.mts
Due: prettier --write

change name of file to layoutEngine
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

update paths
  packages/language-support/package.json
Due: prettier --write

adapted test for groups around clause causing different comment output
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix comment directly on clause word test
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unecessary space
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

simplify canary release
  .eslintignore
  .github/workflows/publish-npm-packages.yaml
  package.json
  release-canary.js
Due: prettier --write

update publish comments
  package.json
Due: prettier --write

simplfiied doesNotWantSpace to shouldAddSpace
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

move exported function to end of file
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

moves Group interface to helper file
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

update all git projects
  .github/actions/build-project/action.yaml
  .github/actions/setup-antlr4/action.yaml
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

repairci
  .github/workflows/ci.yaml
Due: none

fixci
  .github/actions/build-project/action.yaml
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

fixci
  .github/actions/build-project/action.yaml
Due: none

update playwright deps
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
Due: none

change working dir to not use global playwright
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
Due: none

another attempt
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  packages/react-codemirror/playwright-ct.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump playwright
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: prettier --write

updatedocs
  CONTRIBUTING.md
Due: none

back to defautls
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  packages/react-codemirror/playwright-ct.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses feedback
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

uncomments commented line
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0
