Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix "single statement tests"
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

modify param-tests to expect serialized values
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix aura linter handling
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/rich-mammals-rule.md
Due: none

switch "serverVersionToLinter" so -aura gets latest, instead of 5.27 getting 2025.03
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/blue-dolls-thank.md
Due: none

remove improved semantic analysis (for debugging)
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/symbolTable.test.ts
  packages/lint-worker/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Fix aura linter switch (#609)
  .changeset/blue-dolls-thank.md
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.30
  packages/vscode-extension/package.json
Due: prettier --write

remove all minification
  packages/language-server/package.json
  packages/vscode-extension/esbuild-extension.mts
Due: prettier --write

remove file with duplicate content, update extract-unique-nodes-and-relationships and record-to-string to match upx logic, and export everything from them in index.ts of query-tools
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/data-types/cypher-data-types.ts
  packages/query-tools/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds vector support in query runner and for params (#608)
  .changeset/rich-mammals-rule.md
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/data-transforms/cypher-type-names.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/data-types/cypher-data-types.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/types/cypher-data-types.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/parameterService.ts
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/parameterService.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.31
  packages/vscode-extension/package.json
Due: prettier --write

add comment on find-anon-var position
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.32
  packages/vscode-extension/package.json
Due: prettier --write

fetches direction from rel, and uses this in SB completions
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

clarify test names
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test that would fail if intersection logic with empty sets is sketchy
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds direction-awareness to SB-completions (#613)
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.33
  packages/vscode-extension/package.json
Due: prettier --write

filters for only leader in cluster (=writer) on SHOW DATABASES result
  packages/query-tools/src/queries/databases.ts
Due: prettier --write, eslint --fix --max-warnings 0

add permission to generate OIDC tokens
  .github/workflows/publish-npm-packages.yaml
Due: none

set npm workflow to use newer node -> npm version, to support trusted publishers
  .github/workflows/publish-npm-packages.yaml
Due: none

fix duplicate dbs in connections panel (#615)
  packages/query-tools/src/queries/databases.ts
Due: prettier --write, eslint --fix --max-warnings 0

updates node setup in setup-and-build rather than adding an overwrite in publish-npm-packages
  .github/actions/setup-and-build/action.yaml
  .github/workflows/publish-npm-packages.yaml
  .nvmrc
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

bump pre-release version to 1.13.34
  packages/vscode-extension/package.json
Due: prettier --write

remove old npm token usage
  .github/workflows/publish-npm-packages.yaml
Due: none

add special rule for DynamicAnyAllExpression, lowercasing any/all and removing spaces
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/cyan-ghosts-nail.md
Due: none

update esbuild and reenable minification
  package.json
  packages/language-server/package.json
  packages/lint-worker/package.json
  packages/vscode-extension/esbuild-extension.mts
  pnpm-lock.yaml
Due: prettier --write

update esbuild and reenable minification (#618)
  package.json
  packages/language-server/package.json
  packages/lint-worker/package.json
  packages/vscode-extension/esbuild-extension.mts
  pnpm-lock.yaml
Due: prettier --write

bump pre-release version to 1.13.35
  packages/vscode-extension/package.json
Due: prettier --write

Fix formatting of dynamic labels (#617)
  .changeset/cyan-ghosts-nail.md
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates node and adds permission to generate OIDC tokens for npm-publishing workflow (#616)
  .github/actions/setup-and-build/action.yaml
  .github/workflows/publish-npm-packages.yaml
  .nvmrc
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

bump pre-release version to 1.13.36
  packages/vscode-extension/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
