Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

switch to use default value, and export shared linterVersion/linterPath
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

add systemupdates too
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

rename feature flag to debugSymbolTable
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/parserWrapper.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Refetch schema if db changes from query execution (#626)
  packages/query-tools/src/metadataPoller.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.41
  packages/vscode-extension/package.json
Due: prettier --write

Make schema based completions active by default (#627)
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.42
  packages/vscode-extension/package.json
Due: prettier --write

minor changes
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

rewrite closer to version that passed
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove export from defaultWorkerPath
  packages/language-server/src/linting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix symbolfetcher using only default lintworker (#625)
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.43
  packages/vscode-extension/package.json
Due: prettier --write

removes validation of user/password so one can connect to db without auth
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.44
  packages/vscode-extension/package.json
Due: prettier --write

update vscode-extension changelog and extension version
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Release vscode extension 1.14.0 (#630)
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

bump pre-release version to 1.15.0
  packages/vscode-extension/package.json
Due: prettier --write

add change to changelog
  packages/vscode-extension/CHANGELOG.md
Due: none

Improve support for connections without auth (Final PR for 1.14.0) (#629)
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.15.1
  packages/vscode-extension/package.json
Due: prettier --write

undo package version bump by faulty workflow, fix the workflow
  .github/workflows/pre-release-vscode-extension.yaml
  packages/vscode-extension/package.json
Due: prettier --write

add aliases to connectionTree
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

add testing
  packages/vscode-extension/tests/specs/unit/connectionTreeDataProvider.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changelog
  packages/vscode-extension/CHANGELOG.md
Due: none

fix server-version-tag
  packages/lint-worker/server-version-tag.txt
Due: none

fixes tests where messages are slightly modified, adds changeset
  .changeset/sharp-wolves-create.md
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

changes listDatabase to the same implementation used in upx-import
  packages/query-tools/src/queries/dataSummary.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/src/queries/procedures.ts
  packages/query-tools/src/queries/roles.ts
  packages/query-tools/src/queries/users.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes so we check for alias in db resolution for query execution.
  packages/query-tools/src/neo4jConnection.ts
Due: prettier --write, eslint --fix --max-warnings 0

take removeSPDShards(removeCompositeAliases from console (selectors.ts)
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/types/sdkTypes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add aliases in connections pane (#631)
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/src/queries/dataSummary.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/src/queries/procedures.ts
  packages/query-tools/src/queries/roles.ts
  packages/query-tools/src/queries/users.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
  packages/query-tools/src/types/sdkTypes.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/tests/specs/unit/connectionTreeDataProvider.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add CNF rewrite of tree. Remove old rewrite of labeltree + usage
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix old tests
  packages/language-support/src/grass/grassASTConverter.ts
  packages/language-support/src/grass/grassCompletion.test.ts
  packages/language-support/src/grass/grassParseErrors.test.ts
  packages/language-support/src/grass/grassStringify.test.ts
  packages/language-support/src/grass/grassStringify.ts
Due: prettier --write, eslint --fix --max-warnings 0

working version of CNF-based completions, with NOT hooked in
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

prevent crashes of ast convertion
  packages/language-support/src/grass/grassASTConverter.ts
  packages/language-support/src/grass/grassEditorIntegration.test.ts
  packages/language-support/src/grass/grassParseErrors.test.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

less brittle error
  packages/language-support/src/grass/grassParseErrors.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add experimental DSL support to console command grammar
  .changeset/forty-guests-wink.md
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
