Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

bump pre-release version to 1.17.19
  packages/vscode-extension/package.json
Due: oxfmt

adding react-dom as a peer dependency
  .changeset/witty-otters-wave.md
  packages/react-codemirror/package.json
Due: oxfmt

add editor action buttons overlay to CypherEditor (#697)
  .changeset/witty-otters-wave.md
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/editorActions.ts
  packages/react-codemirror/src/hostCallbacks.ts
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.20
  packages/vscode-extension/package.json
Due: oxfmt

pin all our "uses: ..." imported workflows to a static version (latest right now) (#701)
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/fetch-dev-artifacts.yaml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/pre-release-vscode-extension.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

Replace readme diagram with mermaid
  README.md
Due: none

bump pre-release version to 1.17.21
  packages/vscode-extension/package.json
Due: oxfmt

close welcome panel for createNewConnection
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

dont show welcomepanel in existing webview tests instead of trying to close it right away
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix location of args/program for "debug webview tests"
  .vscode/launch.json
Due: oxfmt

bump pre-release version to 1.17.22
  packages/vscode-extension/package.json
Due: oxfmt

Replace readme image with mermaid diagram (#703)
  README.md
Due: none

WIP add missing lexer keywords
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/syntaxHighlighting/clauses.test.ts
  packages/react-codemirror-playground/src/App.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.23
  packages/vscode-extension/package.json
Due: oxfmt

fix clash between auto keyword and auto console command
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/icy-forks-yawn.md
Due: none

bump pre-release version to 1.17.24
  packages/vscode-extension/package.json
Due: oxfmt

Apply suggestions from code review
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/syntaxHighlighting/clauses.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

WIP properties collector
  CONTRIBUTING.md
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.25
  packages/vscode-extension/package.json
Due: oxfmt

fix messages + tests. rename var
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove period from message. fix minor inconsistencies in tests
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove try-catches that would catch bugs
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename asNode
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename subsetSatisfiableBy
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

more cleanup based on review
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix evalLabelTree usage for single rel. Also replaces extra tree-walk to parse Read-PatternElements with parse listener
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

clarify labelTreeSatisfiableBy with better var name and comment
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

adds bailing on label tree with many unique labels (that exist in graphschema)
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Simplify and expand schema based linting (#700)
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

WIP property collector and lint warnings
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.26
  packages/vscode-extension/package.json
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt

update cypher.json after grammar update
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt

add CLAUDE.md with general instrucitons
  CLAUDE.md
Due: none

add windows-specific new skil
  .claude/skills/run-cypher-language-support/SKILL.md
  .claude/skills/run-cypher-language-support/driver-lsp.mjs
  .claude/skills/run-cypher-language-support/driver-playground.mjs
  .claude/skills/run-cypher-language-support/playground-screenshot.png
Due: none

make new skill cross platform (not tested on linux/mac yet)
  .claude/skills/run-cypher-language-support/SKILL.md
  .claude/skills/run-cypher-language-support/driver-playground.mjs
Due: none

add parsing skill
  .claude/skills/parse-cypher-with-antlr/SKILL.md
Due: none

bump pre-release version to 1.17.27
  packages/vscode-extension/package.json
Due: oxfmt
