Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Republishes lint worker for 5.20.0 (#536)
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix handling of failed download
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes the status bar icon to display the current version, using "latest" for current repo version
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes schema conversion on manual switch, manual switch checks npm for tagged versions if available. Sets new command + status bar behind feature flag
  packages/language-server/package.json
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/lint-worker/src/helpers.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

set pick linter only on active connection
  packages/vscode-extension/package.json
Due: prettier --write

adds manual linter switching
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/old-ends-agree.md
Due: none

removes right click on connection to switch linter
  packages/vscode-extension/package.json
Due: prettier --write

minor -> patch on changeset
  .changeset/old-ends-agree.md
Due: none

Clean up
  packages/language-server/src/linting.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  packages/query-tools/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/tests/helpers.ts
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Sets the 2025 version of the containers to a fixed one
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/testRunnerDebug.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr review comments
  packages/query-tools/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds e2e test for neo4j version specific linter (#535)
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/miscCompletions.test.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/lint-worker/src/lintWorker.ts
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/schemaPoller.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tests/fixtures/subquery-call.cypher
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/setupTestContainer.ts
  packages/vscode-extension/tests/specs/api/setup.spec.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
  packages/vscode-extension/tests/specs/unit/executeCommands.spec.ts
  packages/vscode-extension/tests/suiteSetup.ts
  packages/vscode-extension/tests/testRunnerDebug.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds manual linter switching, handles failed downloads and redownload of updated linter (#533)
  .changeset/old-ends-agree.md
  packages/language-server/package.json
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/lint-worker/src/helpers.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/linters.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/registrationService.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

switches to always create extension folder (if missing) when trying to access it
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/linterSwitching.ts
Due: prettier --write, eslint --fix --max-warnings 0

switches to always create extension folder (if missing) when trying to access it (#538)
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/linterSwitching.ts
Due: prettier --write, eslint --fix --max-warnings 0

Bumps VSCode version
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Adds changeset
  .changeset/polite-meals-relax.md
Due: none

ensures CRLF newlines are handled when setting editor value
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Create wet-tigers-beam.md
  .changeset/wet-tigers-beam.md
Due: none

Ensures CRLF newlines are handled when setting editor value (#539)
  .changeset/wet-tigers-beam.md
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Updates file missing for release to npm to work
  .github/workflows/fetch-dev-artifacts.yaml
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write

Updates version
  packages/language-support/package.json
Due: prettier --write

Modifies the CI to ensure the TextMate file is kept up to date
  .github/workflows/ci.yaml
Due: none

5.23 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/vscode-extension/syntaxes/cypher.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

5.24 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

5.25 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

2025.01 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

2025.02 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

2025.03 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

2025.04 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

2025.05 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

2025.06 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
