Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Extract debounce time to separate file
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/constants.ts
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Fix CypherEditor state handling and add tests (#251)
  .changeset/ninety-panthers-pretend.md
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/constants.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
  packages/react-codemirror/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Reshapes schema
  packages/language-support/src/standaloneCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses review comments
  package-lock.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

Minor nit
  package-lock.json
  packages/react-codemirror-playground/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds query execution capabilities to VSCode (#253)
  package-lock.json
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/react-codemirror-playground/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultWindow.ts
  packages/vscode-extension/tests/fixtures/invalid.cypher
  packages/vscode-extension/tests/fixtures/valid.cypher
  packages/vscode-extension/tests/specs/webviews/connection.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
  packages/vscode-extension/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Archives VSCode artifacts
  .github/workflows/archive-vscode-artifacts.yaml
Due: none

Disables archiving in this branch
  .github/workflows/archive-vscode-artifacts.yaml
Due: none

Addresses review comments and bumps CI jobs version
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

Archives VSCode artifacts (#257)
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

add row limit to query execution
  package-lock.json
  package.json
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

add message about limit hit
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix bug for errors
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

Renames arg
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

makes tests pass locally
  package-lock.json
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
Due: prettier --write

unupdatepkglock
  package-lock.json
Due: prettier --write

Add row limit to query execution (#258)
  package-lock.json
  package.json
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

Minify the code
  packages/language-support/package.json
Due: prettier --write

Updates grammar
  package-lock.json
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/tests/autocompletion/debugging.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Collapses collectors
  packages/language-support/src/parserWrapper.ts
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for procedure warnings
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates parser
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
Due: none

Updates import
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates lexer table
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

Make debounce tests pass on mac (#260)
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
Due: none

Enables remaining tests
  package-lock.json
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Throws errors instead of warnings
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes functions and procedures errors semantic ones
  package-lock.json
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Lets debounce take more time in some tests
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

Fixes changeset action, that started to fail
  .changeset/fuzzy-rice-train.md
  .changeset/nervous-rabbits-greet.md
  .changeset/pink-chefs-trade.md
  .changeset/pre.json
  package-lock.json
  package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write

Updates changeset action version
  .github/workflows/publish-npm-packages.yaml
Due: none

Adds changeset
  .changeset/chatty-plants-greet.md
Due: none

Lets debounce take more time in some tests (#262)
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

Fixes changeset action (#263)
  .changeset/fuzzy-rice-train.md
  .changeset/nervous-rabbits-greet.md
  .changeset/pink-chefs-trade.md
  .changeset/pre.json
  .github/workflows/publish-npm-packages.yaml
  package-lock.json
  package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write

Adds script to programatically modify the semanticAnalysis.js file
  .eslintignore
  docs/semantic-analysis.md
  modify-semantic-analysis.js
Due: none

Runs npm i
  package-lock.json
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write

Forces react-codemirror-playground version to be right
  package-lock.json
  release-canary.js
Due: prettier --write

Uses the right commit hash for changesets action
  .github/workflows/publish-npm-packages.yaml
  release-canary.js
Due: none
