Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

review comment fixes
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/errorTrackingStrategy.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/statementParsing.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.20
  packages/vscode-extension/package.json
Due: oxfmt

Move statement parsing tests
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/statementParsing.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.21
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.19.22
  packages/vscode-extension/package.json
Due: oxfmt

make query-tools nodenext
  packages/query-tools/package.json
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/src/queries/procedures.ts
  packages/query-tools/tsconfig.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

make lintworker nodenext too, and remove check-imports/references to it
  .github/workflows/ci.yaml
  .lintstagedrc.json
  AGENTS.md
  check-imports.sh
  package.json
  packages/lint-worker/package.json
  packages/lint-worker/tsconfig.json
Due: oxfmt

add tests covering incomplete hover cases
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/vscode-extension/tests/specs/api/hover.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

code review changes
  .changeset/loud-feet-judge.md
  packages/language-support/src/hover.ts
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

chore: use bundler moduleResolution for Vite config TypeScript
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/tsconfig.node.json
Due: oxfmt

bump pre-release version to 1.19.23
  packages/vscode-extension/package.json
Due: oxfmt

Bump React and related types to 19
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

Import act from react instead of react-dom/test-utils
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

small code improvements
  packages/language-server/src/server.ts
  packages/language-support/src/hover.ts
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

chore: rename Playwright CT rollupOptions to rolldownOptions
  packages/react-codemirror/playwright-ct.config.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix: adapt react-codemirror Vitest config for Vitest 4
  packages/react-codemirror/vite.config.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

chore: upgrade Vite to 8 with matching plugin-react, Vitest, and Playwright
  package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: oxfmt

fix: include Node types alongside vitest/globals after Vitest 4
  packages/language-support/tsconfig.json
  packages/lint-worker/tsconfig.json
  packages/query-tools/tsconfig.json
Due: oxfmt

chore: replace vitest.workspace with Vitest 4 projects config
  tsconfig.node.json
  vitest.config.mts
  vitest.workspace.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

change clean script in vscode-extension
  packages/language-support/src/signatureHelp.ts
  packages/vscode-extension/package.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add tests on nested functions hover
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update tests to use mock schema
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

change clean package script so supports more shells
  packages/language-server/package.json
  packages/language-support/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
Due: oxfmt

Remove check imports script (#734)
  .github/workflows/ci.yaml
  .lintstagedrc.json
  AGENTS.md
  check-imports.sh
  package.json
  packages/lint-worker/package.json
  packages/lint-worker/tsconfig.json
  packages/query-tools/package.json
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/src/queries/procedures.ts
  packages/query-tools/tsconfig.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.24
  packages/vscode-extension/package.json
Due: oxfmt

expand signatureHelp.ts to handle some grammar-defined predicate functions
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add signature handling and syntax highlighting for final missing grammar-defined functions
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add tests
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/syntaxHighlighting/function.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update highlighting IT to match update allShortestPaths
  packages/vscode-extension/tests/specs/api/syntaxHighlighting.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/dark-lions-dig.md
Due: none

handle shortest functions in highlighting/signature help (note: signature help will need fix to schema (on server for actual case) to work)
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/syntaxHighlighting/function.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

replace so dbSchema variable is shared instead of rereferenced each time from testData
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add helper for "should give signature help" check. Fix some places where we dont check for undefined
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

wip
  oxlint.config.ts
  package.json
  packages/language-support/src/tests/autocompletion/expressionCompletion.test.ts
  packages/language-support/src/textMateGrammar.ts
  packages/lint-worker/tsconfig.json
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/integration-tests/setupTestContainer.ts
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/playwright/index.tsx
  packages/react-codemirror/tsconfig.node.json
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/tests/setupTestContainer.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Pin actions to full-length commit SHA
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/actions/setup-and-build/action.yaml
Due: none

expand testing of function/procedure hover info
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove comment
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.25
  packages/vscode-extension/package.json
Due: oxfmt

Updates artifacts to those from latest dev snapshot 2026.09.0
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
  packages/lint-worker/server-version-tag.txt
Due: oxlint --fix --type-aware --max-warnings 0

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
