Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

add fix according to https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
  .github/workflows/publish-npm-packages.yaml
Due: none

switch to latest changesets/action release (same as working example https://github.com/withastro/astro/blob/ad3265daf8651c6e15243f5ba85165da5ca4652d/.github/workflows/release.yml#L47)
  .github/workflows/publish-npm-packages.yaml
Due: none

Fix trusted publishing to npm (#619)
  .github/workflows/publish-npm-packages.yaml
Due: none

switch to use browser-bot pat for github token, over standard github_token
  .github/workflows/publish-npm-packages.yaml
Due: none

Fix trusted publishing v2 (#620)
  .github/workflows/publish-npm-packages.yaml
Due: none

try adding pull-requests/contents write permissions and re-set token to GITHUB_TOKEN
  .github/workflows/publish-npm-packages.yaml
Due: none

Fix trusted publishing v3 (#621)
  .github/workflows/publish-npm-packages.yaml
Due: none

bump pre-release version to 1.13.37
  packages/vscode-extension/package.json
Due: prettier --write

removes limitation on union types, adds some tests for |/& and OR/AND
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds lexer symbols, fixes formatting
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/tough-dots-shout.md
Due: none

move to direct mocha test
  packages/vscode-extension/package.json
  packages/vscode-extension/src/helpers.ts
  packages/vscode-extension/test/paramUnitTest.test.ts
  packages/vscode-extension/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

remove old location of validateParamInput, import from new class instead
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.38
  packages/vscode-extension/package.json
Due: prettier --write

bump pre-release version to 1.13.39
  packages/vscode-extension/package.json
Due: prettier --write

updates pnpm version to support minimumReleaseAge and adds it to pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --write

sets minimumReleaseAge to 3 days for dependencies (#623)
  package.json
  pnpm-workspace.yaml
Due: prettier --write

separate anonymous variable tests to anon node/rel with label, and anon var without label (should not include)
  packages/language-support/src/tests/syntaxValidation/symbolTable.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup
  packages/language-support/package.json
  packages/language-support/src/antlr-grammar/GrassLexer.g4
  packages/language-support/src/antlr-grammar/GrassParser.g4
  packages/language-support/src/grass/grass-definition.ts
  packages/language-support/src/grass/grassParserWrapper.ts
  packages/language-support/src/grass/index.ts
  packages/language-support/vitest.config.mts
Due: prettier --write, eslint --fix --max-warnings 0

fix lint errors
  packages/language-support/src/grass/grassParserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

merge parsers
  packages/language-support/package.json
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/GrassLexer.g4
  packages/language-support/src/antlr-grammar/GrassParser.g4
  packages/language-support/src/grass/EDITOR_INTEGRATION.md
  packages/language-support/src/grass/__fixtures__/multiple-rules.grass
  packages/language-support/src/grass/grassCompletion.test.ts
  packages/language-support/src/grass/grassParseErrors.test.ts
  packages/language-support/src/grass/grassParserWrapper.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

improve completions
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/grass/EDITOR_INTEGRATION.md
  packages/language-support/src/grass/grassEditorIntegration.test.ts
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/grass/grassASTConverter.ts
  packages/language-support/src/grass/grassParseErrors.test.ts
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.40
  packages/vscode-extension/package.json
Due: prettier --write

add same logic as used in linting to SymbolFetcher
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

align more with linting.ts, remove cleanupworkers
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove unused export
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

add check if query added data, if so refetch schema
  packages/query-tools/src/metadataPoller.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove feature flag for schema based completions, replace with feature flag for debugging only
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove feature flag from tests
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
