Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

cleanup per comment
  packages/react-codemirror-playground/package.json
Due: oxfmt

fix so we highlight valid query and then truncate away prefix
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
  packages/react-codemirror/src/lang-cypher/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/markdown.test.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
  packages/vscode-extension/tests/specs/api/hover/hoverFunctions.spec.ts
  packages/vscode-extension/tests/specs/api/hover/hoverProcedures.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Prism codemirror demo fix (#764)
  .changeset/rude-birds-scream.md
  .github/actions/demo-smoke-test/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  packages/react-codemirror-playground/.gitignore
  packages/react-codemirror-playground/e2e/smoke.spec.ts
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/playwright.config.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/prism-global.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

adds an input for fetch-dev-artifacts workflow to choose neo4j version for artifacts fetch (#713)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

add ugly hover-info to react-codemirror
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

vibecoded markdown styling
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

simplify comment
  oxlint.config.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove generated comments from configs, redundant fields in inheriting conf
  api-extractor-base.json
  packages/language-support/api-extractor.json
Due: oxfmt

switch so changeset update is minor and describe in more detail removed/changed exports
  .changeset/tired-owls-walk.md
Due: none

switch from regex for fence matching
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove some markdown-handling claude added that we dont use in hover-generated markdown
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/markdown.test.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

switch to wrapping signature
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

format
  api-extractor-base.json
Due: oxfmt

fix handling of underscores in params etc
  packages/react-codemirror/src/lang-cypher/markdown.test.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move mts to ts and set "type":"module" in root instead
  package.json
  packages/language-support/checkApiReport.ts
  scripts/runApiExtractor.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add missed change from merge
  packages/language-support/src/index.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

improve/expand markdown render testing for hoverInfo output
  packages/react-codemirror/src/lang-cypher/markdown.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

unify unit tests
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  package.json
  packages/language-support/vitest.config.mts
  packages/lint-worker/vitest.config.mts
  packages/query-tools/package.json
  packages/query-tools/src/tests/integration/pollingIntegrationTests.test.ts
  packages/query-tools/src/tests/integration/setupTestContainer.ts
  packages/query-tools/vitest.config.mts
  packages/react-codemirror/tsconfig.json
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vitest.config.mts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

format
  package.json
Due: oxfmt

update api-report after rebase
  packages/language-support/api-extractor/api-report.api.md
Due: none

Rename step now containing api-report check too
  .github/workflows/ci.yaml
Due: none

Add api extractor to language-support package (#756)
  .changeset/tired-owls-walk.md
  .gitattributes
  .github/workflows/ci.yaml
  .gitignore
  .oxfmtrc.json
  .vscode/settings.json
  api-extractor-base.json
  oxlint.config.ts
  package.json
  packages/language-support/README.md
  packages/language-support/api-extractor.json
  packages/language-support/api-extractor/api-report.api.md
  packages/language-support/checkApiReport.ts
  packages/language-support/package.json
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletionHelpers.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/debugTree.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/statementAtCaret.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlightingHelper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/types.ts
  packages/language-support/tsconfig.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/src/treeUtil.ts
  packages/react-codemirror/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
  pnpm-lock.yaml
  scripts/runApiExtractor.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update benchmarks to vitest 5
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.36
  packages/vscode-extension/package.json
Due: oxfmt

Update oxfmt to 0.67.0
  package.json
  packages/language-support/src/cypherLanguageService.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update dependencies to latest versions
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/react-codemirror/vite.config.ts
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update vscode-languageserver-types to 3.18.3
  packages/language-support/package.json
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/lint-worker/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update the VS Code extension's WDIO/mocha/sinon test stack
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/specs/webviews/connection.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update husky to 9.1.7
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: oxfmt

Update tailwindcss to 4.3.3
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/postcss.config.js
  packages/react-codemirror-playground/src/index.css
  packages/react-codemirror-playground/tailwind.config.ts
  packages/react-codemirror-playground/vite.config.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update vscode-languageserver to 10.1.1 and vscode-languageclient to 10.1.1
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

Update @types/vscode to 1.137.0
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/mocks/inMemorySecretStorage.ts
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update typescript to 7.0.2
  package.json
  packages/vscode-extension/src/css.d.ts
  packages/vscode-extension/tsconfig.node.json
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update vitest to 5.0.0
  package.json
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmarkQueries.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update @neo4j-ndl/base, react, and react-graph within their current peer range
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  patches/@neo4j-ndl__base@4.21.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt

handle *-bullets in render, improve comment
  packages/react-codemirror/src/lang-cypher/markdown.test.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix for new Diagnostic type
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix Tailwind rounded class
  packages/react-codemirror-playground/src/App.tsx
Due: none

Add desired strict tsconfig rules (#753)
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/query-tools/src/connectionErrorHandler.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/integration-tests/pollingIntegrationTests.test.ts
  packages/query-tools/src/queries/dataSummary.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/tsconfig.json
  packages/react-codemirror/vite.config.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
  packages/vscode-extension/tests/helpers.ts
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
