Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Add path segment completions (#641)
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPathSegmentCompletions.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/react-codemirror/src/e2e_tests/snippets.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

modify vitest.config.mts files to point to test dir
  packages/language-support/vitest.config.mts
  packages/lint-worker/vitest.config.mts
  packages/query-tools/vitest.config.mts
Due: none

modify vitest.config.mts files to point to test dir (#644)
  packages/language-support/vitest.config.mts
  packages/lint-worker/vitest.config.mts
  packages/query-tools/vitest.config.mts
Due: none

update to free version tag
  packages/lint-worker/package.json
Due: prettier --write

add improved errors to "expected" in procedure validation test
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes missing return, removes duplicate test and adds some to increase coverage
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch so graphSchema is only polled when we have <200 labels+rel types
  packages/query-tools/src/metadataPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

small rewrite to remove needless words
  packages/query-tools/src/metadataPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

no ? needed
  packages/query-tools/src/metadataPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

only poll if quick enough
  packages/query-tools/src/metadataPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/curvy-geckos-bow.md
Due: none

remove promise.race, replace with timeout in driver
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/neo4jConnection.ts
Due: prettier --write, eslint --fix --max-warnings 0

Only poll for graph schema when we dont have too many labels/relTypes (#646)
  .changeset/curvy-geckos-bow.md
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/neo4jConnection.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix so ":play" without guide is linted and ":play <guide name>" is not
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes tests
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/strong-trees-tie.md
Due: none

update tar dependency
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

Fix linting of ":play" (#648)
  .changeset/strong-trees-tie.md
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

update tar dependency (#649)
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

remove build step
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

remove build step (#650)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

Migrate from Prettier to Oxfmt for code formatting
  .github/workflows/ci.yaml
  .lintstagedrc.json
  .oxfmtrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add Oxfmt reformat commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Migrate ESLint to Oxlint with @nkzw/oxlint-config
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yaml
  .lintstagedrc.json
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Simplify oxlint config: drop @nkzw/oxlint-config and all JS plugins
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

chore: exclude semanticAnalysis.js from formatting
  .oxfmtrc.json
Due: prettier --write

Add --max-warnings 0; fix/suppress all warnings for clean lint
  oxlint.config.ts
  package.json
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/lint-worker/src/helpers.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/schemaPoller.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/utils.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/tests/mocks/inMemoryMemento.ts
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/specs/unit/connectionTreeDataProvider.spec.ts
  packages/vscode-extension/tests/testRunnerDebug.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: restore changeset files to original
  .changeset/chilled-dots-guess.md
  .changeset/curvy-singers-greet.md
  .changeset/eleven-scissors-type.md
  .changeset/little-vans-begin.md
  .changeset/loud-meals-attend.md
  .changeset/lucky-plants-own.md
  .changeset/ninety-panthers-pretend.md
  .changeset/spicy-cheetahs-repeat.md
  .changeset/strong-squids-relax.md
  .changeset/wet-tigers-beam.md
  .changeset/yellow-grapes-ring.md
  .changeset/young-llamas-teach.md
Due: none

chore: exclude html files from formatting, restore originals
  .oxfmtrc.json
  packages/react-codemirror-playground/index.html
  packages/react-codemirror/playwright/index.html
Due: prettier --write

Move no-misused-spread to config-level off, remove file disable comment
  oxlint.config.ts
  packages/vscode-extension/tests/specs/unit/connectionTreeDataProvider.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add performance optimization ideas beyond tsgo/oxlint/oxfmt
  PERFORMANCE_IDEAS.md
Due: none

Restore unbound-method: off for Playwright mount fixture false positives
  oxlint.config.ts
Due: prettier --write, eslint --fix --max-warnings 0
