Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

slight simplification in bufferstoformattedstring
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

this.getChunkList() -> this.chunkList
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds some more logging to the completion tests
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

comments better break before
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unecessary property from comment
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unused code
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

only set property on non chunk
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

all comments work
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

now handles syntax errors
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

all syntax error tests works
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

cursor pos now calculates correctly
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed space in reduce expression
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/cursorpos.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactore format function
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

simplified boolean expression
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

improved error handling
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

change function name
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

using column instead of calculate it each time
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unnecessary check
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixed shouldbreak function after new types
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactored by Claude
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

moved to only using state
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove unecessary comments
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

Polishes tests a bit
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

moved mustBreak property
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

renamed solutionSearch file and its exported function
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/lineFormatter.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds debug env variable so tests don't timeout when debugging
  .vscode/launch.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/testRunner.ts
  packages/vscode-extension/tests/testRunnerDebug.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unecessary group from map projection
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Extracts some more constant
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/constants.ts
Due: prettier --write, eslint --fix --max-warnings 0

updating the lock file
  package-lock.json
Due: prettier --write

triggering a param add pop-up if running a cypher with missing params (#452)
  package-lock.json
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/tests/fixtures/params.cypher
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates package-lock
  package-lock.json
Due: prettier --write

Removes switch database command from the palette
  packages/vscode-extension/package.json
Due: prettier --write

WIP
  package-lock.json
  package.json
  packages/language-support/src/index.ts
  packages/language-support/src/version.ts
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tests/mocks/mockSchemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup benchmarking
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmark.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

remove grafana upload
  .github/workflows/benchmark.yaml
Due: none

Removes switch database command from the palette (#471)
  packages/vscode-extension/package.json
Due: prettier --write

ignore tests
  packages/language-support/package.json
Due: prettier --write

ignore tests and picture for publish
  packages/language-support/package.json
Due: prettier --write

Upgrades formatter from V2 -> V3 (#460)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/comments.test.ts
  packages/language-support/src/tests/formatting/cursorpos.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

privatetrue
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
