Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

2025.07 linter release
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up feature flag and makes some small adjustments
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/lint-worker/src/helpers.ts
  packages/lint-worker/src/lintWorker.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/linters.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/syntaxes/cypher.json
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Small nit
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

More tweaks, still not working 😭
  packages/lint-worker/src/helpers.ts
  packages/lint-worker/src/tests/version.test.ts
  packages/lint-worker/src/version.ts
  packages/vscode-extension/src/linterSwitching.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Small tweaks so I can compile the project
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

Temp
  .vscode/launch.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/query-tools/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Sanitizes version
  packages/lint-worker/src/helpers.ts
  packages/query-tools/src/schemaPoller.ts
  packages/vscode-extension/src/linterSwitching.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds extra comment
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  .vscode/launch.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/query-tools/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Solves a bug
  packages/lint-worker/src/helpers.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes tests use flag
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Sets env variable correctly
  packages/vscode-extension/package.json
Due: prettier --write

Tries to fix test
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds message when having to over adjust the linter
  packages/lint-worker/src/helpers.ts
  packages/lint-worker/src/tests/version.test.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/linterSwitching.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tweaks linting messages a bit more
  packages/lint-worker/src/helpers.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/linterSwitching.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes suite.only
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up tests
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds explanation to the README and the CHANGELOG
  packages/lint-worker/src/helpers.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-linter-2025.png
  packages/vscode-extension/resources/images/demo-linter-5.png
  packages/vscode-extension/resources/images/demo-linter-automatic-adjusting.png
  packages/vscode-extension/resources/images/demo-linter-manual-adjusting.png
  packages/vscode-extension/src/commandHandlers/linters.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses product review
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/linters.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds ability to delete all connections
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/syntaxes/cypher.json
  packages/vscode-extension/tests/specs/unit/executeCommands.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Small README nit
  packages/vscode-extension/README.md
Due: none

Updates file missing for release to npm to work (#540)
  .github/workflows/ci.yaml
  .github/workflows/fetch-dev-artifacts.yaml
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write

Enables linter switching feature (#542)
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/lint-worker/package.json
  packages/lint-worker/src/helpers.ts
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/src/tests/version.test.ts
  packages/lint-worker/src/version.ts
  packages/query-tools/src/schemaPoller.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-linter-2025.png
  packages/vscode-extension/resources/images/demo-linter-5.png
  packages/vscode-extension/resources/images/demo-linter-automatic-adjusting.png
  packages/vscode-extension/resources/images/demo-linter-manual-adjusting.png
  packages/vscode-extension/src/commandHandlers/linters.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Harness for linter switching tests
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/specs/unit/executeCommands.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

tests reading tag from file
  latestNeoVersion.txt
  package.json
Due: prettier --write

adds writing to version file on artifact fetch
  .github/workflows/fetch-dev-artifacts.yaml
  latestNeoVersion.txt
Due: none

rename file for clarity, move to lint-worker package
  .github/workflows/fetch-dev-artifacts.yaml
  package.json
  packages/lint-worker/server-version-tag.txt
Due: prettier --write

adds the new file to the PR created by the workflow
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

release going to verdaccio
  package.json
Due: prettier --write

Adds basic tests
  packages/vscode-extension/src/commandHandlers/linters.ts
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
  packages/vscode-extension/tests/specs/unit/executeCommands.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

moves throw outside of waitUntil, so we don't throw if first run fails
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

makes approach more like documentation
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

modifies message to clearly separate "expected notification" - removes part of message that can't be known before running the wait
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

add return false when function fails
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

attempts to fix "element not interactible" by retrying dismiss
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

update lint-staged to fix bug that would occur when commiting overwritten server-version-tag.txt
  package.json
  pnpm-lock.yaml
Due: prettier --write

nits
  packages/vscode-extension/src/commandHandlers/linters.ts
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

makes tag-saving step more readable
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

Automate lint-worker releases (#544)
  .github/workflows/fetch-dev-artifacts.yaml
  package.json
  packages/lint-worker/server-version-tag.txt
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
