Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/hungry-beans-eat.md
Due: none

Avoids reparses in the signature help (#168)
  packages/language-server/src/signatureHelp.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/react-codemirror/src/lang-cypher/signature-help.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds test for a bug with an empty query in VSCode
  packages/vscode-extension/e2e_tests/fixtures/syntax-validation.cypher
  packages/vscode-extension/e2e_tests/tests/syntax-validation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug
  packages/language-server/src/linting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Splits statements for the parsing
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes it compile
  packages/language-server/src/linting.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/react-codemirror-playground/src/tree-util.ts
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix bad merge
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Console command support (:use, :params, :clear, history) (#165)
  .changeset/hungry-beans-eat.md
  packages/language-server/src/linting.ts
  packages/language-support/package.json
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
  packages/language-support/src/tests/lexer.test.ts
  packages/react-codemirror/src/icons.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
  packages/react-codemirror/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
  packages/react-codemirror/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Corrects a bug with an empty query in VSCode (#172)
  packages/language-server/src/linting.ts
  packages/vscode-extension/e2e_tests/fixtures/syntax-validation.cypher
  packages/vscode-extension/e2e_tests/tests/syntax-validation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix
  package-lock.json
  packages/react-codemirror-playground/vite.config.ts
  packages/react-codemirror/src/lang-cypher/lint-worker.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
Due: prettier --write, eslint --fix --max-warnings 0

fake bump
  packages/react-codemirror/package.json
Due: prettier --write

Uncomments the benchmarks
  package-lock.json
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
  packages/react-codemirror-playground/src/tree-util.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix another TODO
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds very small test for multi-statements auto-completion
  packages/language-support/src/tests/autocompletion/variable-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove workerpool
  package-lock.json
  packages/react-codemirror/package.json
Due: prettier --write

add changeset
  .changeset/big-maps-appear.md
Due: none

fix: add type definitions to export
  packages/language-support/package.json
Due: prettier --write

mlan
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

update lock
  package-lock.json
Due: prettier --write

fix build
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: add type definitions to export (#176)
  packages/language-support/package.json
Due: prettier --write

support toggling line numbers
  package-lock.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
Due: prettier --write

ensure min-height works as intended
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

enable shaking when sem analysis is esm
  packages/language-support/package.json
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/src/lang-cypher/workerPool.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/afraid-beans-juggle.md
Due: none

Adds new version of parser
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
Due: none

Makes necessary changes to the grammar and tests
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses the pr reviews
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/react-codemirror-playground/src/tree-util.ts
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Addresses more pr comments
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Splits parsing of statements (#171)
  package-lock.json
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/variableCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/react-codemirror-playground/src/treeUtil.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds caret to autocompletions
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

prep for vscode
  package-lock.json
  packages/language-server/package.json
  packages/vscode-extension/.vscodeignore
  packages/vscode-extension/CONTRIBUTING.md
  packages/vscode-extension/images/logo.png
  packages/vscode-extension/package.json
Due: prettier --write

readme cleanup
  packages/vscode-extension/CONTRIBUTING.md
  packages/vscode-extension/README.md
  packages/vscode-extension/images/demo.gif
  packages/vscode-extension/package.json
Due: prettier --write

touchups
  CONTRIBUTING.md
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
Due: prettier --write

wording
  CONTRIBUTING.md
  README.md
Due: none

self reivew
  package-lock.json
  packages/language-server/package.json
  packages/vscode-extension/package.json
Due: prettier --write

self reivew
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
