Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

Brow-341: inline widget panel (#683)
  .changeset/five-ghosts-joke.md
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

switch new index in e2e test
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: none

handle negative error positions in react-codemirror, filter out "Parameter not defined" errors in both vscode and codemirror
  packages/language-server/src/linting.ts
  packages/language-support/src/index.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/misc.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add bailout for long regex-matching
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix tester method to use lintPoint for "query cannot conclude with" errors
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.9
  packages/vscode-extension/package.json
Due: oxfmt

change to get PR (pre-schema based linting)
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.10
  packages/vscode-extension/package.json
Due: oxfmt

Pin CI Node to 24.15.0 (24.16.0 breaks browser test jobs)
  .github/actions/setup-and-build/action.yaml
Due: none

update wdio/playwright
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

fix return type in webviewutils
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

pin node version to fix webdrivreio
  .github/actions/setup-and-build/action.yaml
Due: none

modify to provide filter, not filter-calling method. replace regex usage
  packages/language-server/src/linting.ts
  packages/language-support/src/index.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/misc.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

try removing awaits on "ChainablePromiseElement"s
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Pin CI Node to 24.15.0 (24.16.0 breaks browser test jobs) (#691)
  .github/actions/setup-and-build/action.yaml
Due: none

switch up so we return message from deepest gql cause instead of legacy message in query execution
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

simplify
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add codemirror merge diff view
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/diffView.ts
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/themes.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.11
  packages/vscode-extension/package.json
Due: oxfmt

enable gutter for mergeView
  packages/react-codemirror/src/diffView.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

expand timeouts for linter downloading tests
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add expanded timeout to another test where we have download + lint
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix test name
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add extended timeouts for some more flaky tests
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

increase timeout further for test still flaky
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

use ndl token colors for diff view
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/themes.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add descriptive method to "cleanedErrors"
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix comment
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add react codemirror demo for diff view
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/fuzzy-boxes-kneel.md
Due: none

try capping wait time
  packages/vscode-extension/tests/helpers.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.12
  packages/vscode-extension/package.json
Due: oxfmt

avoid saveDefaultConnection race
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

suggested modification to demo
  packages/react-codemirror-playground/src/App.tsx
Due: none

bump pre-release version to 1.17.13
  packages/vscode-extension/package.json
Due: oxfmt

try removing extended timeouts in lintSwitching spec
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add chagngeset
  .changeset/major-beds-wave.md
Due: none

remove unnecessary reanchor for inline panel when diff view is rendered
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
