Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

move consts
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove testdir
  testdir/file.cy
  testdir/file.cypher
  testdir/nestedtestdir/file.cy
Due: none

factor out running code
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

clarify -c option
  packages/language-support/README.md
Due: none

remove unnecessary test
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds cql to the extensions the formatter can take
  packages/language-support/src/formatting/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds CLI executable cypherfmt to the language support package (#518)
  packages/language-support/README.md
  packages/language-support/package.json
  packages/language-support/src/formatting/cli.ts
  packages/language-support/src/tests/formatting/cli-test-files/formatted.cy
  packages/language-support/src/tests/formatting/cli-test-files/nested/also-not-formatted.cy
  packages/language-support/src/tests/formatting/cli-test-files/not-formatted.cy
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds version comparison logic, and allows switching of linter used in vscode, (temporarily as local file)
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/language-support/src/index.ts
  packages/language-support/src/version.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/schemaPoller.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/languageClientService.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds downloading and unpacking lintworker - calls these if server version check shows we need it.
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/index.ts
  packages/language-support/src/version.ts
  packages/lint-worker/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/tests/specs/api/formatting.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

merge main
  packages/language-support/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

removes needless formatting test workaround, updates lockfile
  packages/vscode-extension/tests/specs/api/formatting.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

adds a feature flag to toggle using the new feature or not
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/featureFlags.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

creates lintworker helpers file
  packages/language-server/src/linting.ts
  packages/lint-worker/package.json
  packages/lint-worker/src/helpers.ts
  packages/lint-worker/src/index.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/connectionService.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

clean up some todos
  packages/lint-worker/src/helpers.ts
  packages/query-tools/src/schemaPoller.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove 1 more todo after thinking on it
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

more self review
  packages/language-support/src/version.ts
  packages/lint-worker/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes tests not working
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improves inline comments (#513)
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes compilation
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes extra failing test
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: none

Updates cypher.json file
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write

Adds changeset
  .changeset/salty-houses-camp.md
Due: none

start
  packages/query-tools/src/index.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryResultsTypes.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

remove comments
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

bottom panel ui polish
  packages/vscode-extension/resources/styles/components/collapsible.css
  packages/vscode-extension/resources/styles/components/vizWrapper.css
  packages/vscode-extension/src/components/collapsible.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualizationProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding themeUpdate support
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/controllers/queryVisualization.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryResultsTypes.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualizationProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

lint fix
  packages/vscode-extension/src/components/collapsible.tsx
Due: none

Polish the bottom panel UI (#526)
  packages/vscode-extension/resources/styles/components/collapsible.css
  packages/vscode-extension/resources/styles/components/vizWrapper.css
  packages/vscode-extension/src/components/collapsible.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/controllers/queryVisualization.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryResultsTypes.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualizationProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/polite-dolls-glow.md
Due: none

remove flag for query results bottom panel
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/querySummary.ts
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
