Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

test only flaky + add sleep before connect
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove suite.only
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

add back only + add sleep locally, removing breaking import
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove sleep
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

run only param suite, but all tests
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

all suites but connecting via connectionSection
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

old connect method, but with vscodeProxyOptions (+types)
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

try extending timeouts
  packages/vscode-extension/tests/runWebviewTests.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds building button to the extension
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changelog
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Adds more tests
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Reshapes tests
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds extra test
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes double call
  packages/vscode-extension/src/linterService.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch flaky test to use new connection method, remove old
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds more tests for the linter switching feature (#545)
  packages/vscode-extension/src/commandHandlers/linters.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/linterService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

add new method for handling queries that need implicit transactions
  packages/query-tools/src/neo4jConnection.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

join both run-cypher methods to one method, with flag for implicit transaction
  packages/query-tools/src/neo4jConnection.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/wild-rooms-shop.md
Due: none

switch flaky test to use new connection method, remove old (#549)
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix queryExecution spec
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Re-run queries that need implicit transaction (#550)
  .changeset/wild-rooms-shop.md
  packages/query-tools/src/neo4jConnection.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes param spec too, adds option to expect empty summary
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/deep-symbols-strive.md
Due: none

init
  rfc/symbol-table-completions-design.md
Due: none

anotheriteration
  oskar-design-docs/symbol-table-completions-design.md
Due: none

update
  oskar-design-docs/symbol-table-completions-design.md
  rfc/symbol-table-completions-design.md
Due: none

updates vscode version for webview tests
  packages/vscode-extension/tests/runWebviewTests.ts
Due: prettier --write, eslint --fix --max-warnings 0

uses version with compatible chrome that also does not introduce new issues
  packages/vscode-extension/tests/runWebviewTests.ts
Due: prettier --write, eslint --fix --max-warnings 0

Bugfix webview tests (#558)
  packages/vscode-extension/tests/runWebviewTests.ts
Due: prettier --write, eslint --fix --max-warnings 0

mostly working param+query tests
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

add implicit transactions query test
  packages/vscode-extension/tests/fixtures/call-in-transactions.cypher
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump versions
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: prettier --write

some cleanup
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

update playwright dependencies
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: prettier --write

remove error overlapping with deprecation in strikethrough tests
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: none

updates codemirror packages
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
