Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

switches to 1.11.0 over 1.10.2
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

fix lint
  .gitignore
  packages/lint-worker/package-lock.json
  packages/lint-worker/package.json
  packages/lint-worker/src/viteEnv.d.ts
  packages/lint-worker/src/webEntrypoint.ts
  packages/lint-worker/tsconfig.json
  packages/lint-worker/tsconfig.node.json
  packages/lint-worker/vite.config.ts
  packages/react-codemirror-playground/stats.html
  packages/react-codemirror-playground/vite.config.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

adf
  packages/language-server/meta.json
  packages/language-server/package.json
  packages/language-server/src/linting.ts
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/lint-worker/src/nodeEntrypoint.ts
  packages/lint-worker/tsconfig.node.json
  packages/lint-worker/vite.config.node.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/src/server.ts
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

mergemain
  pnpm-lock.yaml
Due: none

Add file watching with automated reloads for VSCode & Codemirror (#487)
  .eslintignore
  .eslintrc.js
  .nvmrc
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  packages/language-server/package.json
  packages/language-server/src/lint-worker.ts
  packages/language-support/package.json
  packages/query-tools/package.json
  packages/query-tools/src/metadataPoller.ts
  packages/react-codemirror/package.json
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/esbuild-extension.mts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tsconfig.node.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, eslint --fix --max-warnings 0

This way it works?
  packages/react-codemirror-playground/stats.html
  packages/react-codemirror/.gitignore
  packages/react-codemirror/package.json
  packages/react-codemirror/tsconfig.json
Due: prettier --write

Updates vscode extension version to 1.11.0 (#499)
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

removes zero-padding
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

removes zero-padding (#502)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

fix accidental duplication of script
  packages/language-server/package.json
Due: prettier --write

Debugs why the file is not there?
  .github/actions/codemirror-e2e-tests/action.yaml
Due: none

adding the bottom panel basics
  package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetails.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualization.ts
Due: prettier --write, eslint --fix --max-warnings 0

updates playwright error message check to display received hover messages
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes checkHoverMessage to work for concattenated linting messages
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds test with multiple linting messages at once (warnings + error)
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: none

removes duplicate "type" field, accidental package-lock
  packages/language-support/package.json
  packages/lint-worker/package-lock.json
Due: prettier --write

showing statements in query details
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetails.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualizationProvider.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tabs to error message
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds null-check on tooltips, to be safe
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes the problem hopefully?
  packages/react-codemirror/package.json
Due: prettier --write

More lsing
  .github/actions/codemirror-e2e-tests/action.yaml
Due: none

Forces the cache to look for packages/react-codemirror/src/lang-cypher/lintWorker.mjs
  .github/actions/setup-and-build/action.yaml
Due: none

adding collapsible statements
  packages/vscode-extension/resources/styles/queryDetails.css
  packages/vscode-extension/src/components/collapsible.tsx
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

Brings back feature flags
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

minor rewrite
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

changes to look at individual warning/error elements in hover check
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

removes comment
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes tests where we only checked for substring of actual error message
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: none

adding bottom panel changes behind a feature flag
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/queryDetails.css
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Remove "preview" from vscode readme
  packages/vscode-extension/README.md
Due: none

cleanup #1 - rename bundle -> copy, undo ls, remove unused export
  .github/actions/codemirror-e2e-tests/action.yaml
  packages/language-server/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

adding basic communication between query result views
  packages/vscode-extension/resources/styles/queryDetails.css
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/controllers/queryVisualization.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryVisualizationProvider.ts
  packages/vscode-extension/src/webviews/queryResults/viewRegistry.ts
Due: prettier --write, eslint --fix --max-warnings 0

Remove "preview" from vscode readme (#504)
  packages/vscode-extension/README.md
Due: none

cleanup #2 - moves back "version" property where it was, updates readme, node version in lint-worker package, removes lint-worker.ts
  packages/language-server/src/lint-worker.ts
  packages/language-support/package.json
  packages/lint-worker/README.md
  packages/lint-worker/package.json
Due: prettier --write, eslint --fix --max-warnings 0

cleanup nbr 3, remove rollup-plugin-visualizer, stray tab, mini readme change, restore playwright-ct.config.ts
  .github/actions/codemirror-e2e-tests/action.yaml
  packages/lint-worker/README.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/vite.config.ts
  packages/react-codemirror/playwright-ct.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

fixing the view not being mounted error
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: prettier --write, eslint --fix --max-warnings 0

Displays received error/warning messages in playwright (#503)
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

double check on file in src
  packages/react-codemirror/package.json
Due: prettier --write
