Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

self reivew
  CONTRIBUTING.md
  packages/vscode-extension/package.json
Due: prettier --write

fix crash
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Solves bug with signature help and empty schema
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Small nit
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds caret to auto-completions (#174)
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

renames settings
  packages/vscode-extension/README.md
Due: none

clarity
  packages/vscode-extension/README.md
Due: none

rename to connectionURL
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
Due: prettier --write

review
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
Due: prettier --write

rename setting
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/vscode-extension/e2e_tests/fixtures/.vscode/settings-template.json
Due: prettier --write, eslint --fix --max-warnings 0

fix lock file
  package-lock.json
Due: prettier --write

updatebuildscript
  packages/vscode-extension/package.json
Due: prettier --write

also include lang config
  packages/vscode-extension/.vscodeignore
Due: none

update trigger characters
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes clean/build cache
  package-lock.json
  package.json
  packages/language-server/package.json
  packages/react-codemirror-playground/package.json
  turbo.json
  vendor/antlr4-c3/package.json
Due: prettier --write

simplify dev cmd
  turbo.json
Due: prettier --write

add pre launch task
  .vscode/launch.json
  package-lock.json
  package.json
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

update trigger characters (#182)
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

implement basic snippet completions for vscode & codemirror
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

Wires the semantic analysis of procedures
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/index.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/types.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/queries/procedures.ts
  packages/schema-poller/src/types/sdkTypes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Wires functions registry
  packages/language-support/src/types.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes functions registry for list types
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds more tests for semantic validation, makes it work with new TeaVM
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/testData.ts
  packages/language-support/src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds more tests for functions
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes VSCode debugging
  .vscode/launch.json
Due: prettier --write

Wires deprecation information in the semantic analysis
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes the tests pass
  packages/language-support/src/index.ts
  packages/schema-poller/src/queries/procedures.ts
  packages/vscode-extension/e2e_tests/tests/signatureHelp.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Prepare for extension publishing (#180)
  CONTRIBUTING.md
  README.md
  package-lock.json
  packages/language-server/package.json
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/vscode-extension/.vscodeignore
  packages/vscode-extension/README.md
  packages/vscode-extension/e2e_tests/fixtures/.vscode/settings-template.json
  packages/vscode-extension/images/demo.gif
  packages/vscode-extension/images/logo.png
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Wires semantic analysis for procedures and functions (#175)
  .vscode/launch.json
  package-lock.json
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/testData.ts
  packages/language-support/src/types.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/queries/functions.ts
  packages/schema-poller/src/queries/procedures.ts
  packages/schema-poller/src/types/sdkTypes.ts
  packages/vscode-extension/e2e_tests/tests/signatureHelp.spec.ts
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Bumps version
  .changeset/pre.json
  .changeset/silver-students-wait.md
  packages/language-server/CHANGELOG.md
  packages/language-server/package.json
  packages/language-support/CHANGELOG.md
  packages/language-support/package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/schema-poller/CHANGELOG.md
  packages/schema-poller/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

Updates the package lock
  package-lock.json
Due: prettier --write

Bumps version (#186)
  .changeset/pre.json
  .changeset/silver-students-wait.md
  package-lock.json
  packages/language-server/CHANGELOG.md
  packages/language-server/package.json
  packages/language-support/CHANGELOG.md
  packages/language-support/package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/schema-poller/CHANGELOG.md
  packages/schema-poller/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

Polishes last bits for publishing the extension
  .changeset/pre.json
  package-lock.json
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

Polishes last bits for publishing the extension (#187)
  .changeset/pre.json
  package-lock.json
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

msllane
  package-lock.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/vscode-extension/.vscodeignore
  packages/vscode-extension/e2e_tests/fixtures/signature-help.cypher
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/syntaxes/injection.json
  packages/vscode-extension/syntaxes/injection2.json
Due: prettier --write, eslint --fix --max-warnings 0

Adds preparser grammar
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
