Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

update package exports
  package-lock.json
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/schema-poller/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/fixtures/textmate/simple-match.js
  packages/vscode-extension/tsconfig.json
  tsconfig.json
  vendor/antlr4-c3/package.json
Due: prettier --write

update package exports
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/schema-poller/tsconfig.commonjs.json
Due: prettier --write

fix type exports
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adjusts job to update grammar and semantic analysis (#445)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

modifies the workflow to check date so scheduled run only fetches on the first friday
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

Add Java 21 setup to github actions
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/publish-vscode-extension.yaml
Due: none

Prepares VSCode release
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-add-parameter.png
  packages/vscode-extension/resources/images/demo-connect.png
  packages/vscode-extension/resources/images/demo-disconnect.png
  packages/vscode-extension/resources/images/demo-embedded-cypher-menus.png
  packages/vscode-extension/resources/images/demo-execution.png
  packages/vscode-extension/resources/images/demo-manage-connection.png
  packages/vscode-extension/resources/images/demo-new-connection.png
Due: prettier --write

Self review
  packages/vscode-extension/README.md
Due: none

triggering a param add pop-up if running a cypher with unset params
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/tests/fixtures/params.cypher
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

update eslint and tsconfig
  .eslintrc.js
  packages/vscode-extension/tsconfig.node.json
Due: prettier --write

increasing pauses for tests
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr feedback
  packages/vscode-extension/README.md
  packages/vscode-extension/resources/images/demo-param-editing.png
Due: none

Prepares VSCode release (#451)
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-add-parameter.png
  packages/vscode-extension/resources/images/demo-connect.png
  packages/vscode-extension/resources/images/demo-disconnect.png
  packages/vscode-extension/resources/images/demo-embedded-cypher-menus.png
  packages/vscode-extension/resources/images/demo-execution.png
  packages/vscode-extension/resources/images/demo-manage-connection.png
  packages/vscode-extension/resources/images/demo-new-connection.png
  packages/vscode-extension/resources/images/demo-param-editing.png
Due: prettier --write

shift to double braces
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

update README
  packages/intellij-extension/README.md
Due: none

WIP, adds debounce.
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds DEBOUNCE_TIME to export from react-codemirror
  packages/react-codemirror/src/index.ts
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

updt
  package-lock.json
  package.json
  packages/language-server/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

restore vscode
  .eslintrc.js
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/fixtures/textmate/simple-match.js
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

fix path test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch to just use timeout + clearing of old timeouts
  packages/react-codemirror/src/index.ts
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

Modifies fetch-dev-artifacts to only fetch on the first friday (#450)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

fixes formatting from visitRegularQuery to visitUnion since regularQuery has expanded from just union
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove all indentation from groups2
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

add indentation in a few places, fixes a few tests
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

add for match, nodepattern, returnclause
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

190: some more indentation
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix parenthesized path examples
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

indent parenthesized exprs
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds icons for editing/deleting connections
  packages/vscode-extension/package.json
Due: prettier --write

indent ids, maybe not entirely stupid?
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding semantic validation for missing paramters
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding the changeset
  .changeset/rich-fans-happen.md
Due: none

add indentids
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

transfer active indents across groups
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

updating the lock file
  package-lock.json
Due: prettier --write

Updates package-lock
  package-lock.json
Due: prettier --write
