Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

bump pre-release version to 1.17.2
  packages/vscode-extension/package.json
Due: oxfmt

remove mini-bug in formatter fix
  packages/language-support/src/formatting/formatting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Initial draft by claude - manual fix for next to have double break, fix test of vector_norm test, manual addition of createAlias/createDb handling + testing
  .claude/settings.local.json
  CLAUDE.md
  packages/language-support/src/antlr-grammar/query.txt
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.3
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.17.4
  packages/vscode-extension/package.json
Due: oxfmt

Fix formatting on antlr error recovery (#668)
  .changeset/lazy-onions-unite.md
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
  packages/language-support/src/tests/formatting/testutil.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.5
  packages/vscode-extension/package.json
Due: oxfmt

add indent to authrulesetclause like in docs
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

handle forList clause
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

clean up visitQueryWithLocalDefinitions, add testing of local callable formatting
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove local claude files, gitignore .claude
  .claude/settings.local.json
  .gitignore
  packages/language-support/src/antlr-grammar/query.txt
Due: oxfmt

adds changeset
  .changeset/stupid-taxis-smash.md
Due: none

bump pre-release version to 1.17.6
  packages/vscode-extension/package.json
Due: oxfmt

fix server version checking, some small cleaning
  packages/language-server/src/server.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove getSymbolTablesForQuery helper
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/helpers.ts
  packages/language-support/src/tests/syntaxValidation/symbolTable.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add graphSchema to testData
  packages/language-support/src/tests/testData.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add a break in processJobQueue when throwing to fix crashloop
  packages/language-server/src/server.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

improve messages explaining differences between new/old workers
  packages/language-server/src/server.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/strong-masks-push.md
Due: none

bump pre-release version to 1.17.7
  packages/vscode-extension/package.json
Due: oxfmt

Fix typo in query-result.ts comment: "veriy" -> "verify"
  packages/query-tools/src/cypher-execution/query-result.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Improve comment clarity in query-result.ts default vector type fallback
  packages/query-tools/src/cypher-execution/query-result.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move breakLine and fix indentation of search-clause
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add handling for allReduceInvalidArguments. Test allReduce formatting, both with invalid and valid argument parsing paths.
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove uppercasing of vector_distance/vector_norm, rename some tests.
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add formatting for graph type
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix bug on RETURN ALL
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove claude.md
  CLAUDE.md
Due: none

fix(language-server): wait for cancellation before re-acquiring lint worker
  packages/language-server/src/linting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix rule that relied on concating label type
  packages/language-support/src/formatting/formatting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add handling for when we end on error node
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix symbols
  .lintstagedrc.json
  packages/language-support/src/lexerSymbols.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/purple-signs-change.md
Due: none

adjust changeset
  .changeset/stupid-taxis-smash.md
Due: none
