Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

nullish check for driver
  packages/schema-poller/src/neo4jConnection.ts
Due: prettier --write, eslint --fix --max-warnings 0

update readme, add some new demo images
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-connect.png
  packages/vscode-extension/resources/images/demo-disconnect.png
  packages/vscode-extension/resources/images/demo-manage-connection.png
Due: prettier --write

update images
  packages/vscode-extension/resources/images/demo.gif
  packages/vscode-extension/resources/images/logo.png
  packages/vscode-extension/resources/images/neo4j.png
Due: none

Pushes the changes to the grammar
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Places the signature help tooltip below instead of above (#219)
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates packages to remove security vulnerabilities (#230)
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

Tries increasing e2e tests timeout (#231)
  packages/vscode-extension/e2e_tests/testRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adjusts VSCode extension GitHub Actions job (#228)
  .github/workflows/publish-vscode-extension.yaml
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

improves debugability of vscode extension
  .eslintignore
  .vscode/launch.json
  package.json
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/esbuild.js
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

merge main, remove debug changes, work on PR feedback
  .eslintignore
  .github/workflows/publish-vscode-extension.yaml
  package-lock.json
  package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
  packages/vscode-extension/esbuild.js
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Adds extra test, rewords comment, changes variable name
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Rewords comment a little bit more
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

execute single line query on enter by defautl
  package-lock.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: prettier --write

Create loud-meals-attend.md
  .changeset/loud-meals-attend.md
Due: none

Add warnings on functions that don't exist in the database
  package-lock.json
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

faster history movement
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/historyNavigation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/clean-apes-pay.md
Due: none

remove filter and depend only on dev task
  package-lock.json
  package.json
  turbo.json
Due: prettier --write

create debug test runner that creates a test container for debugging tests
  .vscode/launch.json
  packages/vscode-extension/e2e_tests/main.ts
  packages/vscode-extension/e2e_tests/setupTestContainer.ts
  packages/vscode-extension/e2e_tests/testRunnerDebug.ts
Due: prettier --write, eslint --fix --max-warnings 0

faster history movement (#235)
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/historyNavigation.ts
Due: prettier --write, eslint --fix --max-warnings 0

review comments
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: none

remove the connect flag, rely only on Connection state
  .vscode/launch.json
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/setup.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

create separate functions for extension activation and deactivation events
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

add compiled language server files to outfiles for launch tasks
  .vscode/launch.json
Due: prettier --write

Improve debug-ability of vscode extension (#232)
  .eslintignore
  .vscode/launch.json
  package-lock.json
  package.json
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/main.ts
  packages/vscode-extension/e2e_tests/setupTestContainer.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/testRunnerDebug.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/esbuild.js
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

change port input type to number
  packages/vscode-extension/resources/styles/vscode.css
  packages/vscode-extension/src/webviews/connectionPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix issue where database name was not completed when creating alias (#218)
  .changeset/clean-apes-pay.md
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove schemapollerconnectionmanager functions into connection service module
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerEventHandlers.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
  packages/vscode-extension/src/schemaPollerEventHandlers.ts
  packages/vscode-extension/src/uiUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

update error messages
  packages/schema-poller/src/connectionErrorHandler.ts
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/connectionPanel.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerEventHandlers.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/schemaPollerEventHandlers.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

regen package lockfile correctly
  package-lock.json
  packages/vscode-extension/e2e_tests/mocks/mockExtensionContext.ts
Due: prettier --write, eslint --fix --max-warnings 0

update package.json, regen lockfile
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

regen lockfile
  package-lock.json
Due: prettier --write

remove mock context change
  packages/vscode-extension/e2e_tests/mocks/mockExtensionContext.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix bug with state remaining as activating
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix schema poller handler tests
  packages/vscode-extension/e2e_tests/mocks/setupMockContextStubs.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionPanel.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerEventHandlers.spec.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/schemaPollerEventHandlers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adding connection state to database side panel (#226)
  package-lock.json
  packages/language-server/src/server.ts
  packages/schema-poller/src/connectionErrorHandler.ts
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/README.md
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/mocks/mockLanguageClient.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/setupMockContextStubs.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionPanel.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerEventHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/setup.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-connect.png
  packages/vscode-extension/resources/images/demo-disconnect.png
  packages/vscode-extension/resources/images/demo-manage-connection.png
  packages/vscode-extension/resources/styles/vscode.css
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/getNonce.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/schemaPollerEventHandlers.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

Function not found is case insensitive in built-in functions
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds query execution capabilities
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/output.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/resultUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Splits statements with ; correctly
  package-lock.json
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/react-codemirror-playground/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up a bit
  .vscode/settings.json
  packages/language-support/src/parserWrapper.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0
