Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

Add changeset
  .changeset/warm-cars-chew.md
Due: none

Upgrade to vite 8 (#742)
  .changeset/warm-cars-chew.md
  package.json
  packages/language-support/tsconfig.json
  packages/lint-worker/tsconfig.json
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vite.config.ts
  pnpm-lock.yaml
  tsconfig.node.json
  vitest.config.mts
  vitest.workspace.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add api-extractor conf, modify exports to avoid api report issues
  .github/workflows/ci.yaml
  api-extractor-base.json
  packages/language-support/api-extractor.json
  packages/language-support/api-extractor/api-report.api.md
  packages/language-support/checkApiReport.ts
  packages/language-support/package.json
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/statementAtCaret.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
  scripts/runApiExtractor.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix merge changes
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/vite.config.ts
  vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Make tsconfig consistent across packages and fix type errors (#745)
  package.json
  packages/language-support/tsconfig.node.json
  packages/lint-worker/tsconfig.node.json
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/tsconfig.json
  packages/query-tools/tsconfig.node.json
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vite.config.ts
  packages/vscode-extension/tsconfig.node.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

WIP set strict in tsconfig
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix type errors
  packages/language-support/src/formatting/cli.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/standardizer.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/historyNavigation.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/src/richClipboardCopier.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix DbSchema type mismatch
  packages/lint-worker/src/lintWorker.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.29
  packages/vscode-extension/package.json
Due: oxfmt

comment out some cases where we overwrite the same rule. Fix wrong includeForgottenExports in base. Adjust some comments. Remove type that was just string
  api-extractor-base.json
  packages/language-support/api-extractor.json
  packages/language-support/api-extractor/api-report.api.md
  packages/language-support/src/index.ts
  packages/language-support/src/types.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

pin playwright dependencies to the same version for compatibility across interacting dependencies
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: oxfmt

regen api-report
  packages/language-support/api-extractor/api-report.api.md
Due: none

reuse languageService in old hoverFunction tests
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix review comments
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Simplify type cast
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

Change Array type cast
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Set strict to true in base tsconfig (#747)
  packages/language-support/src/formatting/cli.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/standardizer.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/historyNavigation.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/src/richClipboardCopier.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update the editor action style and calc location
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/nervous-poems-argue.md
Due: none

bump pre-release version to 1.19.30
  packages/vscode-extension/package.json
Due: oxfmt

Handle grammar-defined functions (#740)
  .changeset/dark-lions-dig.md
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/syntaxHighlighting/function.test.ts
  packages/vscode-extension/tests/specs/api/syntaxHighlighting.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Enable additional oxlint plugins.
  oxlint.config.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Bump oxlint and move type-aware linting into config.
  .lintstagedrc.json
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix TS error
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Disable vitest/expect-expect and fix new plugin findings.
  oxlint.config.ts
  packages/language-support/src/tests/autocompletion/expressionCompletion.test.ts
  packages/language-support/src/textMateGrammar.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/integration-tests/setupTestContainer.ts
  packages/react-codemirror/playwright/index.tsx
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/tests/setupTestContainer.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix remaining oxlint findings from the new plugins and type-aware checks.
  oxlint.config.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/variableCompletion.test.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/tsconfig.json
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/richClipboardCopier.test.ts
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tsconfig.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update tsconfig module and moduleResolution
  packages/vscode-extension/tsconfig.json
  tsconfig.base.json
Due: oxfmt

Clean up PR
  oxlint.config.ts
  pnpm-workspace.yaml
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Import act from react instead of react-dom/test-utils
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

Bump React and related types to 19
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

Upgrade Needle packages to v4 for React 19 peer support.
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/package.json
  packages/react-codemirror/src/ndlTokensCopy.test.ts
  packages/react-codemirror/src/ndlTokensCopy.ts
  packages/react-codemirror/src/themes.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/components/collapsible.css
  packages/vscode-extension/resources/styles/components/vizWrapper.css
  packages/vscode-extension/resources/styles/ndl.css
  packages/vscode-extension/resources/styles/queryDetails.css
  packages/vscode-extension/resources/styles/queryVisualization.css
  packages/vscode-extension/src/components/collapsible.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/src/webviews/controllers/queryVisualization.tsx
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryResultsTypes.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add changeset
  .changeset/cold-coats-agree.md
Due: none

add separate export for antlr grammar, include instructions to gen parsers in readme. Add changeset
  .changeset/tired-owls-walk.md
  packages/language-support/README.md
  packages/language-support/package.json
Due: oxfmt

Fix review comments
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Configure oxlint rules (#746)
  .lintstagedrc.json
  oxlint.config.ts
  package.json
  packages/language-support/src/tests/autocompletion/expressionCompletion.test.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/variableCompletion.test.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/language-support/src/textMateGrammar.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/integration-tests/setupTestContainer.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/tsconfig.json
  packages/react-codemirror/playwright/index.tsx
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/richClipboardCopier.test.ts
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/src/webviews/controllers/queryDetails.tsx
  packages/vscode-extension/tests/setupTestContainer.ts
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add hover-on-variable
  packages/language-server/src/server.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/hoverInformation/variableHover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/labelTreeRender.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

handle hoverinfo like other language support features - vscode-languageserver-types based return value, in language-support, and separate file in language-server to make server.ts logic small.
  packages/language-server/src/hoverInfo.ts
  packages/language-server/src/server.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix missing check for "no symbol" in hover.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/hoverSanityCheck.test.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0
