Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

rebasing fixes
  packages/ui-components/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

fixing tailwind styles
  packages/ui-components/package.json
  packages/ui-components/src/components/nvl-graph-viz/nvl-graph-viz.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-overview-pane.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-properties-table.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-styles.css
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/nvl-styles.css
  packages/vscode-extension/src/webviews/resultWindow.ts
  packages/vscode-extension/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

showing relations
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes npm publishing
  .github/workflows/publish-npm-packages.yaml
Due: none

Renames lint worker
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Use workspace dep for lint-worker
  packages/lint-worker/package.json
Due: prettier --write

small comment clean ups
  .gitignore
  packages/ui-components/.gitignore
  packages/ui-components/src/components/nvl-graph-viz/nvl-details-pane.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-graph-viz.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-overview-pane.tsx
  packages/ui-components/src/components/shared/button-group.tsx
  packages/ui-components/src/components/shared/clickable-urls.tsx
  packages/ui-components/src/components/shared/graph-chip.tsx
  packages/ui-components/src/components/shared/show-all.tsx
  packages/ui-components/src/utils/copy-to-clipboard.ts
  packages/ui-components/src/utils/graph-viz-utils.ts
  packages/vscode-extension/resources/styles/ndl.css
  packages/vscode-extension/resources/styles/nvl-styles.css
Due: prettier --write, eslint --fix --max-warnings 0

more cleanups
  packages/vscode-extension/package.json
  packages/vscode-extension/src/webviews/resultWindow.ts
  packages/vscode-extension/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Uses workspace:* version in the lint-worker
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

addding the changeset
  .changeset/bumpy-laws-matter.md
  packages/ui-components/CHANGELOG.md
Due: none

adding missing packages
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: prettier --write

yet another missing package
  packages/ui-components/package.json
  pnpm-lock.yaml
Due: prettier --write

small nits
  package.json
  packages/lint-worker/package.json
Due: prettier --write

removing tests script
  packages/ui-components/package.json
Due: prettier --write

Fixes npm publishing (#492)
  .github/workflows/publish-npm-packages.yaml
Due: none

cleans tsconfig.tsbuildinfo too in deep-clean
  package.json
Due: prettier --write

Fixes CALL papercuts in formatter (#489)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleans tsconfig.tsbuildinfo too in deep-clean script (#494)
  package.json
Due: prettier --write

Fixes playwright yada yada?
  .github/actions/setup-and-build/action.yaml
  packages/language-support/package.json
Due: prettier --write

refactored to use setSpecialSplit
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactored; uses setOneItemProperty instead
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix typo
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

makes .js files interpret as ESM files, expands memory for playwright tests and updates node version
  .github/actions/setup-and-build/action.yaml
  packages/language-support/package.json
  packages/react-codemirror/package.json
Due: prettier --write

adds comments
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds comments
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

improved understandability
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

Increases heap space
  .github/actions/codemirror-e2e-tests/action.yaml
Due: none

Splits compilation of lint worker to have bundled files and esm files
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/tsconfig.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/vite.config.ts
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

switches node version to everywhere be current LTS (22.15.0), undoes setting variable in-command instead of as env variable + re-allows multiple workers locally
  .nvmrc
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  vendor/antlr4-c3/package.json
Due: prettier --write

Updates language-support package type and node version (#495)
  .github/actions/setup-and-build/action.yaml
  .nvmrc
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  vendor/antlr4-c3/package.json
Due: prettier --write

Bundles worker
  packages/language-server/package.json
  packages/language-server/src/linting.ts
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/stats.html
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

fixes build step in fetch-dev-artifacts
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

fixes build step in fetch-dev-artifacts (#496)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

fixes expected message to align with minor alterations to semantic analysis
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror/src/e2e_tests/performanceTest.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

modifies test to avoid special case
  packages/language-support/src/tests/autocompletion/variableCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes worker url
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

updates vscode extension version to 1.10.2
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write
