Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

cleanup and fix from claude review
  packages/language-support/src/formatting/formatting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove .claude from gitignore
  .gitignore
Due: none

bump pre-release version to 1.17.8
  packages/vscode-extension/package.json
Due: oxfmt

Improve formatter coverage/fix formatter bugs (#675)
  .changeset/stupid-taxis-smash.md
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add first working iteration, only working for 1 label, and first path segment
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add Stage 0 baseline-noise eval harness for PR #657 pilot
  .eval/.gitignore
  .eval/build-results.sh
  .eval/build-review-html.sh
  .eval/judge-prompt.txt
  .eval/prompt.txt
  .eval/repair-judge-scores.sh
  .eval/run-stage0.sh
  .plans/eval-stage0-baseline-pilot.review.html
  .plans/eval-stage0/results.md
Due: none

Add v1 eval variant: CLAUDE.md + reworked prompt for artifact-bump task
  .eval/CLAUDE.md
  .eval/prompt.txt
  .eval/run-stage0.sh
Due: none

fix: store parsing result in CypherLanguageService cache
  packages/language-support/src/cypherLanguageService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

feat: schema-aware completions without symbolsInfo
  cypher-formatter-bundle/cypher-language-support.js
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix direction handling on <-rel->, handle faulty segments ending in label, and all segments in a path pattern. Limitation: Second pattern in segment should be single label
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

added some tests for unfinished nodes/rels. fix possibility of infinite loop, join possibleFollowingLabels/relTypes to a single helper
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename spec, small cleanup
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

minor cleanup, move some shared label tree logic to its own file instead of schemaBasedCompletions
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/labelTreeWalking.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update neovim config
  packages/language-server/README.md
Due: none

init: add inline widget support
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move resize observer to inlinePanel file and fix the pos value
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add tests that we dont warn on CREATE/INSERT/MERGE. Remove these clauses from consideration in "findPatternElements"
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename findPatternElements to specify we dont look for these inside "creating" clauses
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove .values.toArray.includes() in favor of .has()
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

set/reset feature flag in test. Set default value of flag to false
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update callback references when getting updated
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove feature flag that didnt work with worker. Clean up a events.once call
  packages/language-server/src/server.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

format
  packages/language-server/src/server.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add new warning to api test, add unit test to clarify double warning is intended
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

reorder expected
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add demo in codemirror playground for inline widget panel
  packages/react-codemirror-playground/src/App.tsx
Due: none

add changeset
  .changeset/five-ghosts-joke.md
Due: none

update packages using axios to version past vulnerability
  .lintstagedrc.json
  packages/language-server/package.json
  packages/lint-worker/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

update packages using axios to version past vulnerability (#684)
  .lintstagedrc.json
  packages/language-server/package.json
  packages/lint-worker/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

improve message. handle rel where rhs is unfinished as bidirectional
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

small cleanup
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move startposition to endposition for "query cannot conclude with"-errors
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix string in stirng on test
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Schema based linting (#681)
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/labelTreeWalking.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix symbol validation tests to expect new pos
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

tersify messages
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

try adjusting "checkErrorMessage" in e2e to only look at last symbol on "Query cannot conclude with ..." errors
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: none

fix double space
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix bidirectional message in test
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add new index-based helper for testing, use that for "Query cannot conclude with" tests
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0
