Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Cleans up
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds feature flag
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds GH job to publish the VSCode ext to Marketplace and OpenVSX (#209)
  .github/workflows/publish-vscode-extension.yaml
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

Enables feature flag to codemirror demo
  packages/react-codemirror-playground/src/App.tsx
Due: none

Fixes bug in yaml files for the VSCode publish job
  .github/workflows/publish-vscode-extension.yaml
Due: none

add an aria label prop to the cypher editor
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

add e2e tests
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
Due: none

Create curvy-singers-greet.md
  .changeset/curvy-singers-greet.md
Due: none

Fixes bug in yaml files for the VSCode publish job (#215)
  .github/workflows/publish-vscode-extension.yaml
Due: none

Addresses pr review comments
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove wrapped assertions
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
Due: none

remove empty line in prop annotation
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Add an ariaLabel prop to CypherEditor (#216)
  .changeset/curvy-singers-greet.md
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
Due: none

Fixes bug with canary release script
  release-canary.js
Due: none

Fixes bug with canary release script (#217)
  release-canary.js
Due: none

fix issue where database name was not completed
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds signature help information on auto-completion (#214)
  .changeset/nine-bobcats-sit.md
  .vscode/settings.json
  package-lock.json
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/testData.ts
  packages/language-support/src/types.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
  packages/react-codemirror/src/e2e_tests/extraKeybindings.spec.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
  packages/react-codemirror/src/e2e_tests/snippets.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxHighlighting.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/react-codemirror/src/lang-cypher/utils.ts
  packages/schema-poller/package.json
  packages/schema-poller/src/data-transforms/clean-type.ts
  packages/schema-poller/src/queries/functions.ts
  packages/schema-poller/src/queries/procedures.ts
  packages/vscode-extension/e2e_tests/fixtures/function-completion.cypher
  packages/vscode-extension/e2e_tests/fixtures/procedure-completion.cypher
  packages/vscode-extension/e2e_tests/tests/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Corrects bug that made markdown highlighting not work
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Places the signature help tooltip below instead of above
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

First stab at checking the highlightings
  packages/vscode-extension/e2e_tests/fixtures/syntax-highlighting.md
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/syntaxHighlightingMarkdown.spec.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Tests harness for TextMate grammar
  package-lock.json
  packages/vscode-extension/e2e_tests/tests/syntaxHighlightingMarkdown.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/textmate_tests/README.md
  packages/vscode-extension/textmate_tests/md.tmLanguage
  packages/vscode-extension/textmate_tests/syntax-highlighting.markdown
  packages/vscode-extension/textmate_tests/syntax-highlighting.markdown.snap
  packages/vscode-extension/textmate_tests/test.cypher
  packages/vscode-extension/textmate_tests/test.cypher.snap
Due: prettier --write, eslint --fix --max-warnings 0

Refreshes editor when feature flags change
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Tries another way of testing it out with vscode-textmate-languageservice
  package-lock.json
  package.json
  packages/vscode-extension/e2e_tests/fixtures/syntax-highlighting.md
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/markdownHighlighting.spec.ts
  packages/vscode-extension/textmate_tests/README.md
Due: prettier --write, eslint --fix --max-warnings 0

Revert "Tries another way of testing it out with vscode-textmate-languageservice"
  package-lock.json
  package.json
  packages/vscode-extension/e2e_tests/fixtures/syntax-highlighting.md
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/markdownHighlighting.spec.ts
  packages/vscode-extension/textmate_tests/README.md
Due: prettier --write, eslint --fix --max-warnings 0

Reverts e2e target files
  packages/vscode-extension/e2e_tests/testRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for Markdown colorization based on VSCode
  packages/vscode-extension/e2e_tests/colorize-fixtures/syntax-highlighting.md
  packages/vscode-extension/e2e_tests/colorize-results/syntax-highlighting_md.json
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/markdownHighlighting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Refreshes editor when feature flags change (#220)
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Cleans up
  package-lock.json
  packages/vscode-extension/e2e_tests/colorize-fixtures/syntax-highlighting.md
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-md.json
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.cypher
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.md
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/textmateHighlighting.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/textmate_tests/README.md
  packages/vscode-extension/textmate_tests/md.tmLanguage
  packages/vscode-extension/textmate_tests/syntax-highlighting.markdown.snap
  packages/vscode-extension/textmate_tests/test.cypher
  packages/vscode-extension/textmate_tests/test.cypher.snap
Due: prettier --write, eslint --fix --max-warnings 0

Modifies test
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/complex-match-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate/complex-match.cypher
Due: prettier --write

Fixes comments highlighting
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/complex-match-cypher.json
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Splits tests
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/comments-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/properties-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/strings-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate/comments.cypher
  packages/vscode-extension/e2e_tests/fixtures/textmate/properties.cypher
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.cypher
  packages/vscode-extension/e2e_tests/fixtures/textmate/strings.cypher
Due: prettier --write

Add textmate support for javascript
  packages/vscode-extension/package.json
  packages/vscode-extension/syntaxes/cypher.js.json
Due: prettier --write

Adds operators to the TextMate grammar
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Splits operators within labels and properties
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/comments-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/complex-match-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/properties-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-cypher.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-md.json
  packages/vscode-extension/e2e_tests/tests/textmateHighlighting.spec.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

add basic form to extension, begin implementing tree view
  package-lock.json
  packages/language-server/src/server.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/media/connectionPanel.js
  packages/vscode-extension/media/database.svg
  packages/vscode-extension/media/reset.css
  packages/vscode-extension/media/vscode.css
  packages/vscode-extension/package.json
  packages/vscode-extension/src/ConnectionManager.ts
  packages/vscode-extension/src/ConnectionPanel.ts
  packages/vscode-extension/src/ConnectionTreeDataProvider.ts
  packages/vscode-extension/src/LanguageClientManager.ts
  packages/vscode-extension/src/SecretsManager.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/getNonce.ts
Due: prettier --write, eslint --fix --max-warnings 0

wiring up communication between poller and extension
  package-lock.json
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/initializers/driverIntializer.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/schema-poller/src/persistentConnection.ts
  packages/schema-poller/src/queries/dataSummary.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/schema-poller/src/transientConnection.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/ConnectionManager.ts
  packages/vscode-extension/src/ConnectionPanel.ts
  packages/vscode-extension/src/ConnectionTreeDataProvider.ts
  packages/vscode-extension/src/LanguageClientManager.ts
  packages/vscode-extension/src/SecretsManager.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/globalStateManager.ts
  packages/vscode-extension/src/persistentConnectionManager.ts
  packages/vscode-extension/src/secretStorageManager.ts
  packages/vscode-extension/src/transientConnectionManager.ts
  packages/vscode-extension/src/types/settings.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactoring, splitting code out into functions, fixing tree view
  packages/schema-poller/src/persistentConnection.ts
  packages/schema-poller/src/transientConnection.ts
  packages/vscode-extension/src/ConnectionPanel.ts
  packages/vscode-extension/src/ConnectionTreeDataProvider.ts
  packages/vscode-extension/src/LanguageClientManager.ts
  packages/vscode-extension/src/commands.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/globalStateManager.ts
  packages/vscode-extension/src/persistentConnectionManager.ts
  packages/vscode-extension/src/secretStorageManager.ts
  packages/vscode-extension/src/settingsHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix property when reconnecting to poller
  packages/vscode-extension/src/commands.ts
Due: prettier --write, eslint --fix --max-warnings 0

git rename files for case sensitivity
  packages/vscode-extension/src/connectionPanel.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/languageClientManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds procedures parsing to the grammar
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0
