Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix order of tokens in test
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

added changeset
  .changeset/four-tools-leave.md
Due: none

added CYPHER keyword to cypher.json + test that autocomplete works with preparser options
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

alter so labels with numbers and underscores dont get needless backticks
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

added tests for relationship types and property keys too
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

covered edge case of "bad starting symbol" and prevented non-english letters from causing backticks (+testing)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

added changeset
  .changeset/nice-jokes-give.md
Due: none

added safety for null/empty strings and expanded tests with string starting with underscore
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

increasing the contrast of light theme
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/syntaxHighlighting.spec.tsx
  packages/react-codemirror/src/ndlTokensCopy.ts
  packages/react-codemirror/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixing gutter color
  packages/react-codemirror/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Create little-vans-begin.md
  .changeset/little-vans-begin.md
Due: none

Alter so labels with numbers and underscores dont get needless backticks (#299)
  .changeset/nice-jokes-give.md
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

custom color theme for the cypher editor (#308)
  .changeset/little-vans-begin.md
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/syntaxHighlighting.spec.tsx
  packages/react-codemirror/src/ndlTokensCopy.ts
  packages/react-codemirror/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

version bump
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

changelog bump
  packages/vscode-extension/CHANGELOG.md
Due: none

[1.6.0 bump] Bumps vscode version (#311)
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

shifted lambda in CmdParser to take symbolicNameString like PARAM in main parser does, and modified usage ib parseWrapper to fit
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

updated lambda to parameterName. Not quite sure how param in parameterized rules are used yet, so I used parameterName["ANY"] for now
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

added testing of parameter parsing
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

modified back tokenType in coloring + adjusted listener, following discussion
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

split CYPHER ... into subrules. Added test for CYPHER in syntacticValidation.test.ts
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds simple warnings on deprecated procedures and functions
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

added changeset
  .changeset/lovely-mails-ring.md
Due: none

created helper method for generating function/procedure SyntaxDiagnostic
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Added strikethrough to codeMirror
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

changed so keywords are their own rule used in cmdparser
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
Due: none

Fixed preparser-file not allowing both analysis-keyword (PROFILE/EXPLAIN) and CYPHER-option. Adjusted cypherOptions-definition to require version first (like in db)
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
Due: none

Reverts some changes
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

re-colored setting=value
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
Due: prettier --write, eslint --fix --max-warnings 0

added flakey timed-out test + unit test that should fail for now(but should be replaced)
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

added backtick-support to aliases, database-names and parameters
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

expanded dbname/alias testing for backticks
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

split dbname and label/reltype/propkey backticks. Removed backticking of parameters (for now)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed commented lines
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

re-added backticking of parameters, removed leftovers in completeSymbolicName
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

added SHOW ALIAS test for backtick-testing
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
