Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix vector test
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

consistency with _visit
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

add missing n to return
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add some tests for non-default column width
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds eol setting to e2e test folder
  packages/vscode-extension/tests/fixtures/.vscode/settings.json
Due: prettier --write

add a test with higher oclumn limit as well
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add 10 col width test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add minor version change changeset
  .changeset/true-olives-stay.md
Due: none

fixes test file to use import.meta
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write

removes ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix verificationcheck use of formatquery interface
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix another interface usage
  packages/language-server/src/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix another interface issue
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

adds back ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write

adds LF eol-setting to vscode e2e tests(#509)
  packages/vscode-extension/tests/fixtures/.vscode/settings.json
Due: prettier --write

add a ts-doc comment
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds downloading and unpacking lintworker - calls these if server version check shows we need it.
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/index.ts
  packages/language-support/src/version.ts
  packages/lint-worker/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/tests/specs/api/formatting.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --max-warnings 0

implements improving inline comments
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes test for inline comments
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds test for long inline comment
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes formatter integrity check test (#511)
  package.json
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Improve List/Map Formatting (#478)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/comments.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds more tests
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds function to check if inline
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactores; simplifying using isLineComment
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

first couple headings
  packages/language-support/src/formatting/newarchitecture.md
Due: none

improves readability
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds oneChunkProperty to OPTION; adds test
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

improves test for map
  packages/language-support/src/tests/formatting/commands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds onechunkproperty to map key
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes test for map about onechunkproperty
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix typo
  packages/language-support/src/tests/formatting/commands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

write some more architecture
  packages/language-support/src/formatting/newarchitecture.md
Due: none

finalize architecture md
  packages/language-support/src/formatting/architecturev3.png
  packages/language-support/src/formatting/newarchitecture.md
Due: none

rename files, remove old architecture image
  packages/language-support/src/formatting/architecture.md
  packages/language-support/src/formatting/architecture.png
  packages/language-support/src/formatting/architecturev3.png
  packages/language-support/src/formatting/overview.md
Due: none

fix list literal test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

math max with 0 for the maxcol
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Changes formatQuery interface (breaking change), adds new maxColumn option (#512)
  .changeset/true-olives-stay.md
  packages/language-server/src/formatting.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/cursorpos.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/testutil.ts
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Improves map formatting (#514)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/commands.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
