Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

WIP
  package-lock.json
  packages/lint-worker/LICENSE.md
  packages/lint-worker/README.md
  packages/lint-worker/package-lock.json
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/tsconfig.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Refactors codemirror e2e to happen in parallel
  .github/actions/build-project/action.yaml
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/fetch-dev-artifacts.yaml
  packages/react-codemirror/playwright-ct.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds special break for reduce
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

added logic for not applying indentation
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixed test for a long list
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactored; function to apply special break
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

improved function invocation when one argument
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

improves special break for map and map projection
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix tests for map and map projection
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix function invocation when R paran is missing
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes non needed file
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/workflows/ci.yaml
Due: none

removed unncessary proeprty
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

update argument types
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr feedback
  package.json
  packages/react-codemirror/playwright-ct.config.ts
  pnpm-lock.yaml
  scripts/clean.js
Due: prettier --write, eslint --fix --max-warnings 0

Adds changelog entry
  .github/workflows/ci.yaml
  packages/vscode-extension/CHANGELOG.md
Due: none

improved comment handling
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump typescript
  package.json
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

fix clean scripts
  packages/language-server/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  vendor/antlr4-c3/tsconfig.json
Due: prettier --write

removed uncessary check
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

esm builds work, barring antlr-c3
  packages/language-support/package.json
  packages/language-support/tsconfig.json
  packages/language-support/tsconfig.node.json
Due: prettier --write

Gates execution of e2e tests for chromium and firefox
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/workflows/ci.yaml
Due: none

fix build
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

fix bundling
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/tsconfig.json
  packages/react-codemirror/tsconfig.node.json
Due: prettier --write

Waits for the ci to have finished before publishing to npm
  .github/workflows/ci.yaml
  .github/workflows/publish-npm-packages.yaml
Due: none

Fixes small details in the CI (#476)
  .github/actions/build-project/action.yaml
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/ci.yaml
  .github/workflows/fetch-dev-artifacts.yaml
  .github/workflows/publish-npm-packages.yaml
  package.json
  packages/react-codemirror/playwright-ct.config.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Fixes two oversights in the CI
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/workflows/publish-npm-packages.yaml
Due: none

Bump typescript to latest (#479)
  package.json
  packages/language-server/package.json
  packages/query-tools/package.json
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/package.json
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
  vendor/antlr4-c3/tsconfig.json
Due: prettier --write

selfreview
  packages/language-support/vitest.config.mts
Due: none

selfreview
  packages/react-codemirror/tsconfig.json
  packages/react-codemirror/tsconfig.node.json
Due: prettier --write

fold in exporting change
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes two oversights in the CI (#481)
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/workflows/publish-npm-packages.yaml
Due: none

Fixes VSCode and npm publishing jobs
  .github/workflows/publish-vscode-extension.yaml
  package.json
Due: prettier --write

Reverts back to using pnpm instead of changeset publish
  package.json
Due: prettier --write

Changes pnpx for pnpm
  .github/workflows/publish-vscode-extension.yaml
  pnpm-workspace.yaml
Due: none

Revert pnpm-workspace file
  pnpm-workspace.yaml
Due: none

Fixes command
  .github/workflows/publish-npm-packages.yaml
Due: none
