Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Updates package.json with dev dependencies and release script
  package-lock.json
  package.json
  release-canary.js
Due: prettier --write

Tests the workflow
  .github/workflows/publish-canary-npm-packages.yaml
Due: none

Tries to fix auth token
  .github/workflows/publish-canary-npm-packages.yaml
Due: none

Merges worflow and disables deploying from this branch
  .github/workflows/publish-canary-npm-packages.yaml
  .github/workflows/publish-npm-packages.yaml
Due: none

Addresses pr review comments
  release-canary.js
Due: none

Adds job to release a canary package to npm manually (#206)
  .eslintignore
  .github/workflows/publish-npm-packages.yaml
  package-lock.json
  package.json
  release-canary.js
Due: prettier --write

Improvements to textmate grammar
  package.json
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes flaky VSCode test
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds failing test for function signature help inside procedures
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/gentle-pans-rescue.md
Due: none

Adds one more test
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/healthy-turtles-change.md
Due: none

Adds GH job to publish the VSCode ext to Marketplace and OpenVSX
  .github/workflows/publish-vscode-extension.yaml
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

Updates job to publish
  .github/workflows/publish-vscode-extension.yaml
Due: none

Updates node version in code and CI
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
  .nvmrc
  package-lock.json
  package.json
  vendor/antlr4-c3/package.json
Due: prettier --write

Fixes flaky VSCode test (#207)
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

support signature help below as well (#205)
  .changeset/chilled-dots-guess.md
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug with signature help of functions nested inside procedures (#208)
  .changeset/gentle-pans-rescue.md
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Marks VSCode extension as private
  packages/vscode-extension/package.json
Due: prettier --write

Makes release when a new tag for neo4j-for-vscode is created
  .github/workflows/publish-vscode-extension.yaml
Due: none

Updates node version in code and CI
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/publish-npm-packages.yaml
  .nvmrc
  package-lock.json
  package.json
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  vendor/antlr4-c3/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Wires feature flags
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates node version in code and CI (#213)
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/publish-npm-packages.yaml
  .nvmrc
  package-lock.json
  package.json
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  vendor/antlr4-c3/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Wires feature flags (#211)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds signature help information on auto-completions
  package-lock.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/testData.ts
  packages/language-support/src/types.ts
  packages/schema-poller/package.json
  packages/schema-poller/src/data-transforms/clean-type.ts
  packages/schema-poller/src/queries/functions.ts
  packages/schema-poller/src/queries/procedures.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes data for the procedure tests
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes failing tests
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/nine-bobcats-sit.md
Due: none

Adds test for deprecated procedures
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds the procedure info to codemirror
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/react-codemirror/src/lang-cypher/utils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Moves signature to its own attribute. Updates styling in codemirror and fixes tests.
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/types.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds the strikethrough for deprecated methods
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for codemirror
  .vscode/settings.json
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
  packages/react-codemirror/src/e2e_tests/extraKeybindings.spec.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
  packages/react-codemirror/src/e2e_tests/snippets.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxHighlighting.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds integration tests for VSCode
  packages/vscode-extension/e2e_tests/fixtures/function-completion.cypher
  packages/vscode-extension/e2e_tests/fixtures/procedure-completion.cypher
  packages/vscode-extension/e2e_tests/tests/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
