Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

add completion and linting tests with string interpolation too
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add and switch to interpolationDelimiter tokentype for highlighting of string interpolation
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/syntaxHighlighting/misc.test.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Automated update of artifacts to neo4j version 2026.08.0 (#721)
  .changeset/funny-actors-grow.md
  .claude/skills/parse-cypher-with-antlr/SKILL.md
  packages/language-support/src/antlr-grammar/Cypher25Lexer.g4
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/syntaxHighlighting/misc.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/lint-worker/server-version-tag.txt
  packages/react-codemirror/src/lang-cypher/constants.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.13
  packages/vscode-extension/package.json
Due: oxfmt

add changeset
  .changeset/early-onions-check.md
Due: none

bump pre-release version to 1.19.14
  packages/vscode-extension/package.json
Due: oxfmt

allow connecting via settings.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add renovate config
  renovate.json5
Due: none

add renovate config (#723)
  renovate.json5
Due: none

add prompt to existing approach
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/uiUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.15
  packages/vscode-extension/package.json
Due: oxfmt

Fix antlr4ng migration: error tracking for schema-based completions and path segments
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/errorTrackingListener.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Clean up stale vendor/antlr4 references after unvendoring antlr4-c3
  .github/actions/setup-and-build/action.yaml
  .lintstagedrc.json
  .oxfmtrc.json
  AGENTS.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  renovate.json5
  tsconfig.json
Due: oxfmt

allow connections defined in plaintext in settings.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/uiUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Address review: drop antlr4ng internals access in statement splitting
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Switch language-support to moduleResolution nodenext
  .github/workflows/ci.yaml
  AGENTS.md
  package.json
  packages/language-support/package.json
  packages/language-support/tsconfig.json
Due: oxfmt

add support for env vars
  packages/vscode-extension/src/connectionService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update package.json descriptions
  packages/vscode-extension/package.json
Due: oxfmt

update test that changed
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Refine antlr-ng statement splitting and tree APIs
  antlr-ng-migration-explainer.html
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/react-codemirror-playground/src/treeUtil.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Use token stream API for EOF statement bounds
  antlr-ng-migration-explainer.html
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Narrow syntax error recognizers safely
  antlr-ng-migration-explainer.html
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.16
  packages/vscode-extension/package.json
Due: oxfmt

Move comment about config connection approval to function actually containing the logic
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/uiUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

deduplicate scheme+host part of address in displayConfirmSettingConnectionPrompt
  packages/vscode-extension/src/uiUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add readme entry with image
  .vscode/settings.json
  packages/vscode-extension/README.md
  packages/vscode-extension/resources/images/demo-connect-setting.png
Due: oxfmt

use single constant for both "yes" in uiUtil in connection and uiUtils
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/uiUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename config->setting. Redundant type specifications removed
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename saveConnections to signify its difference from saveSettingConnectionStates
  packages/vscode-extension/src/connectionService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

switch getConnections and getSettingConnections to both use Record<string, Connection>
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/tests/specs/unit/substituteEnvVariables.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

undo accidental change to settings.json
  .vscode/settings.json
Due: oxfmt

bump pre-release version to 1.19.17
  packages/vscode-extension/package.json
Due: oxfmt

fix#2 settings.json accidental change
  .vscode/settings.json
Due: oxfmt

Allow connections via settings.json (#731)
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-connect-setting.png
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/uiUtils.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
  packages/vscode-extension/tests/specs/unit/substituteEnvVariables.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

code review changes
  packages/language-server/src/hoverInfo.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/types.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

refactor signature help to reuse with hover
  packages/language-support/src/hover.ts
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.18
  packages/vscode-extension/package.json
Due: oxfmt

remove unused export
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.19
  packages/vscode-extension/package.json
Due: oxfmt

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
