Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

remove tracing
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
Due: none

fixperftest
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
Due: prettier --write

deploy benchmarks
  .github/workflows/benchmark.yaml
  .github/workflows/performance-regression.yaml
  .nvmrc
  package.json
  packages/language-support/benchmarks.txt
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmark-dbschemas.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

addpokemonquery
  packages/language-support/src/tests/benchmarks/benchmark-queries.ts
Due: prettier --write, eslint --fix --max-warnings 0

update gitignore
  .gitignore
  benchmarks.txt
Due: none

addpokemonquery
  packages/language-support/src/tests/benchmarks/benchmark-queries.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

update github action
  .github/workflows/benchmark.yaml
Due: none

Addresses PR reviews
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup github action
  .github/workflows/benchmark.yaml
  .github/workflows/performance-regression.yaml
Due: none

fix review comment
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

reivew comments
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

Solves a problem with the trace.server
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

proof of concept
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWorker.ts
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/benchmarks/highlighting-overhead.tadfs
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
Due: prettier --write, eslint --fix --max-warnings 0

review comments
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
Due: prettier --write, eslint --fix --max-warnings 0

Codemirror benchmarks (#150)
  .github/workflows/benchmark.yaml
  .github/workflows/performance-regression.yaml
  .gitignore
  .nvmrc
  package-lock.json
  package.json
  packages/language-support/package.json
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/benchmarks/benchmark-dbschemas.ts
  packages/language-support/src/tests/benchmarks/benchmark-queries.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes signature help edge case
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

works again
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWorker.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix overuse of main channel
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWorker.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

mellan
  .vscode/settings.json
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Solves a problem with the trace.server (#151)
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr review comments
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes signature help edge case (#152)
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes pushing to Grafana
  .github/workflows/benchmark.yaml
Due: none

Updates dependency versions
  package-lock.json
Due: prettier --write

Fixes pushing to Grafana (#153)
  .github/workflows/benchmark.yaml
Due: none

Fixes grafana push (hopefully)
  .github/workflows/benchmark.yaml
Due: none

Add basic build and run instructions.
  editor-plugin/intellij/README.md
Due: none

Updates dependency versions (#154)
  package-lock.json
Due: prettier --write

Adds first version of the procedure signature in codemirror
  .vscode/settings.json
  package.json
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/react-codemirror-playground/src/mock-schema.ts
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/signature-help.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes signature help closer to VSCode format
  packages/react-codemirror/src/lang-cypher/signature-help.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates mock signatures with functions
  packages/react-codemirror-playground/src/mock-schema.ts
Due: prettier --write, eslint --fix --max-warnings 0

Mention Java 17 as a prerequisite for building.
  editor-plugin/intellij/README.md
Due: none

Add icon.
  editor-plugin/intellij/src/main/resources/META-INF/pluginIcon.svg
Due: none

Add idea folder to gitignore.
  .gitignore
Due: none
