Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

re-adds copying file to src
  packages/react-codemirror/package.json
Due: prettier --write

first attempt, not getting the return result correct?
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/cursorpos.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/testutil.ts
Due: prettier --write, eslint --fix --max-warnings 0

small ui updates
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/queryVisualization.css
  packages/vscode-extension/src/components/viz-wrapper.tsx
Due: prettier --write

fix test, wasn't passing the arg in the second run
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/testutil.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding a run button for cypher files to editor title
  packages/vscode-extension/package.json
Due: prettier --write

Creates the lint-worker package (#491)
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/actions/setup-and-build/action.yaml
  packages/language-server/package.json
  packages/language-server/src/lint-worker.ts
  packages/language-server/src/linting.ts
  packages/lint-worker/LICENSE.md
  packages/lint-worker/README.md
  packages/lint-worker/package.json
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/tsconfig.json
  packages/react-codemirror/.gitignore
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

adds version comparison logic, and allows switching of linter used in vscode, (temporarily as local file)
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
  packages/language-support/src/index.ts
  packages/language-support/src/version.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/schemaPoller.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/languageClientService.ts
Due: prettier --write, eslint --fix --max-warnings 0

validating for the lang instead of the extension
  packages/vscode-extension/package.json
Due: prettier --write

adding a run button for cypher files to editor title (#506)
  packages/vscode-extension/package.json
Due: prettier --write

using different icons for bottom panel views
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/visualization.svg
Due: prettier --write

Removes turbo wiring from the intellij plugin, uses pnpm
  packages/intellij-extension/build.gradle.kts
  packages/intellij-extension/package.json
  packages/language-server/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Adds java to the setup action
  .github/actions/setup-and-build/action.yaml
Due: none

resetting z index for cm panels
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding changeset
  .changeset/chatty-views-hide.md
Due: none

Removes intellij artifacts from the ci cache
  .github/actions/setup-and-build/action.yaml
Due: none

strips serverVersion for zero-pad. Modifies minsuppertedversion for cypher 25
  packages/language-support/src/version.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes postfix edgecases in formatter (#490)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adapts cypher 25 check to the new dbms.components(), removing unused files/methods
  packages/language-support/src/index.ts
  packages/language-support/src/tests/version.test.ts
  packages/language-support/src/version.ts
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

switches so we call it cypherVersions everywhere
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

switches array of all cypherversions to allCypherVersions to fix collision
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/types.ts
  packages/query-tools/src/metadataPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

review fix
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes cypher 25 check for semver servers (#508)
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/version.test.ts
  packages/language-support/src/types.ts
  packages/language-support/src/version.ts
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/version.ts
  packages/query-tools/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

save temp work
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

always have a formattingresult
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/testutil.ts
Due: prettier --write, eslint --fix --max-warnings 0

rename formattedstring -> formattedQuery
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/cursorpos.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/testutil.ts
Due: prettier --write, eslint --fix --max-warnings 0

add basic when formatting
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for when with line break
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for when without else
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add basic FILTER formatting
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for filter which needs a linebreak
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add formatting for let clause
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for let clause
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

another let line break test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add formatting for vector function
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add comment
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

add formatting for vector fns
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
