Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix path example
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

move language support package to modern ts
  package-lock.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/tsconfig.json
  packages/schema-poller/package.json
  packages/schema-poller/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings 0

update whole project ts vesrion
  package-lock.json
  package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  vendor/antlr4-c3/package.json
Due: prettier --write

add semantic analysis
  packages/language-support/package.json
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes cron job configuration
  .github/workflows/fetch-dev-artifacts.yaml
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

tries removing unused methods and import from separate package
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

changed test to use assert
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix testing, adjust query for linting warning in validation
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

actual msg test fix
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Evals params against the database we are connected to
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

add single space indent option for parenthesized stuff
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

group the hwere expr in parenthesized paths
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add comment to remember to remove stateTostring call
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

if we break before, then remember that
  packages/language-support/src/formatting/formattingSolutionSearch.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

visit error nodes in visit terminal raw as well
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

language server esm bundle works
  .gitignore
  package-lock.json
  packages/language-server/TODO 
  packages/language-server/esbuild.config.mjs
  packages/language-server/package.json
  packages/language-server/tsconfig.node.json
  packages/react-codemirror/package.json
  vite.config.js
Due: prettier --write

cleanup the packages
  packages/language-server/esbuild.config.mjs
  packages/language-server/tsconfig.json
Due: prettier --write

Reshapes test
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes lock file
  package-lock.json
Due: prettier --write

Adds icons to edit/delete params, better error message when setting against system (#442)
  package-lock.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/parameterService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove dupliate imports
  package-lock.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  vendor/antlr4-c3/package.json
Due: prettier --write

normalize ts packages
  packages/language-server/src/lintWorker.ts
  packages/language-support/tsconfig.json
  packages/react-codemirror-playground/tsconfig.json
  packages/schema-poller/tsconfig.json
  packages/vscode-extension/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

ts updates
  packages/language-support/tsconfig.json
  tsconfig.base.json
Due: prettier --write

update eslint and tsconfig
  .eslintrc.js
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write

Makes the parameter linting not fail on warnings
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes code we do not need anymore
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

mln
  packages/language-server/TODO 
  packages/react-codemirror-playground/tsconfig.json
  packages/react-codemirror/tsconfig.json
  tsconfig.base.json
Due: prettier --write

selfreview
  package-lock.json
  packages/language-server/tsconfig.json
  packages/react-codemirror/package.json
  packages/react-codemirror/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Not sure why this check was removed
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

move language-support back to dual exports
  .eslintrc.js
  .gitignore
  package-lock.json
  package.json
  packages/language-support/package.json
  packages/language-support/tsconfig.json
  packages/react-codemirror-playground/package.json
  tsconfig.base.json
Due: prettier --write

Adds validation when entering param value, and improves error messages (#444)
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/unit/paramUnitTest.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix schema-poller
  packages/schema-poller/package.json
  packages/schema-poller/tsconfig.commonjs.json
Due: prettier --write

adding support for :play command
  .changeset/chatty-needles-guess.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

all seems to build
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror/package.json
  packages/react-codemirror/tsconfig.json
  packages/react-codemirror/vite.config.ts
  packages/schema-poller/package.json
  packages/schema-poller/tsconfig.commonjs.json
  packages/schema-poller/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/language-server/esbuild.config.mjs
  packages/language-server/tsconfig.node.json
  packages/language-support/package.json
  packages/language-support/tsconfig.json
  packages/react-codemirror/package.json
  tsconfig.base.json
  vite.config.js
Due: prettier --write

Enforce gradle build ordering
  .gitignore
  package.json
  packages/intellij-extension/build.gradle.kts
  packages/intellij-extension/package.json
  packages/intellij-extension/src/main/resources/META-INF/plugin.xml
  turbo.json
Due: prettier --write

Adds pat token
  .github/workflows/fetch-dev-artifacts.yaml
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Changes days of the cron job
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

cleanup tsconfig base
  tsconfig.base.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
