Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.4
  packages/vscode-extension/package.json
Due: oxfmt

use empty string instead
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

normalize CRLF line endings (#714)
  .changeset/rare-clubs-work.md
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
Due: none

wrap placeholder around editor actions
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

adding changeset
  .changeset/calm-ads-cut.md
Due: none

bump pre-release version to 1.19.5
  packages/vscode-extension/package.json
Due: oxfmt

wrap placeholder around editor actions (#719)
  .changeset/calm-ads-cut.md
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.6
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.19.7
  packages/vscode-extension/package.json
Due: oxfmt

WIP add knip and fix language-support
  knip.json
  package.json
  packages/language-support/package.json
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlightingHelper.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/types.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

WIP fix knip warnings
  knip.json
  package.json
  packages/language-server/package.json
  packages/language-server/src/signatureHelp.ts
  packages/lint-worker/package.json
  packages/query-tools/src/connectionErrorHandler.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/src/queries/procedures.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
  packages/query-tools/src/types/sdkTypes.ts
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/inlinePanel.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
  packages/react-codemirror/src/themes.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/linterSwitching.ts
  packages/vscode-extension/src/parameterService.ts
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/treeviews/databaseInformationTreeDataProvider.ts
  packages/vscode-extension/src/treeviews/parametersTreeDataProvider.ts
  packages/vscode-extension/src/webviews/queryResults/queryResultsTypes.ts
  packages/vscode-extension/tests/suiteSetup.ts
  packages/vscode-extension/tests/webviewUtils.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.8
  packages/vscode-extension/package.json
Due: oxfmt

adds wdio
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

add ts-node
  knip.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

add expect-webdriverio
  knip.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

add knip to workflows
  .github/workflows/ci.yaml
  knip.json
Due: oxfmt

bump pre-release version to 1.19.9
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.19.10
  packages/vscode-extension/package.json
Due: oxfmt

WIP show function signature on hover
  packages/language-server/src/server.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Updates artifacts to those from latest dev snapshot 2026.08.0
  packages/language-support/src/antlr-grammar/Cypher25Lexer.g4
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
  packages/lint-worker/server-version-tag.txt
Due: oxlint --fix --type-aware --max-warnings 0

update missing property message
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add parameters
  packages/language-server/src/server.ts
  packages/language-support/src/cypherLanguageService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

support for procedures on hover
  packages/language-server/src/hoverInfo.ts
  packages/language-server/src/server.ts
  packages/language-support/src/cypherLanguageService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add hover tests
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

hover code cleanup
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hover.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update test
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/tall-tools-post.md
Due: none

relint in codemirror when recieving new schema
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.11
  packages/vscode-extension/package.json
Due: oxfmt

add hover test in vscode extension
  packages/vscode-extension/tests/specs/api/hover.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove matchInlineSnapshot
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Warn on missing property (#706)
  .changeset/tall-tools-post.md
  CONTRIBUTING.md
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/misc.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/testData.ts
  packages/language-support/src/types.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

apply code review changes
  .github/workflows/ci.yaml
  knip.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

add changeset, workaround java in lexer, generate cypher.json, fix formatting of expanded rule
  .changeset/funny-actors-grow.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/lexerSymbols.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix imports for hover info
  packages/language-server/src/hoverInfo.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/types.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.12
  packages/vscode-extension/package.json
Due: oxfmt

adjust claude parsing skill to note issue with embedded code in parser. Add special highlighting to curly braces around expression in string interpolation
  .claude/skills/parse-cypher-with-antlr/SKILL.md
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/syntaxHighlighting/misc.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

change style of return code
  packages/language-server/src/hoverInfo.ts
  packages/vscode-extension/tests/specs/api/hover.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
