Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

add api-extractor to react-codemirror
  packages/react-codemirror/api-extractor.json
  packages/react-codemirror/api-extractor/api-report.api.md
  packages/react-codemirror/checkApiReport.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/themes.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add missed forgotten export to lintworker
  packages/lint-worker/api-extractor/api-report.api.md
Due: none

bump pre-release version to 1.19.41
  packages/vscode-extension/package.json
Due: oxfmt

rename "describedList"->"descriptionsToMarkdown"
  packages/language-server/src/hoverMarkdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename test
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove redundant descriptions
  packages/language-server/src/tests/hoverMarkdown.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rewrite comment
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove unused benchmarks (#775)
  .github/workflows/benchmark.yaml
  knip.json
  package.json
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmarkQueries.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/performanceTest.spec.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Hover in codemirror (#770)
  .changeset/cool-doodles-boil.md
  .changeset/ninety-cars-sip.md
  .changeset/shiny-cougars-lay.md
  packages/language-server/package.json
  packages/language-server/src/descriptionToMarkdown.ts
  packages/language-server/src/hoverInfo.ts
  packages/language-server/src/hoverMarkdown.ts
  packages/language-server/src/tests/descriptionToMarkdown.test.ts
  packages/language-server/src/tests/hoverMarkdown.test.ts
  packages/language-server/vitest.config.mts
  packages/language-support/api-extractor/api-report.api.md
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/hover/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hover.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

make check-api-report run in ci for all packages with the command
  .github/workflows/ci.yaml
Due: none

format
  .github/workflows/ci.yaml
Due: none

remoe unused exports
  packages/react-codemirror/src/themes.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.42
  packages/vscode-extension/package.json
Due: oxfmt

code review changes
  CONTRIBUTING.md
  packages/language-support/vitest.config.mts
Due: none

WIP update contributing and agents docs
  AGENTS.md
  CONTRIBUTING.md
Due: none

change vitest config files nested to defineProject
  CONTRIBUTING.md
  packages/language-support/vitest.config.mts
  packages/lint-worker/vitest.config.mts
Due: none

update agents.md
  AGENTS.md
Due: none

pin vscode version for testing and disable extensions for testing
  packages/vscode-extension/tests/fixtures/.vscode/settings.json
  packages/vscode-extension/tests/runApiAndUnitTests.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

migrate unit tests to vitests
  packages/vscode-extension/package.json
  packages/vscode-extension/src/tests/unit/paramValidation.test.ts
  packages/vscode-extension/vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix leftover docker images on failed tests
  packages/vscode-extension/tests/runApiAndUnitTests.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove vitest from runApiAndUnit script
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.19.43
  packages/vscode-extension/package.json
Due: oxfmt

Updates artifacts to those from dev snapshot 2026.10.0
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
  packages/lint-worker/server-version-tag.txt
Due: oxlint --fix --type-aware --max-warnings 0

re-use hover's signature render for signature help panel in codemirror. Also rewrite it to work with active parameter
  packages/react-codemirror/src/lang-cypher/hover/hover.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

restructure for shared tooltipHighlighting file
  packages/react-codemirror/src/lang-cypher/hover/hover.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/react-codemirror/src/lang-cypher/tooltipHighlighting.test.ts
  packages/react-codemirror/src/lang-cypher/tooltipHighlighting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove old signature render
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix find-reliant access when not found
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/good-lands-yell.md
Due: none

bump pre-release version to 1.19.44
  packages/vscode-extension/package.json
Due: oxfmt

remove warnings from lint-worker and query-tools
  packages/lint-worker/src/version.ts
  packages/query-tools/api-extractor/api-report.api.md
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update contributing.md
  CONTRIBUTING.md
Due: none

rename neo4j-driver Record to Neo4jRecord
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/parameterService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Extend api-extractor to cover all our libraries (#781)
  .github/workflows/ci.yaml
  packages/lint-worker/api-extractor.json
  packages/lint-worker/api-extractor/api-report.api.md
  packages/lint-worker/checkApiReport.ts
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/src/version.ts
  packages/query-tools/api-extractor.json
  packages/query-tools/api-extractor/api-report.api.md
  packages/query-tools/checkApiReport.ts
  packages/query-tools/package.json
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
  packages/query-tools/src/data-transforms/cypher-type-names.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
  packages/query-tools/src/types/cypher-data-types.ts
  packages/query-tools/src/types/sdkTypes.ts
  packages/react-codemirror/api-extractor.json
  packages/react-codemirror/api-extractor/api-report.api.md
  packages/react-codemirror/checkApiReport.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/index.ts
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/parameterService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update vscode settings.json
  .vscode/settings.json
Due: oxfmt

fix typos in agents and contributing
  AGENTS.md
  CONTRIBUTING.md
Due: none

update changeset
  .changeset/good-lands-yell.md
Due: none

Improve test setup (#771)
  .github/workflows/ci.yaml
  AGENTS.md
  CONTRIBUTING.md
  package.json
  packages/lint-worker/vitest.config.mts
  packages/query-tools/package.json
  packages/query-tools/src/tests/integration/pollingIntegrationTests.test.ts
  packages/query-tools/src/tests/integration/setupTestContainer.ts
  packages/query-tools/vitest.config.mts
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/src/tests/e2e/autoCompletion.spec.tsx
  packages/react-codemirror/src/tests/e2e/configuration.spec.tsx
  packages/react-codemirror/src/tests/e2e/debounce.spec.tsx
  packages/react-codemirror/src/tests/e2e/e2eUtils.ts
  packages/react-codemirror/src/tests/e2e/extraKeybindings.spec.tsx
  packages/react-codemirror/src/tests/e2e/historyNavigation.spec.tsx
  packages/react-codemirror/src/tests/e2e/sanityChecks.spec.tsx
  packages/react-codemirror/src/tests/e2e/signatureHelp.spec.tsx
  packages/react-codemirror/src/tests/e2e/snippets.spec.tsx
  packages/react-codemirror/src/tests/e2e/syntaxHighlighting.spec.tsx
  packages/react-codemirror/src/tests/e2e/syntaxValidation.spec.tsx
  packages/react-codemirror/tsconfig.json
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vitest.config.mts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

change fixAll action to fixAll.oxc
  .vscode/settings.json
Due: oxfmt

Highlight codemirror signature help (#786)
  .changeset/good-lands-yell.md
  packages/react-codemirror/src/lang-cypher/hover/hover.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/react-codemirror/src/lang-cypher/tooltipHighlighting.test.ts
  packages/react-codemirror/src/lang-cypher/tooltipHighlighting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.45
  packages/vscode-extension/package.json
Due: oxfmt

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
