Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

self review
  packages/react-codemirror-playground/index.html
  packages/react-codemirror/.gitignore
  packages/react-codemirror/playwright/index.html
Due: none

Makes some changes to the packaging
  .changeset/config.json
  .changeset/pre.json
  packages/language-server/README.md
  packages/language-server/package.json
  packages/schema-poller/package.json
  packages/vscode-extension/package.json
Due: prettier --write

Fixes tests
  packages/react-codemirror/playwright/index.html
  packages/react-codemirror/playwright/index.tsx
Due: none

Custom react wrapper (#122)
  package-lock.json
  packages/react-codemirror/e2e_tests/auto-completion.spec.ts
  packages/react-codemirror/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/playwright/index.html
  packages/react-codemirror/playwright/index.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e-entry.tsx
  packages/react-codemirror/src/e2e_tests/auto-completion.spec.tsx
  packages/react-codemirror/src/e2e_tests/e2e-utils.ts
  packages/react-codemirror/src/e2e_tests/extra-keybindings.spec.tsx
  packages/react-codemirror/src/e2e_tests/history-navigation.spec.tsx
  packages/react-codemirror/src/e2e_tests/mock-data.ts
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanity-checks.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntax-highlighting.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
  packages/react-codemirror/src/neo4j-setup.tsx
  packages/react-codemirror/src/repl-mode.ts
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vite-env.d.ts
  packages/react-codemirror/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds included files for the packaging
  .npmignore
  package-lock.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror/package.json
Due: prettier --write

fixe2e tests
  packages/react-codemirror/playwright/index.html
  packages/react-codemirror/playwright/index.tsx
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/e2e_tests/test.tsx
  packages/react-codemirror/tsconfig.node.json
Due: prettier --write

Ignores buildinfo file
  .gitignore
  packages/language-server/.npmignore
  packages/language-server/package.json
  packages/language-support/.npmignore
  packages/react-codemirror/.npmignore
Due: prettier --write

Adds job to publish
  .github/workflows/ci.yaml
  .github/workflows/publish-npm-packages.yaml
  package.json
Due: prettier --write

Adjusts branch of the CI, cleans up
  .github/workflows/publish-npm-packages.yaml
  packages/language-server/.npmignore
  packages/language-support/.npmignore
  packages/react-codemirror/.npmignore
Due: none

Adds usage examples to README.md
  packages/language-support/README.md
  packages/react-codemirror/README.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Last nits
  .changeset/pre.json
  .github/workflows/publish-npm-packages.yaml
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/schema-poller/package.json
  packages/vscode-extension/package.json
Due: prettier --write

add @next
  packages/language-support/README.md
  packages/react-codemirror/README.md
Due: none

Waiting for the tests is not working
  .github/workflows/ci.yaml
  .github/workflows/publish-npm-packages.yaml
Due: none

improve readmes
  packages/language-server/README.md
  packages/react-codemirror/README.md
Due: none

Adds keywords
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror/package.json
Due: prettier --write

add working link
  packages/react-codemirror/README.md
Due: none

Sets up publishing (#127)
  .changeset/config.json
  .changeset/pre.json
  .github/workflows/publish-npm-packages.yaml
  .gitignore
  .npmignore
  package-lock.json
  package.json
  packages/language-server/README.md
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/schema-poller/package.json
  packages/vscode-extension/package.json
Due: prettier --write

Adds usage examples to README.md (#128)
  packages/language-server/README.md
  packages/language-support/README.md
  packages/react-codemirror/README.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Publishes from main
  .github/workflows/publish-npm-packages.yaml
  packages/language-server/package.json
Due: prettier --write

Publishes from main (#129)
  .github/workflows/publish-npm-packages.yaml
  packages/language-server/package.json
Due: prettier --write

Fixes release!
  .github/workflows/publish-npm-packages.yaml
  .gitignore
  vendor/antlr4-c3/package.json
  vendor/antlr4/package.json
Due: prettier --write

remove uiw
  package-lock.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

changeset
  .changeset/brown-ravens-obey.md
  .changeset/pre.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
Due: prettier --write

fix example
  packages/language-support/README.md
Due: none

fix example (#131)
  packages/language-support/README.md
Due: none

Fix incorrect exports (#130)
  .changeset/brown-ravens-obey.md
  .changeset/pre.json
  package-lock.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/react-codemirror/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix typo in readme
  packages/react-codemirror/README.md
Due: none

Makes language server executable using npx
  .changeset/nervous-rabbits-greet.md
  .changeset/pre.json
  packages/language-server/CHANGELOG.md
  packages/language-server/README.md
  packages/language-server/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix typo in readme (#132)
  packages/react-codemirror/README.md
Due: none

Last nits
  packages/language-server/README.md
  packages/language-server/package.json
Due: prettier --write

Makes it executable as a bin
  packages/language-server/README.md
  packages/language-server/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes language server executable (#133)
  .changeset/nervous-rabbits-greet.md
  .changeset/pre.json
  packages/language-server/CHANGELOG.md
  packages/language-server/README.md
  packages/language-server/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Update README.md
  packages/react-codemirror/README.md
Due: none

Update README.md (#134)
  packages/react-codemirror/README.md
Due: none

Add simple configurations for Emacs integration
  packages/language-server/README.md
Due: none

Add simple configurations for Emacs integration (#135)
  packages/language-server/README.md
Due: none

make editor history controlled
  package-lock.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/history-navigation.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/history-navigation.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

add changeset for controlled editor history
  .changeset/quick-berries-report.md
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
