Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Fixes (v3) tech debt for formatter, re-designed linebreaker solution (#470)
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/comments.test.ts
  packages/language-support/src/tests/formatting/cursorpos.test.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add ts-node install
  package.json
  pnpm-lock.yaml
Due: prettier --write

Increases timeout for webview tests
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

scale back .gitignore changes
  .gitignore
Due: none

Parallelizes e2e tests in the CI
  .github/workflows/ci.yaml
  package-lock.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

More cleanup
  .github/workflows/ci.yaml
Due: none

Tries swapping both tests
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Speed up codemirror tests
  packages/react-codemirror/playwright-ct.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

typo
  .github/workflows/publish-npm-packages.yaml
Due: none

update exports for noah
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

squash commit
  .github/actions/setup-and-build/action.yaml
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
  packages/language-support/src/index.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright-ct.config.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

list opening remains on line
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes some details in the CI (vsce publishing, adds clean up script, etc)
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/publish-npm-packages.yaml
  package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  scripts/clean.js
Due: prettier --write

adds test for two lists in return
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adaptd test for new list logic
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

temp commit, indentation is not correct, sometimes splits correctly
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improve CI speed (#474)
  .github/actions/setup-and-build/action.yaml
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright-ct.config.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds mock tests for the parameters pane (#465)
  .vscode/launch.json
  package-lock.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/parameterService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/paramCommandHandlers.spec.ts
  packages/vscode-extension/tests/specs/unit/parameterService.spec.ts
  packages/vscode-extension/tests/specs/unit/parametersTreeDataProvider.spec.ts
  packages/vscode-extension/tests/testRunner.ts
  packages/vscode-extension/tests/testRunnerDebug.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Parallel tests in react-codemirror ci
  packages/react-codemirror/playwright-ct.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

added test, list in function invocation
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

uses oneItem property
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

added test, comment before list
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

works good, had to remove a throw statement
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed unecessary indentation
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Reverts back eslint, adds update on the cypher.json grammar file
  .github/workflows/fetch-dev-artifacts.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

added test
  packages/language-support/src/tests/formatting/comments.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes pnpm-lock file
  pnpm-lock.yaml
Due: none

separate skip from ORDER BY and make it always have a newline
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

improved indentation handling
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

grammar
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed attempt at removing indentation in visitor
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

improved test
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

comments work with special breaking
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

improved handling of comments
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/layoutEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

added visitor for IN
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0
