Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

remove logic to dispatch notifications to the language client
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

update standalone runtime config
  packages/language-server/src/runtime/standaloneRuntime.ts
Due: prettier --write, eslint --fix --max-warnings 0

prints
  packages/vscode-extension/webview_tests/specs/test.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor language client signature
  packages/vscode-extension/e2e_tests/mocks/mockLanguageClient.ts
  packages/vscode-extension/src/contextService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Refactors tests
  packages/vscode-extension/wdio.conf.ts
  packages/vscode-extension/webview_tests/specs/connection.spec.ts
  packages/vscode-extension/webview_tests/specs/queryExecution.spec.ts
  packages/vscode-extension/webview_tests/specs/setup.spec.ts
  packages/vscode-extension/webview_tests/specs/test.spec.ts
  packages/vscode-extension/webview_tests/utils.ts
Due: prettier --write, eslint --fix --max-warnings 0

change to js for happy eslint
  packages/vscode-extension/wdio.conf.js
Due: none

tidy up
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for the webviews
  .gitignore
  .vscode/launch.json
  package-lock.json
  packages/vscode-extension/.gitignore
  packages/vscode-extension/e2e_tests/setupTestContainer.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/tsconfig.json
  packages/vscode-extension/wdio.conf.ts
  packages/vscode-extension/webview_tests/specs/connection.spec.ts
  packages/vscode-extension/webview_tests/specs/setup.spec.ts
  packages/vscode-extension/webview_tests/utils.ts
Due: prettier --write, eslint --fix --max-warnings 0

prevent activity bar from closing - works around it not opening in some circumstances
  packages/vscode-extension/tests/specs/webviews/connection.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix broken test
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Change Vite to use ESM instead of CJS
  .eslintignore
  packages/language-support/vitest.config.mts
Due: none

Migrate from jest to vitest
  .eslintignore
  .vscode/extensions.json
  .vscode/settings.json
  jest.config.base.js
  package-lock.json
  package.json
  packages/language-support/jest.config.js
  packages/language-support/package.json
  packages/language-support/tsconfig.json
  packages/language-support/vitest.config.ts
  packages/react-codemirror/jest.config.cjs
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/ndlTokensCopy.test.ts
  packages/react-codemirror/vite.config.ts
  packages/schema-poller/jest.config.js
  packages/schema-poller/src/metadataPoller.ts
  vendor/antlr4-c3/.npmignore
  vendor/antlr4-c3/jest.config.cjs
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/tsconfig.json
  vendor/antlr4-c3/vitest.config.ts
  vitest.workspace.ts
Due: prettier --write, eslint --fix --max-warnings 0

Replace Vitest glob with explicit project paths
  vitest.workspace.ts
Due: prettier --write, eslint --fix --max-warnings 0

Remove .only modifier from test
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Remove Vitest incompatible CLI option
  .github/workflows/ci.yaml
Due: none

Bump Vite and other deps to resolve type error
  package-lock.json
  packages/react-codemirror/package.json
Due: prettier --write

Bundles ndl in the extension
  package-lock.json
  packages/vscode-extension/.gitignore
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/ndl.css
  packages/vscode-extension/src/ndl.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds ndl packages
  package-lock.json
  packages/vscode-extension/.gitignore
  packages/vscode-extension/package.json
  packages/vscode-extension/src/ndl.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds query-execution capabilities
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/tests/fixtures/invalid.cypher
  packages/vscode-extension/tests/fixtures/valid.cypher
  packages/vscode-extension/tests/specs/webviews/connection.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
  packages/vscode-extension/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

Increase memory size for CI pipeline
  .github/workflows/ci.yaml
Due: none

Adds ndl packages (#252)
  package-lock.json
  packages/vscode-extension/.gitignore
  packages/vscode-extension/package.json
  packages/vscode-extension/src/ndl.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix tests failing for CypherEditor without onChange
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Bump @codemirror/view
  package-lock.json
  packages/react-codemirror/package.json
Due: prettier --write

Migrate from Jest to Vitest (#250)
  .eslintignore
  .github/workflows/ci.yaml
  .vscode/extensions.json
  .vscode/settings.json
  jest.config.base.js
  package-lock.json
  package.json
  packages/language-support/jest.config.js
  packages/language-support/package.json
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/tsconfig.json
  packages/language-support/vitest.config.mts
  packages/react-codemirror/jest.config.cjs
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/ndlTokensCopy.test.ts
  packages/react-codemirror/vite.config.ts
  packages/schema-poller/jest.config.js
  packages/schema-poller/src/metadataPoller.ts
  vendor/antlr4-c3/.npmignore
  vendor/antlr4-c3/jest.config.cjs
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/tsconfig.json
  vendor/antlr4-c3/vitest.config.ts
  vitest.workspace.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update latestDispatchedValue on external edits
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Add debounce tests for CypherEditor
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: prettier --write

Rewrite logic for tracking external edits
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Create ninety-panthers-pretend.md
  .changeset/ninety-panthers-pretend.md
Due: none

Flush changes onExecute
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
Due: none

Builds standalone js for completions
  packages/language-support/package.json
  packages/language-support/src/standaloneCompletions.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Replace ts-ignore with proper Vite types
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/src/viteEnv.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

Restrict Vitests workers to 1
  packages/react-codemirror/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Remove ts-ignore for worker import (#254)
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/src/viteEnv.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds a webview template engine
  package-lock.json
  packages/vscode-extension/resources/styles/resultPanel.css
  packages/vscode-extension/resources/styles/vscode.css
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/webviewTemplateEngine.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improve comment for failing tests
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
Due: none

Add tests for bugs due to double update dispatch
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
Due: none

Add condition to prevent duplicated editor updates
  packages/react-codemirror/src/CypherEditor.tsx
Due: none
