Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Revert "introduce separators and punctionation in highlighting"
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/contants.test.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

introduce separators and punctionation in highlighting
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/contants.test.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch label color
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch to using new project
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/tests/testHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes back to back completions (#59)
  packages/antlr4-c3/src/CodeCompletionCore.ts
  packages/antlr4-c3/src/CodeCompletionHelpers.ts
  packages/antlr4-c3/tests/CodeCompletionCore.spec.ts
  packages/antlr4-c3/tests/CodeCompletionOptionals.spec.ts
  packages/antlr4-c3/tests/Optionals.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor test helper
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/testHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

add database and alias completions
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/testHelpers.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tests to fix extra completions
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix build
  packages/server/src/dbInfo.ts
Due: prettier --write, eslint --fix --max-warnings 0

Extracts latest statement in a better way
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates comments
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

test action
  .github/workflows/deploy-cypher-editor.yaml
Due: none

updaete publish version
  .github/workflows/deploy-cypher-editor.yaml
Due: none

update private => restricted
  .github/workflows/deploy-cypher-editor.yaml
Due: none

publish only on main
  .github/workflows/deploy-cypher-editor.yaml
Due: none

add prompt prop to editor
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
Due: none

add initial github action for publishing experimental editor (#65)
  .github/workflows/deploy-cypher-editor.yaml
  package-lock.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: prettier --write

Corrects PR feedback, adds test that does not work
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

workinghistory
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
Due: none

cleanup history
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: none

Fixes tests
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes the position from the autocompletion as we do not need it anymore
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/server/src/autocompletion.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds test for empty query
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds test for labels after broken statements
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Changes tabs in the tests so we can read them like normal people 😂
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add dark mode
  packages/codemirror-playground/index.html
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/tailwind.config.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/repl-mode.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

introduce separators and punctionation in highlighting (#67)
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/contants.test.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds comments to the code
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug with multi-statement completion (#60)
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/server/src/autocompletion.ts
Due: prettier --write, eslint --fix --max-warnings 0

basic e2e test
  .github/workflows/playwright.yml
  package-lock.json
  packages/react-codemirror-experimental/.gitignore
  packages/react-codemirror-experimental/e2e_tests/cypher-editor.spec.ts
  packages/react-codemirror-experimental/index.html
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/playwright.config.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/e2e-entry.tsx
  packages/react-codemirror-experimental/tsconfig.node.json
  packages/react-codemirror-experimental/vite-env.d.ts
  packages/react-codemirror-experimental/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

add e2e tests
  packages/react-codemirror-experimental/e2e_tests/cypher-editor.spec.ts
  packages/react-codemirror-experimental/e2e_tests/cypher-editor.ts
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
  packages/react-codemirror-experimental/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror-experimental/e2e_tests/syntax-highlighting.spec.ts
  packages/react-codemirror-experimental/eval at evaluate (:201:30), <anonymous>
  packages/react-codemirror-experimental/index.html
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/playwright.config.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/e2e-entry.tsx
  packages/react-codemirror-experimental/src/themes.ts
  packages/react-codemirror-experimental/tsconfig.json
  packages/react-codemirror-experimental/tsconfig.node.json
Due: prettier --write, eslint --fix --max-warnings 0

setup ci for e2e test
  .github/workflows/ci.yaml
  .github/workflows/playwright.yml
  package-lock.json
  package.json
  packages/react-codemirror-experimental/package.json
  turbo.json
Due: prettier --write

fiddle with tests
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
  packages/react-codemirror-experimental/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror-experimental/playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

add linewrapping
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

darkmode fiddle
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
  packages/react-codemirror-experimental/eval at evaluate (:201:30), <anonymous>
Due: prettier --write, eslint --fix --max-warnings 0

update action
  .github/workflows/ci.yaml
Due: none

update script to work in ci
  packages/react-codemirror-experimental/playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix unit tests
  packages/react-codemirror-experimental/tsconfig.node.json
  packages/react-codemirror-experimental/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

name
  .github/workflows/ci.yaml
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
