Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

add example with parameter
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds standardization check to formatter tests (#334)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/standardizer.ts
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

elaborate in cmoment
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

add comment for visitsubqueryclause
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for param $ spacing
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

change to verifyformatting instead of expect
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

better test description
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr review comments
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/tests/autocompletion/functionsCompletion.test.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/queries/databases.ts
Due: prettier --write, eslint --fix --max-warnings 0

Red-adds preparser errors WIP
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds subquery and parameter handling to formatter (#336)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Sets the env variable with cross-env
  package-lock.json
  package.json
  packages/language-support/package.json
Due: prettier --write

Fixes GH actions not being able to deploy codemirror playground
  packages/react-codemirror-playground/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tries to deploy from this branch
  .github/workflows/deploy-demo.yml
Due: none

Reverts the deploy rules
  .github/workflows/deploy-demo.yml
Due: none

Updates only needed resolver
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Widens timeout
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

added warning on invalid cypher version
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Test verified commit
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Widens timeout even more
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Adding formatting capabilities to react-codemirror
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/index.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Removed unused functions
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Small fixes
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removed feature flag always being true
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Fixed issue from merging
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixed Typo
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improved comment on exposed function
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Removed having formatting under a feature flag in the demo
  packages/react-codemirror-playground/src/App.tsx
Due: none

Removed initate variable with arbitrary value, undefined instead
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Added tests for checking new cursos position
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Added tooltip on format button
  packages/react-codemirror-playground/src/App.tsx
Due: none

Removed using break, improved robustness
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixed test after merging main
  packages/language-support/src/tests/formatting/formatting.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removed feature flags completely
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Adds formatting to editor by keybind and button (#335)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/formatting/formatting.test.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Removes helpers test
  packages/react-codemirror/src/e2e_tests/helpers.spec.tsx
Due: none

Forces update
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Fixed keybind issue when importing this component with extra keybinding
  packages/react-codemirror/src/CypherEditor.tsx
Due: none
