Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

modified params suggested with backticks to be like $`param name`
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

re-added param from too agressive undo
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

small refactor of syntaxValidation
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds simple warnings on deprecated procedures and functions (#307)
  .changeset/lovely-mails-ring.md
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds deprecated-by suggestions (if existing) to deprecation warnings
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/types.ts
  packages/schema-poller/src/queries/functions.ts
  packages/schema-poller/src/queries/procedures.ts
Due: prettier --write, eslint --fix --max-warnings 0

Switched colouring of preparser key, and added missing (new) values to constants.ts objects
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixed preparser-options (again) and added colouring tests
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/tests/syntaxColouring/preparser.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

aligned preparser with actual preparser
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
Due: none

Extended parsing of preparser options (CYPHER ...) + color some new options(#301)
  .changeset/four-tools-leave.md
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/syntaxColouring/preparser.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

refactored where backticking for parameters is done
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

Disables flaky debouncing test
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
Due: none

improved suggestion to include cypher keyword too
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

test start
  packages/vscode-extension/tests/fixtures/deprecated-by.cypher
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

final small refactor
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

added changeset
  .changeset/moody-fireants-guess.md
Due: none

Adds backticks to dbNames/aliases if needed (#310)
  .changeset/moody-fireants-guess.md
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds event to relint document when schema refetched
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds test for deprecated-by warnings
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix base when serving vite files
  packages/react-codemirror-playground/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

added testing of cypher 5 completion
  packages/language-support/src/tests/autocompletion/miscCompletions.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

added test for completion of just keyword
  packages/language-support/src/tests/autocompletion/miscCompletions.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds schema fetched interactions to the tests
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds extra event to tests
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tries to simplify the reloading on events
  packages/language-server/src/server.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
  packages/vscode-extension/tests/suiteSetup.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improves the events to relint documents
  packages/language-server/src/server.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds test that should be failing when we don't relint the document
  packages/vscode-extension/tests/fixtures/deprecated-by.cypher
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/suiteSetup.ts
Due: prettier --write, eslint --fix --max-warnings 0

Relints documents when connecting / disconnecting
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changelog to VSCode package and bumps version
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Uses fixme for the test
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
Due: none

Disables flaky debouncing test (#313)
  packages/react-codemirror/src/e2e_tests/debounce.spec.tsx
Due: none

Relints documents when connecting / disconnecting to a database (#318)
  package-lock.json
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/fixtures/deprecated-by.cypher
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/suiteSetup.ts
Due: prettier --write, eslint --fix --max-warnings 0

Sanitises deprecated by information
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/testData.ts
Due: prettier --write, eslint --fix --max-warnings 0

Amends types
  packages/language-support/src/tests/testData.ts
Due: prettier --write, eslint --fix --max-warnings 0

create a resizable editor extension
  packages/react-codemirror/src/neo4jSetup.tsx
  packages/react-codemirror/src/resizableEditor.tsx
Due: none

remove unnecessary init code
  packages/react-codemirror/src/resizableEditor.tsx
Due: none

Fixes failing e2e react codemirror tests
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror/src/e2e_tests/performanceTest.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

simplify resizing to remove line generation, and add aria attributes
  packages/react-codemirror/src/resizableEditor.tsx
Due: none

update api of cypher editor to expose resizeable prop
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/neo4jSetup.tsx
Due: none

Adds failing test
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
