Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Clean up build tasks.
  editor-plugin/intellij/build.gradle.kts
Due: none

tests work
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWorker.ts
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
  packages/language-support/tsconfig.json
  packages/react-codemirror/jest.config.cjs
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/lang-cypher/semanticAnalysisWorker.ts
Due: prettier --write, eslint --fix --max-warnings 0

Move IntelliJ LSP plugin to language support repo. (#156)
  .gitignore
  editor-plugin/intellij/.gitignore
  editor-plugin/intellij/.run/Run IDE with Plugin.run.xml
  editor-plugin/intellij/LICENSE.md
  editor-plugin/intellij/README.md
  editor-plugin/intellij/build.gradle.kts
  editor-plugin/intellij/gradle/wrapper/gradle-wrapper.jar
  editor-plugin/intellij/gradle/wrapper/gradle-wrapper.properties
  editor-plugin/intellij/gradlew
  editor-plugin/intellij/gradlew.bat
  editor-plugin/intellij/settings.gradle.kts
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
  editor-plugin/intellij/src/main/resources/META-INF/plugin.xml
  editor-plugin/intellij/src/main/resources/META-INF/pluginIcon.svg
Due: none

fix worker thread for node as well
  packages/language-server/src/server.ts
  packages/language-server/src/worker.ts
  packages/language-support/package.json
  packages/language-support/src/highlighting/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/semantic-analysis-worker.ts
  packages/react-codemirror/src/lang-cypher/semanticAnalysisWorker.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
  packages/react-codemirror/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/language-server/src/worker.ts
  packages/language-support/src/tests/benchmarks/highlighting-overhead.tadfs
  packages/react-codemirror/jest.config.js
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update .github/workflows/benchmark.yaml
  .github/workflows/benchmark.yaml
Due: none

self review
  package-lock.json
  packages/language-server/package.json
  packages/language-server/src/server.ts
  packages/language-server/src/worker.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes grafana push (hopefully) (#155)
  .github/workflows/benchmark.yaml
Due: none

self review
  packages/react-codemirror/jest.config.cjs
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
Due: none

fix second half of grafan push
  .github/workflows/benchmark.yaml
Due: none

fix build
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix second half of grafana push (#159)
  .github/workflows/benchmark.yaml
Due: none

Shows tooltip past last argument to have consistency with VSCode
  package-lock.json
  packages/react-codemirror/src/lang-cypher/signature-help.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds prop to enable / disable signature help
  packages/react-codemirror/playwright/index.html
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/signature-help.spec.tsx
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/signature-help.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds more signature help tests
  packages/language-support/src/index.ts
  packages/react-codemirror/src/e2e_tests/signature-help.spec.tsx
  packages/react-codemirror/src/lang-cypher/signature-help.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes electron version
  package-lock.json
  packages/vscode-extension/e2e_tests/fixtures/signature-help-function.cypher
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/tests/signature-help.spec.ts
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

tests
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

fix e2e test
  packages/vscode-extension/package.json
Due: prettier --write

faster?
  .vscode/settings.json
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/benchmarks/benchmark.ts
  packages/language-support/src/tests/benchmarks/highlighting-perf.ts
  packages/language-support/src/tests/benchmarks/parse.ts
Due: prettier --write, eslint --fix --max-warnings 0

faster123
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/benchmarks/highlighting-perf.ts
  packages/react-codemirror/src/lang-cypher/ParserAdapter.ts
Due: prettier --write, eslint --fix --max-warnings 0

fac
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/misc.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/preparser.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
  packages/react-codemirror/src/lang-cypher/ParserAdapter.ts
Due: prettier --write, eslint --fix --max-warnings 0

merge_tokens
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/misc.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates mock data
  packages/react-codemirror-playground/src/mock-schema.ts
  packages/react-codemirror/src/e2e_tests/mock-data.ts
  packages/react-codemirror/src/e2e_tests/signature-help.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Adds integration tests for signature help and VSCode
  package-lock.json
  packages/vscode-extension/.gitignore
  packages/vscode-extension/e2e_tests/fixtures/.vscode/settings-template.json
  packages/vscode-extension/e2e_tests/fixtures/signature-help-function.cypher
  packages/vscode-extension/e2e_tests/main.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/signature-help.spec.ts
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up
  packages/vscode-extension/e2e_tests/main.ts
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes tests
  package-lock.json
  packages/react-codemirror/src/e2e_tests/signature-help.spec.tsx
  packages/react-codemirror/src/lang-cypher/signature-help.ts
  packages/vscode-extension/e2e_tests/main.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add null guard when getting virtual file ext
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
Due: none

Add null guard when getting virtual file ext (#161)
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
Due: none

Also add guard to actual server
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
Due: none

Also add guard to actual server (#162)
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
Due: none

Tries to avoid duplication of some test data
  packages/language-support/src/index.ts
  packages/language-support/src/tests/testData.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/e2e_tests/mock-data.ts
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
  packages/react-codemirror/src/e2e_tests/signature-help.spec.tsx
  packages/vscode-extension/e2e_tests/tests/signature-help.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tries to avoid duplication of some test data
  packages/language-support/src/index.ts
  packages/language-support/src/tests/testData.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/src/mock-schema.ts
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
  packages/vscode-extension/e2e_tests/fixtures/.vscode/settings.json
Due: prettier --write, eslint --fix --max-warnings 0

Updates signatures
  packages/language-support/src/tests/testData.ts
Due: prettier --write, eslint --fix --max-warnings 0

merge semantic analsysis and syntax errors again
  package-lock.json
  packages/language-server/src/server.ts
  packages/language-server/src/worker.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/lint-worker.ts
  packages/react-codemirror/src/lang-cypher/semantic-analysis-worker.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
Due: prettier --write, eslint --fix --max-warnings 0

review comments
  packages/language-server/package.json
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/language-server/src/server.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix tests
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

worker pool-ish for vscode
  packages/language-server/src/server.ts
  packages/language-server/src/worker.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
Due: prettier --write, eslint --fix --max-warnings 0

smarter 'pool' mgmt
  packages/language-server/src/server.ts
  packages/language-server/src/worker.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds more tests for VSCode integration
  packages/react-codemirror/src/e2e_tests/signature-help.spec.tsx
  packages/vscode-extension/e2e_tests/fixtures/signature-help-function.cypher
  packages/vscode-extension/e2e_tests/fixtures/signature-help.cypher
  packages/vscode-extension/e2e_tests/main.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/signature-help.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0
