Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Removes inline snapshot thingy
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes release actions (#265)
  .github/workflows/publish-npm-packages.yaml
  package-lock.json
  packages/vscode-extension/syntaxes/cypher.json
  release-canary.js
Due: prettier --write

Fix grammar keywords in cmdParser
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes the way we add external keywords a bit better
  .changeset/selfish-wombats-pay.md
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
Due: none

Fixes bug using non Cypher keywords as symbolic names (#266)
  .changeset/selfish-wombats-pay.md
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Simplifies block
  package-lock.json
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Replaces filter with some
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds errors for non-declared procedures (#245)
  .changeset/chatty-plants-greet.md
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/proceduresValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for deprecation of CALL without parentheses
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds Dockerfile to be able to execute in Alacrity
  .vscode/launch.json
  packages/language-support/benchmarks.Dockerfile
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates VSCode version
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Tries to adapt benchmaks to be able to keep using that package
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

Upgrade to Java 21 / IJ Platform 2.1 / Gradle 8.8
  editor-plugin/intellij/.gitignore
  editor-plugin/intellij/build.gradle.kts
  editor-plugin/intellij/gradle/wrapper/gradle-wrapper.properties
Due: none

Enable semantic token support
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
Due: none

Composes grammars for Cypher 5 and Cypher 25
  packages/language-support/package.json
  packages/language-support/rename-rules.py
  packages/language-support/src/antlr-grammar/Cypher25CmdLexer.g4
  packages/language-support/src/antlr-grammar/Cypher25CmdParser.g4
  packages/language-support/src/antlr-grammar/Cypher25Lexer.g4
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/antlr-grammar/Cypher5CmdLexer.g4
  packages/language-support/src/antlr-grammar/Cypher5CmdParser.g4
  packages/language-support/src/antlr-grammar/Cypher5Parser.g4
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/lexer.test.ts
  packages/language-support/src/tests/syntaxColouring/writeQuery.test.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds grammar for Cypher25
  package-lock.json
  package.json
  packages/language-support/package.json
  packages/language-support/src/antlr-grammar/Cypher25CmdLexer.g4
  packages/language-support/src/antlr-grammar/Cypher25CmdParser.g4
  packages/language-support/src/antlr-grammar/Cypher25Lexer.g4
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/antlr-grammar/Cypher5CmdLexer.g4
  packages/language-support/src/antlr-grammar/Cypher5CmdParser.g4
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/antlr-grammar/Statements.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tries to fix positions
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update README.md
  packages/vscode-extension/README.md
Due: none

re-export language support
  packages/react-codemirror/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

Create young-llamas-teach.md
  .changeset/young-llamas-teach.md
Due: none

Update README.md (#271)
  packages/vscode-extension/README.md
Due: none

Re-export language support from react codemirror (#272)
  .changeset/young-llamas-teach.md
  packages/react-codemirror/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

exposes tab focus mode prop so we can override tab-trapping behaviour
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

add changeset
  .changeset/shiny-dodos-rush.md
Due: none

rename param, conditionally set keybindings
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/neo4jSetup.tsx
Due: none

update changeset
  .changeset/shiny-dodos-rush.md
Due: none

Expose tab focus mode prop so we can override tab-trapping behaviour (#274)
  .changeset/shiny-dodos-rush.md
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/neo4jSetup.tsx
Due: none

Enable semantic token highlighting in IntelliJ plugin (#269)
  editor-plugin/intellij/.gitignore
  editor-plugin/intellij/build.gradle.kts
  editor-plugin/intellij/gradle/wrapper/gradle-wrapper.properties
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/cypherlspsupport/CypherLspServerSupportProvider.java
Due: none

Updates version of Java for IntelliJ plugin and fix npm publishing
  .github/workflows/publish-npm-packages.yaml
  editor-plugin/intellij/README.md
Due: none

Adds script to programatically modify the semanticAnalysis.js file (#264)
  .eslintignore
  docs/semantic-analysis.md
  modify-semantic-analysis.js
Due: none

Updates version of Java for IntelliJ plugin and fix npm publishing (#277)
  .github/workflows/publish-npm-packages.yaml
  editor-plugin/intellij/README.md
Due: none

Adds backticks to completions that need backticking
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/ninety-doors-brush.md
Due: none

Tries to improve backticks completions with text edits
  package-lock.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Adds offsets for codemirror
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/types.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/vscode-extension/cypher-language-configuration.json
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
