Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

update lintworker package.json version to unoccupied one
  packages/lint-worker/package.json
Due: oxfmt

update changelog and package.json version
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: oxfmt

update changelog and package.json version for vscode extension release (#658)
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.17.0
  packages/vscode-extension/package.json
Due: oxfmt

Upgrade TypeScript to 5.9.3 and remove redundant tsconfig settings
  package.json
  packages/language-support/tsconfig.json
  packages/lint-worker/tsconfig.json
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/tsconfig.node.json
  pnpm-lock.yaml
Due: oxfmt

Fix Playwright test setup: correct CLI args and upgrade Playwright
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/web/globalSetup.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add Playwright output directories to .gitignore
  .gitignore
Due: none

Clean up web extension tests: simplify types, remove stubs
  packages/vscode-extension/tests/web/basicLanguageFeatures.web.spec.ts
  packages/vscode-extension/tests/web/databaseConnection.web.spec.ts
  packages/vscode-extension/tests/web/lintWorkerStrategies.web.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Enable strict TypeScript and best-practice compiler flags
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/tsconfig.json
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/src/index.tsx
  packages/react-codemirror-playground/tsconfig.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/treeviews/databaseInformationTreeDataProvider.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tsconfig.json
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add missing strict flags to tsconfig.base.json
  tsconfig.base.json
Due: oxfmt

Fix remaining type errors in fully-strict packages
  packages/language-server/src/server.ts
  packages/language-server/src/syntaxColouring.ts
  packages/react-codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror-playground/src/treeUtil.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Migrate from antlr4/Java ANTLR jar to antlr-ng/antlr4ng
  .github/actions/setup-and-build/action.yaml
  package.json
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/errorTrackingListener.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/standardizer.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/lexer.test.ts
  pnpm-lock.yaml
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/src/CodeCompletionCore.ts
  vendor/antlr4-c3/src/CodeCompletionHelpers.ts
  vendor/antlr4-c3/src/VocabularyImpl.ts
  vendor/antlr4-c3/src/antlr4.ts
  vendor/antlr4-c3/tests/CPP14.g4
  vendor/antlr4-c3/tests/CodeCompletionCore.spec.ts
  vendor/antlr4-c3/tests/CodeCompletionOptionals.spec.ts
  vendor/antlr4-c3/tests/generate.sh
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update tar above vulnerable version
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

make lint call need parserWrapper
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/syntaxValidation/helpers.ts
  packages/lint-worker/src/lintWorker.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move applySyntaxColouring to parserwrapper
  packages/language-server/src/syntaxColouring.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/syntaxColouring/function.test.ts
  packages/language-support/src/tests/syntaxColouring/misc.test.ts
  packages/language-support/src/tests/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/syntaxColouring/preparser.test.ts
  packages/language-support/src/tests/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/syntaxColouring/writeQuery.test.ts
  packages/react-codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move sighelp to parserWrapper
  packages/language-server/src/signatureHelp.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move autocompletion to parserWrapper
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add symbolfetcher to cyphereditor
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

update version
  packages/react-codemirror/package.json
Due: oxfmt

update versions in react-codemirrors dependencies. Will this work, or do I need to verdaccio publish?
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/react-codemirror/package.json
Due: oxfmt

add logging to symbolfetcher
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
Due: oxfmt

update tar above vulnerable version (#659)
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

move so language server and codemirrors use helper methods everywhere. Rename ParserWrapper to CypherHelper
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxColouring.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/syntaxColouring/function.test.ts
  packages/language-support/src/tests/syntaxColouring/misc.test.ts
  packages/language-support/src/tests/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/syntaxColouring/preparser.test.ts
  packages/language-support/src/tests/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/syntaxColouring/writeQuery.test.ts
  packages/language-support/src/tests/syntaxValidation/helpers.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/helpers.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Revert "add logging to symbolfetcher"
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
Due: oxfmt

bump pre-release version to 1.17.1
  packages/vscode-extension/package.json
Due: oxfmt

rename parserWrapper file and imports
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherHelper.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/syntaxColouring/function.test.ts
  packages/language-support/src/tests/syntaxColouring/misc.test.ts
  packages/language-support/src/tests/syntaxColouring/multilline.test.ts
  packages/language-support/src/tests/syntaxColouring/preparser.test.ts
  packages/language-support/src/tests/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/syntaxColouring/writeQuery.test.ts
  packages/language-support/src/tests/syntaxValidation/helpers.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

replace defaultCypherHelper with per-codemirror in parser-adapter
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

revert package.json versions
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/react-codemirror/package.json
Due: oxfmt

fix extra letter
  packages/language-support/package.json
Due: oxfmt

cleanup
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changesets
  .changeset/funny-tips-glow.md
  .changeset/seven-cats-shout.md
Due: none

add err to msg when symbol fetcher fails
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

format
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

remove leftover "new CypherLanguageService" from tests, move up slicing of query to pre-parse in completions + add slicing to completionsAssertionHelper
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename SymbolFetcher in codemirror to CodemirrorSymbolFetcher, to separate it from the slightly different symbol fetcher used in language-server
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

format codemirror
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

add oxlint/oxfmt checks to jsx/tsx files too
  .lintstagedrc.json
Due: oxfmt

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
