Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

call CI instead of install on ci
  .github/workflows/ci.yaml
Due: none

better out/ ignore patterN
  .eslintignore
Due: none

fix imports
  .eslintignore
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/lang-cypher/constants.ts
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

make sure we build
  .github/workflows/ci.yaml
Due: none

fix wrong export and add lint rule for future
  .eslintrc.js
  .vscode/settings.json
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tailwindcss
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  package-lock.json
  package.json
  packages/codemirror-playground/README.md
  packages/codemirror-playground/index.html
  packages/codemirror-playground/package.json
  packages/codemirror-playground/postcss.config.js
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/TokenTable.tsx
  packages/codemirror-playground/src/index.css
  packages/codemirror-playground/src/index.tsx
  packages/codemirror-playground/tailwind.config.ts
  packages/codemirror-playground/tsconfig.node.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

make demo a little prettier
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/Editor.tsx
  packages/codemirror-playground/src/TokenTable.tsx
  packages/codemirror-playground/src/index.css
Due: none

bracketmatching
  packages/codemirror-playground/src/Editor.tsx
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

Codemirror demo polish (#39)
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yaml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
  packages/codemirror-playground/README.md
  packages/codemirror-playground/index.html
  packages/codemirror-playground/package.json
  packages/codemirror-playground/postcss.config.js
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/Editor.tsx
  packages/codemirror-playground/src/TokenTable.tsx
  packages/codemirror-playground/src/index.css
  packages/codemirror-playground/src/index.tsx
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/lang-cypher/constants.ts
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
  packages/codemirror-playground/src/vite-env.d.ts
  packages/codemirror-playground/tailwind.config.ts
  packages/codemirror-playground/tsconfig.json
  packages/codemirror-playground/tsconfig.node.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/package.json
  packages/language-support/src/index.ts
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

fix_multiline_colors
  packages/codemirror-playground/index.html
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/index.css
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix_multiline_colors (#40)
  packages/codemirror-playground/index.html
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/index.css
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add fixes for using lsp4intellij
  packages/language-support/src/autocompletion.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

improve icon mapping
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix2
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

first stab
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/lang-cypher/constants.ts
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/lang-cypher/constants.ts
Due: prettier --write, eslint --fix --max-warnings 0

work
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

selfreview
  packages/codemirror-playground/src/lang-cypher/autocomplete.ts
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

add workflow to deploy demo to github pages
  .github/workflows/deploy-demo.yml
Due: none

change branch
  .github/workflows/deploy-demo.yml
Due: none

change back to main
  .github/workflows/deploy-demo.yml
  packages/codemirror-playground/src/App.tsx
Due: none

add workflow to deploy demo to github pages (#42)
  .github/workflows/deploy-demo.yml
  packages/codemirror-playground/src/App.tsx
Due: none

f
  .github/workflows/deploy-demo.yml
  packages/codemirror-playground/src/index.tsx
Due: none

singleline
  packages/codemirror-playground/src/App.tsx
Due: none

clean up action
  .github/workflows/deploy-demo.yml
Due: none

reset pkg code
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/index.tsx
Due: none

test without setup pages
  .github/workflows/deploy-demo.yml
Due: none

readd setup pages
  .github/workflows/deploy-demo.yml
Due: none

?
  .github/workflows/deploy-demo.yml
Due: none

remove setup pages again
  .github/workflows/deploy-demo.yml
Due: none

switch node polyfills
  package-lock.json
  package.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/vite-env.d.ts
  packages/codemirror-playground/tsconfig.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/package.json
  packages/language-support/tsconfig.json
  packages/server/tsconfig.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

test
  .github/workflows/deploy-demo.yml
Due: none

test
  packages/codemirror-playground/vite.config.ts
  packages/language-support/package.json
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings 0

fe
  turbo.json
Due: prettier --write

no-minify
  packages/codemirror-playground/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

beginmigration
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Exporting syntaxErrorsCount
  src/antlr4/Parser.d.ts
  src/antlr4/Parser.js
Due: prettier --write, eslint --fix --max-warnings 0

Codemirror autocomplete first steps (#41)
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/lang-cypher/autocomplete.ts
  packages/codemirror-playground/src/lang-cypher/constants.ts
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0
