Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Polishes last bits in codemirror
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

Reverts trace debugging change
  packages/vscode-extension/package.json
Due: prettier --write

Updates test data
  packages/language-support/src/tests/testData.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes signature help in codemirror and VSCode
  packages/language-support/src/signatureHelp.ts
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds feature to run selection in VSCode
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/cypherRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changelog for VSCode
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Adds test for running selection in VSCode
  package-lock.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/tests/fixtures/multiline.cypher
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes signature help (#280)
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/testData.ts
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds minor nit
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Concatenates selection and adds test
  package-lock.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Contributes menu item to execute cypher
  packages/vscode-extension/package.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Trims down feature and adds VSCode and codemirror test
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/types.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/vscode-extension/tests/fixtures/auto-completion.cypher
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/suiteSetup.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans old flag test
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Adds backticks to completions that need backticking (#278)
  .changeset/ninety-doors-brush.md
  package-lock.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/vscode-extension/cypher-language-configuration.json
  packages/vscode-extension/tests/fixtures/auto-completion.cypher
  packages/vscode-extension/tests/specs/api/autoCompletion.spec.ts
  packages/vscode-extension/tests/suiteSetup.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up arg extraction a bit
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds feature to run selection in VSCode (#281)
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/tests/fixtures/multiline.cypher
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds minor nits to the VSCode extension
  .changeset/loud-shrimps-push.md
  packages/language-server/src/autocompletion.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds minor nits to the VSCode extension (#283)
  .changeset/loud-shrimps-push.md
  packages/language-server/src/autocompletion.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates package.json and package-lock
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

Fixes signature help bug with VSCode
  .changeset/angry-beers-explain.md
  package-lock.json
  packages/language-support/src/signatureHelp.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes signature help bug with default arguments in VSCode (#284)
  .changeset/angry-beers-explain.md
  package-lock.json
  packages/language-support/src/signatureHelp.ts
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes release job
  .github/workflows/publish-npm-packages.yaml
Due: none

Fixes release job (#285)
  .github/workflows/publish-npm-packages.yaml
Due: none

Readds parser symbols as utf8 and small nits
  packages/language-support/src/antlr-grammar/Cypher5Lexer.g4
  packages/vscode-extension/esbuild.js
  packages/vscode-extension/package.json
  packages/vscode-extension/src/ndl.ts
  vendor/antlr4-c3/package.json
Due: prettier --write, eslint --fix --max-warnings 0

made setup for windows possible
  packages/language-support/src/antlr-grammar/Cypher5Lexer.g4
  packages/vscode-extension/esbuild.js
  packages/vscode-extension/package.json
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/tests/generate.sh
Due: prettier --write

Rolls back change
  packages/vscode-extension/package.json
Due: prettier --write

Rolls back ndl change, pushes hardcoded file to the repo
  .gitattributes
  packages/vscode-extension/.gitignore
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/ndl.css
  packages/vscode-extension/src/ndl.ts
Due: prettier --write, eslint --fix --max-warnings 0

switched filename for windows compat
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/package.json
Due: prettier --write

Fixes windows setup (#291)
  .gitattributes
  packages/language-support/src/antlr-grammar/Cypher5Lexer.g4
  packages/vscode-extension/.gitignore
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/styles/ndl.css
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/tests/generate.sh
Due: prettier --write

added yield, moved methods
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

added changeset
  .changeset/old-shoes-provide.md
Due: none

adds language support for server/connect/disconnect/welcome
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

switched to existing findParent-method
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/procedureCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix syntax highlighting for server and update tests
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Create spicy-cheetahs-repeat.md
  .changeset/spicy-cheetahs-repeat.md
Due: none

add full sysinfo support
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update spicy-cheetahs-repeat.md
  .changeset/spicy-cheetahs-repeat.md
Due: none

Add support for sysinfo, welcome, connect, disconnect and server commands (#293)
  .changeset/spicy-cheetahs-repeat.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
