Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

playwright
  packages/react-codemirror-experimental/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror-experimental/playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

debug web server
  .github/workflows/ci.yaml
  packages/react-codemirror-experimental/playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

test against built code
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

webserver
  packages/react-codemirror-experimental/playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

reduce flakyness
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump package
  packages/react-codemirror-experimental/package.json
Due: prettier --write

add more tests
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tab key completions
  package-lock.json
  packages/react-codemirror-experimental/e2e_tests/auto-completion.spec.ts
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
  packages/react-codemirror-experimental/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror-experimental/e2e_tests/syntax-highlighting.spec.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/playwright.config.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

move db-info to objects from maps
  packages/codemirror-playground/src/App.tsx
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/testHelpers.ts
  packages/react-codemirror-experimental/e2e_tests/auto-completion.spec.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
  packages/server/src/dbInfo.ts
Due: prettier --write, eslint --fix --max-warnings 0

mellan
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

schemacompletions
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tests for schema completions
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/e2e_tests/auto-completion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump
  package-lock.json
  packages/react-codemirror-experimental/package.json
Due: prettier --write

Corrects bug in c3 tests
  packages/antlr4-c3/tests/CodeCompletionOptionals.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Uses jest instead of vitest
  package-lock.json
  packages/react-codemirror-experimental/jest.config.js
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/tests/contants.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds better explanation on how to run the VSCode playground
  README.md
  imgs/auto-completion.gif
  imgs/vscode-playground.png
  packages/vscode-playground/README.md
Due: none

non-expressions done
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/react-codemirror-experimental/playwright-report/index.html
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix incorrect caret in completions
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup
  packages/language-support/src/autocompletion/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

separate expression
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove unused code
  packages/language-support/src/autocompletion/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove unsued code
  packages/language-support/src/autocompletion/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

add new test case
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

unskip test
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Uses jest instead of vitest (#72)
  package-lock.json
  packages/react-codemirror-experimental/jest.config.js
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/tests/contants.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

updpackalok
  package-lock.json
Due: prettier --write

update lock
  package-lock.json
Due: prettier --write

update jest config
  jest.config.base.js
Due: none

Tests with the flags that VSCode does so we don't break jest plugin again
  .github/workflows/ci.yaml
Due: none

Add REPL movements to Codemirror editor with tests (#69)
  .github/workflows/ci.yaml
  jest.config.base.js
  package-lock.json
  package.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/tailwind.config.ts
  packages/react-codemirror-experimental/.gitignore
  packages/react-codemirror-experimental/e2e_tests/cypher-editor.ts
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
  packages/react-codemirror-experimental/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror-experimental/e2e_tests/syntax-highlighting.spec.ts
  packages/react-codemirror-experimental/index.html
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/playwright.config.ts
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/e2e-entry.tsx
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
  packages/react-codemirror-experimental/src/repl-mode.ts
  packages/react-codemirror-experimental/src/themes.ts
  packages/react-codemirror-experimental/tsconfig.json
  packages/react-codemirror-experimental/tsconfig.node.json
  packages/react-codemirror-experimental/vite-env.d.ts
  packages/react-codemirror-experimental/vite.config.ts
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Corrects bug in c3 tests (#71)
  packages/antlr4-c3/tests/CodeCompletionOptionals.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds better explanation on how to run the VSCode playground (#73)
  README.md
  imgs/auto-completion.gif
  imgs/vscode-playground.png
  packages/vscode-playground/README.md
Due: none

Tests with the flags that VSCode does so we don't break jest plugin again (#74)
  .github/workflows/ci.yaml
Due: none

refactor test helper
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/testHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0
