Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Fix broken codemirror e2e-testing
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  pnpm-lock.yaml
Due: prettier --write

some cleanup
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding pre-release workflow for vscode extension
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

add needless comment
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactoring
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

skip lint-worker suite
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

looking at the prefix only
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

Fix query execution tests (#556)
  packages/vscode-extension/tests/fixtures/call-in-transactions.cypher
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding pre-release workflow for vscode extension (#560)
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

reintroduce linter-worker test
  packages/vscode-extension/tests/fixtures/cypher-versioned.cypher
  packages/vscode-extension/tests/fixtures/subquery-call.cypher
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

reintroduce linter-worker test (#562)
  packages/vscode-extension/tests/fixtures/cypher-versioned.cypher
  packages/vscode-extension/tests/fixtures/subquery-call.cypher
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds polling of "graph schema"
  packages/language-support/src/dbSchema.ts
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/graphSchema.ts
Due: prettier --write, eslint --fix --max-warnings 0

changing to use browser bot instead of the action bot
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

clean up comments
  packages/query-tools/src/queries/graphSchema.ts
Due: prettier --write, eslint --fix --max-warnings 0

switches Set -> []
  packages/language-support/src/dbSchema.ts
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/graphSchema.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding rich clipboard copier to codemirror
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/richClipboardCopier.test.ts
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

eslint fix
  packages/react-codemirror/src/richClipboardCopier.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding the changeset
  .changeset/late-facts-move.md
Due: none

adds integration test using vitest/neo4j testcontainer
  packages/query-tools/package.json
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/src/tests/pollingUnitTests.test.ts
  packages/query-tools/src/tests/setupTestContainer.ts
  packages/query-tools/tsconfig.json
  packages/query-tools/tsconfig.node.json
  packages/query-tools/vitest.config.mts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

fix query-tools test script
  packages/query-tools/package.json
Due: prettier --write

try longer hook timeout
  packages/query-tools/vitest.config.mts
Due: none

move polling test to separate script + step in CI
  .github/workflows/ci.yaml
  packages/query-tools/package.json
Due: prettier --write

test -> integration test in CI name
  .github/workflows/ci.yaml
Due: none

some renaming + splits execution of unit vs integration tests
  packages/query-tools/package.json
  packages/query-tools/src/integration-tests/pollingIntegrationTests.test.ts
  packages/query-tools/src/integration-tests/setupTestContainer.ts
Due: prettier --write, eslint --fix --max-warnings 0

changing to use browser bot instead of the action bot (#564)
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

test cleanup + fix (1 test actually did nothing), + allow more properties than 'nodes' and 'relationships'
  packages/query-tools/src/integration-tests/pollingIntegrationTests.test.ts
  packages/query-tools/src/queries/graphSchema.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds polling of graph schema (#563)
  .github/workflows/ci.yaml
  packages/language-support/src/dbSchema.ts
  packages/query-tools/package.json
  packages/query-tools/src/integration-tests/pollingIntegrationTests.test.ts
  packages/query-tools/src/integration-tests/setupTestContainer.ts
  packages/query-tools/src/metadataPoller.ts
  packages/query-tools/src/queries/graphSchema.ts
  packages/query-tools/tsconfig.json
  packages/query-tools/tsconfig.node.json
  packages/query-tools/vitest.config.mts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.1
  packages/vscode-extension/package.json
Due: prettier --write

adding an additional wrapper
  packages/react-codemirror/src/richClipboardCopier.test.ts
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding bg color
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixing the test
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding rich clipboard copier to codemirror (#565)
  .changeset/late-facts-move.md
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/richClipboardCopier.test.ts
  packages/react-codemirror/src/richClipboardCopier.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.2
  packages/vscode-extension/package.json
Due: prettier --write

adds testing of missing reltype/label warnings
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes expected values in tests
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes missing labell/reltype warnings
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove stray comment
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

ditto
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add changeset
  .changeset/slick-pandas-dance.md
Due: none

re-add type-only import from antlr as it was before
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
