Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Push only tokens that have a colour assigned to language server level
  server/src/highlighting/syntaxColouring.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses PR review comments
  server/src/highlighting/syntaxColouring.ts
  server/src/highlighting/syntaxColouringHelpers.ts
  server/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

Renames client to vscode-playground
  .eslintignore
  .gitignore
  .vscode/launch.json
  .vscodeignore
  README.md
  client/tsconfig.json
  package.json
  tsconfig.json
  vscode-playground/cypher-language-configuration.json
  vscode-playground/package-lock.json
  vscode-playground/package.json
  vscode-playground/src/extension.ts
  vscode-playground/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Hardens linting configuration
  .eslintrc.js
  .eslintrc.json
  server/src/autocompletion.ts
  server/src/dbInfo.ts
  server/src/server.ts
  server/src/tests/autocompletion.test.ts
  server/src/tests/signatureHelp.test.ts
  server/src/tests/syntaxColouring.test.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Add a phase of compilation to make the stricter linting work
  .github/workflows/ci.yaml
Due: none

Provide JavaScript port of TokenStreamRewriter (#3560)
  .c8rc.json
  .eslintrc.yml
  package-lock.json
  package.json
  spec/IntervalSetSpec.js
  spec/rewriter/Makefile
  spec/rewriter/TokenStreamRewriterSpec.js
  spec/rewriter/abc.g4
  spec/rewriter/calc.g4
  spec/rewriter/generatedCode/abc.js
  spec/rewriter/generatedCode/calc.js
  src/antlr4/BufferedTokenStream.js
  src/antlr4/TokenStreamRewriter.d.ts
  src/antlr4/TokenStreamRewriter.js
  src/antlr4/index.d.ts
  src/antlr4/index.node.js
  src/antlr4/index.web.js
Due: prettier --write, eslint --fix --max-warnings 0

export token channel (#4143)
  src/antlr4/Token.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

Changed Parser typings (#4149)
  src/antlr4/context/ParserRuleContext.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix incorrect prototype (#4184)
  src/antlr4/TokenStream.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

do not modify String.prototype in js package (#4200)
  src/antlr4/CharStream.js
  src/antlr4/index.node.js
  src/antlr4/index.web.js
  src/antlr4/misc/HashCode.js
  src/antlr4/polyfills/codepointat.js
  src/antlr4/polyfills/fromcodepoint.js
  src/antlr4/utils/standardHashCodeFunction.js
  src/antlr4/utils/stringHashCode.js
Due: none

[Typescript] Add missing methods typing declaration (#4145)
  src/antlr4/Lexer.d.ts
  src/antlr4/Parser.d.ts
  src/antlr4/error/DefaultErrorStrategy.d.ts
  src/antlr4/error/InputMismatchException.d.ts
  src/antlr4/error/NoViableAltException.d.ts
  src/antlr4/error/RecognitionException.d.ts
  src/antlr4/error/index.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improves the coverage of the syntax colouring (#23)
  client/src/extension.ts
  package.json
  server/src/antlr/CypherParser.g4
  server/src/dbInfo.ts
  server/src/highlighting/syntaxColouring.ts
  server/src/highlighting/syntaxColouringHelpers.ts
  server/src/highlighting/syntaxValidation.ts
  server/src/lexerSymbols.ts
  server/src/server.ts
  server/src/syntaxColouring.ts
  server/src/tests/highlighting/syntaxColouring/helpers.ts
  server/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  server/src/tests/syntaxColouring.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Hardens linting configuration (#34)
  .eslintrc.js
  .eslintrc.json
  .github/workflows/ci.yaml
  server/src/autocompletion.ts
  server/src/dbInfo.ts
  server/src/server.ts
  server/src/tests/autocompletion.test.ts
  server/src/tests/highlighting/syntaxColouring/helpers.ts
  server/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  server/src/tests/signatureHelp.test.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Renames client to vscode-playground (#33)
  .eslintignore
  .gitignore
  .vscode/launch.json
  .vscodeignore
  README.md
  client/tsconfig.json
  package.json
  tsconfig.json
  vscode-playground/cypher-language-configuration.json
  vscode-playground/package-lock.json
  vscode-playground/package.json
  vscode-playground/src/extension.ts
  vscode-playground/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Updates grammar to up to date version
  server/src/antlr/CypherLexer.g4
  server/src/antlr/CypherParser.g4
Due: none

Makes labels and relationship types be less ambiguous
  server/src/antlr/CypherParser.g4
Due: none

Makes auto-completion work with multiline statements
  server/src/antlr/CypherParser.g4
Due: none

Simplifies node and relationship patterns more
  server/src/antlr/CypherParser.g4
Due: none

change launch from build to watch
  .vscode/launch.json
Due: prettier --write

remove gen parser script from root
  .github/workflows/ci.yaml
  package.json
Due: prettier --write

restore tests
  packages/server/src/tests/autocompletion.test.ts
  packages/server/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Added support for commonjs
  package.json
  webpack.config.js
Due: prettier --write

Fixed typo in webpack config, shortened commonjs test, to use solely require
  spec/imports/NodeCommonJSImportSpec.cjs
  webpack.config.js
Due: none

Added tests for commonjs and esm imports, made webpack config more compacted
  package.json
  spec/imports/NodeCommonJSImportSpec.cjs
  spec/imports/NodeEsmImportSpec.mjs
  spec/support/jasmine.json
  webpack.config.js
Due: prettier --write

review fixes
  .eslintignore
  jest.config.js
  packages/server/jest.config.js
  packages/vscode-playground/README.md
Due: none

separate library and server
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  packages/language-support/README.md
  packages/language-support/jest.config.js
  packages/language-support/package-lock.json
  packages/language-support/package.json
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/testHelpers.ts
  packages/language-support/tsconfig.json
  packages/server/package.json
  packages/server/src/autocompletion.ts
  packages/server/src/lexerSymbols.ts
  packages/server/src/server.ts
  packages/server/src/signatureHelp.ts
  packages/server/src/syntaxColouring.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add test for missing keywords
  packages/server/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix review comments
  packages/server/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add test to catch missing keywords (#35)
  packages/server/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

make it work with official TS runtime
  .vscode/launch.json
  jest.config.ts
  package-lock.json
  package.json
  src/BaseSymbol.ts
  src/CodeCompletionCore.ts
  src/SymbolTable.ts
  src/Vocabulary.ts
  src/VocabularyImpl.ts
  tests/CPP14.g4
  tests/CodeCompletionCore.spec.ts
  tests/SymbolTable.spec.ts
  tests/generate.sh
  tests/generated/CPP14.interp
  tests/generated/CPP14Lexer.interp
  tests/generated/CPP14Lexer.ts
  tests/generated/CPP14Parser.ts
  tests/generated/Expr.interp
  tests/generated/ExprLexer.interp
  tests/generated/ExprLexer.ts
  tests/generated/ExprParser.ts
  tests/generated/Whitebox.interp
  tests/generated/WhiteboxLexer.interp
  tests/generated/WhiteboxLexer.ts
  tests/generated/WhiteboxParser.ts
  tests/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

clean up
  package.json
  src/CodeCompletionCore.ts
  src/antrl4utils.ts
Due: prettier --write, eslint --fix --max-warnings 0

rm src from npmignore
  .npmignore
Due: none

review comments
  packages/language-support/package-lock.json
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/index.ts
  packages/server/README.md
  packages/server/package-lock.json
  packages/server/src/autocompletion.ts
  packages/server/src/dbInfo.ts
  packages/server/src/signatureHelp.ts
  packages/vscode-playground/package-lock.json
Due: prettier --write, eslint --fix --max-warnings 0

do not use module augmentation and don't modify ANTRL runtime
  src/CodeCompletionCore.ts
  src/antrl4.ts
  src/antrl4utils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Separate server from library (#37)
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  packages/language-support/README.md
  packages/language-support/jest.config.js
  packages/language-support/package.json
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/dbInfo.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/lexer.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/testHelpers.ts
  packages/language-support/tsconfig.json
  packages/server/README.md
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/autocompletion.ts
  packages/server/src/dbInfo.ts
  packages/server/src/lexerSymbols.ts
  packages/server/src/server.ts
  packages/server/src/signatureHelp.ts
  packages/server/src/syntaxColouring.ts
  packages/vscode-playground/package-lock.json
Due: prettier --write, eslint --fix --max-warnings 0

setup build step
  .eslintrc.js
  .gitignore
  package-lock.json
  packages/codemirror-playground/README.md
  packages/codemirror-playground/index.html
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/lang-cypher/constants.ts
  packages/codemirror-playground/src/lang-cypher/lang-cypher.ts
  packages/codemirror-playground/src/language/Editor.tsx
  packages/codemirror-playground/src/language/TokenTable.tsx
  packages/codemirror-playground/src/main.tsx
  packages/codemirror-playground/src/style.css
  packages/codemirror-playground/src/vite-env.d.ts
  packages/codemirror-playground/tsconfig.json
  packages/codemirror-playground/tsconfig.node.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/package.json
  packages/language-support/src/index.ts
  packages/language-support/src/utils.ts
Due: prettier --write, eslint --fix --max-warnings 0

add codemirror playground example
  .eslintignore
  package-lock.json
  package.json
  packages/codemirror-playground/index.html
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/Editor.tsx
  packages/codemirror-playground/src/TokenTable.tsx
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/codemirror-playground/src/language/TokenTable.tsx
  packages/codemirror-playground/src/style.css
  packages/codemirror-playground/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/codemirror-playground/README.md
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/lang-cypher/ParserAdapter.ts
  packages/language-support/package.json
  packages/language-support/src/index.ts
  packages/language-support/src/utils.ts
Due: prettier --write, eslint --fix --max-warnings 0
