Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

fix reanchor when line is deleted
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update react-codemirror playground
  packages/react-codemirror-playground/src/App.tsx
Due: none

fix the panel position when prev position is higher than the current number of lines in the new updated query
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.14
  packages/vscode-extension/package.json
Due: oxfmt

update formatting for new return subclause, update lexer
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeet
  .changeset/nice-shirts-fold.md
Due: none

move hints out of indent and put each hint on its own line
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename test
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Filter out "parameter missing" errors when not connected, fix flaky test suite (#688)
  .changeset/major-beds-wave.md
  packages/language-server/src/linting.ts
  packages/language-support/src/index.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/misc.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
  packages/vscode-extension/tests/specs/api/versionSpecificLinting.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

build cypher.json and prevent crash looping in symbolfetchers
  packages/language-server/src/server.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.15
  packages/vscode-extension/package.json
Due: oxfmt

try to fix lintPoint check
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

try claudes "move mouse" test instead
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Brow 326 add merge view (#693)
  .changeset/fuzzy-boxes-kneel.md
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/diffView.ts
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/inlinePanel.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/themes.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Skip lintpoint testing in codemirror e2e
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.16
  packages/vscode-extension/package.json
Due: oxfmt

Improve readability of schema based warnings (#685)
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.17
  packages/vscode-extension/package.json
Due: oxfmt

Add missed changeset for schema-based linting, export resolveCypherVersion
  .changeset/proud-moons-listen.md
  packages/language-support/src/index.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add missed changeset for schema-based linting, export resolveCypherVersion (#696)
  .changeset/proud-moons-listen.md
  packages/language-support/src/index.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.18
  packages/vscode-extension/package.json
Due: oxfmt

add editor action buttons overlay to CypherEditor
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/editorActions.ts
  packages/react-codemirror/src/hostCallbacks.ts
  packages/react-codemirror/src/inlinePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add in DNF conversion via CNF, use this to handle arbitrary label tree in schema based linting. Needs cleanup
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

expand testing, fix 2 bugs I found
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix warning on ANYs, expand testing
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix faulty creation of set for ".difference" call, and adds test that triggers this path
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix bug with !% - this could be valid (would not appear in schema). add tests for this and handling of contradictions
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

clean up ANY-normalization handling
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/treeRewriting.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

reduce unnecessary recalculations
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

expands testing a bit, readd some simplification for DNF
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

undo old schema based linting, update tests, add CLAUDE.md
  CLAUDE.md
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Create a new welcome page and Learn Neo4j walkthrough
  .gitignore
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/walkthroughs/app-development.md
  packages/vscode-extension/resources/walkthroughs/cypher-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/generative-ai.md
  packages/vscode-extension/resources/walkthroughs/graphacademy-mcp.md
  packages/vscode-extension/resources/walkthroughs/importing-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/modeling-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/neo4j-fundamentals.md
  packages/vscode-extension/src/commandHandlers/mcp.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/welcomePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

cleanup shared direction logic. Add replacement for schema based linting without DNF/CNF rewriting
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/labelTreeRewriting.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

added link to README
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/webviews/welcomePanel.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove claude.md, fix tiny mistype on a comment
  CLAUDE.md
  packages/language-support/src/labelTreeRewriting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Adjusts SB completion tests (not path-segment) to not assume direction when unfinished. Expands comment on subsetSatisfiable for clarity. minor test cleanup
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
  packages/language-support/src/tests/syntaxValidation/symbolValidation.test.ts
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/true-moose-arrive.md
Due: none

final test fix
  packages/vscode-extension/tests/specs/api/syntaxValidation.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

pin all our "uses: ..." imported workflows to a static version (latest right now)
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/fetch-dev-artifacts.yaml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/pre-release-vscode-extension.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none
