Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

handle keybindings changing
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/extra-keybindings.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanity-checks.spec.tsx
Due: none

add perf test
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/e2e-utils.ts
  packages/react-codemirror/src/e2e_tests/mock-data.ts
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanity-checks.spec.tsx
  packages/react-codemirror/src/neo4j-setup.tsx
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

fix pages demo
  README.md
  imgs/repo-overview.png
  packages/react-codemirror-playground/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix bundling for react editor
  packages/react-codemirror/tsconfig.json
Due: prettier --write

fix pages demo (#123)
  README.md
  imgs/repo-overview.png
  packages/react-codemirror-playground/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/fuzzy-rice-train.md
Due: none

Adds and inits changesets
  .changeset/README.md
  .changeset/config.json
  package-lock.json
  package.json
Due: prettier --write

Bundles language support with antlr4 and antlr4-c3
  packages/language-support/package.json
Due: prettier --write

Enters pre-release 2.0.0-next.0
  .changeset/pre.json
  packages/language-server/CHANGELOG.md
  packages/language-server/package.json
  packages/language-support/CHANGELOG.md
  packages/language-support/package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/schema-poller/CHANGELOG.md
  packages/schema-poller/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Fixes versions of typescript, compiles antlr4-c3 to cjs and esm
  .eslintignore
  package-lock.json
  package.json
  packages/language-support/jest.config.cjs
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  tsconfig.base.json
  vendor/antlr4-c3/deps
  vendor/antlr4-c3/jest.config.cjs
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/tsconfig.json
  vendor/antlr4/package-lock.json
  vendor/antlr4/package.json
Due: prettier --write

Fixes versions on 1.0.0
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/schema-poller/package.json
  packages/vscode-extension/package.json
Due: prettier --write

Adds more changes to the packaging
  .vscode/launch.json
  package-lock.json
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/language-support/package.json
  packages/react-codemirror/package.json
  packages/schema-poller/package.json
  packages/vscode-extension/src/extension.ts
  turbo.json
  vendor/antlr4-c3/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes build types in react-codemirror package
  package-lock.json
  packages/language-support/package.json
  packages/react-codemirror/package.json
Due: prettier --write

Makes changeset publishing access public
  .changeset/config.json
Due: prettier --write

Adds .npmignore and more nits
  .npmignore
  packages/language-server/README.md
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/language-support/jest.config.js
Due: prettier --write

Corrects name of global project
  package.json
Due: prettier --write

concurrently exits in antlr4-c3 before it generates the output 😢
  vendor/antlr4-c3/package.json
Due: prettier --write

mln
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write

fix
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/repl-mode.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds license to every sub package
  LICENSE.md
  packages/language-server/LICENSE.md
  packages/language-support/LICENSE.md
  packages/react-codemirror-playground/LICENSE.md
  packages/react-codemirror/LICENSE.md
  packages/schema-poller/LICENSE.md
  packages/vscode-extension/LICENSE.md
Due: none

Cleans dep files
  vendor/antlr4-c3/deps
Due: none

Changes CypherLSP config options
  packages/language-server/package.json
  packages/language-server/src/server.ts
  packages/language-server/src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

Ignores packages we do not want to publish in changeset
  .changeset/config.json
Due: prettier --write

Updates package lock
  package-lock.json
Due: prettier --write

Makes the vscode extension use a different compilation for debug and run
  packages/language-server/tsconfig.json
  packages/language-support/package.json
  packages/vscode-extension/.vscodeignore
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes VSCode e2e tests build steps
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

Adds holder of the copyright to the LICENSEs
  LICENSE.md
  packages/language-server/LICENSE.md
  packages/language-support/LICENSE.md
  packages/react-codemirror-playground/LICENSE.md
  packages/react-codemirror/LICENSE.md
  packages/schema-poller/LICENSE.md
  packages/vscode-extension/LICENSE.md
Due: none

Adds last nits
  jest.config.base.js
  packages/language-server/README.md
  packages/react-codemirror/tsconfig.json
  packages/vscode-extension/package.json
  vendor/antlr4-c3/jest.config.cjs
  vendor/antlr4-c3/package.json
Due: prettier --write

Tries to ignore .js file from GH language stats
  .gitattributes
Due: none

Fixes debugging of the codemirror extension
  package.json
Due: prettier --write

Ignores dist folder in c3
  vendor/antlr4-c3/package.json
Due: prettier --write

Fixes semantic analysis end offset
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tries to ignore .js file from GH language stats (#125)
  .gitattributes
Due: none

Fixes semantic analysis end offset (#126)
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

selfreview
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/repl-mode.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/react-codemirror-playground/index.html
  packages/react-codemirror/playwright/index.tsx
  packages/react-codemirror/src/neo4j-setup.tsx
Due: none

self review
  packages/react-codemirror/.gitignore
  packages/react-codemirror/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
