Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Makes tabs work
  package-lock.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/resultUtils.ts
  packages/vscode-extension/src/webviews/webview.tsx
  packages/vscode-extension/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Fixes tabs not rendering correctly
  packages/vscode-extension/package.json
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/resultUtils.ts
  packages/vscode-extension/src/webviews/webview.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Fix warning range
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Handles backtics on function names syntax validation
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Temp
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

Define keybindings that were implicitly defined
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: none

execute single line query on enter by defautl
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: none

Create loud-meals-attend.md
  .changeset/loud-meals-attend.md
Due: none

review comments
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: none

Fix incorrect test case for handling Enter
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: none

Add test case for when newLineOnEnter is true
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: none

Bump codemirror dependencies
  package-lock.json
  packages/react-codemirror/package.json
Due: prettier --write

Execute single line query on enter by default (#233)
  .changeset/loud-meals-attend.md
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
Due: prettier --write

Fix bug causing debounced value to override value
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Create eleven-scissors-type.md
  .changeset/eleven-scissors-type.md
Due: none

Reshapes more bits
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/resultUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix bug causing debounced value to override value (#239)
  .changeset/eleven-scissors-type.md
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Catches errors
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes surfacing of errors
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/resultUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes re-using window frame
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update logic for handling externally set values
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Create strong-squids-relax.md
  .changeset/strong-squids-relax.md
Due: none

Fixes bug with labels completion
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Move helper methods to FunctionCollection
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update logic for handling externally set values (#243)
  .changeset/strong-squids-relax.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Procedure not found warning
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Adds caret index to codemirror autocompletion
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

Improve naming
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/stale-peas-warn.md
Due: none

Add warnings on functions that don't exist in the database (#234)
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds the listing of databases for a connection
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionTreeDataProvider.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/connectionTreeDecorationProvider.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix imports and update exports
  packages/vscode-extension/e2e_tests/tests/connectionTreeDataProvider.spec.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/connectionTreeDecorationProvider.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Listing databases for an active Connection (#240)
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionTreeDataProvider.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/connectionTreeDecorationProvider.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds a switch to database command to the tree view
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/uiUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove database field from connection form
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove ellipses from command and prevent connections flickering when switching db
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug with labels completion (#244)
  .changeset/stale-peas-warn.md
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

update connection service to improve switching db flow
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds query execution capabilities
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/mockSchemaPoller.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/output.ts
  packages/vscode-extension/src/webviews/resultPanel.ts
  packages/vscode-extension/src/webviews/resultUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Splits statements with ; correctly
  package-lock.json
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/react-codemirror-playground/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/src/executionService.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0
