Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

add list comprehension
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion/variable-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds code to handle unfinished symbolic names and comments
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/highlighting/syntaxValidationHelpers.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/misc.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

release 0.0.13
  package-lock.json
  packages/react-codemirror-experimental/package.json
Due: prettier --write

Removes errors when c3 doesn't know how to give more information
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tries to be more specific with the error messages and removes wrong label warning
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror-experimental/e2e_tests/syntax-validation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Tweaks error order
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/autocompletion/expression-completion.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds number tokens to the rule names
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds one more test for unfinished comments
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Suggest property keys only on defined variabes (#105)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/completion-assertion-helpers.ts
  packages/language-support/src/tests/autocompletion/databasename-completion.test.ts
  packages/language-support/src/tests/autocompletion/expression-completion.test.ts
  packages/language-support/src/tests/autocompletion/functions-completion.test.ts
  packages/language-support/src/tests/autocompletion/keyword-completion.test.ts
  packages/language-support/src/tests/autocompletion/misc-completions.test.ts
  packages/language-support/src/tests/autocompletion/pattern-completion.test.ts
  packages/language-support/src/tests/autocompletion/procedure-completion.test.ts
  packages/language-support/src/tests/autocompletion/propertykey-completion.test.ts
  packages/language-support/src/tests/autocompletion/variable-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix crash on signature help
  packages/server/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

properly reconnects when connection is lost
  packages/neo4j-schema-poller/src/neo4j-connection.ts
  packages/neo4j-schema-poller/src/neo4j-schema-poller.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr review comments
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
  packages/react-codemirror-experimental/e2e_tests/syntax-validation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Ignores signature help test until we tackle that feature
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates grammar to neo4j 5.13
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

Reverts couple of small changes in the grammar
  packages/language-support/src/antlr-grammar/CypherParser.g4
Due: none

Makes the tests compile
  packages/language-support/src/tests/autocompletion/expression-completion.test.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates grammar to neo4j 5.13 (#109)
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/signatureHelp.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

release 0.0.14
  package-lock.json
  packages/react-codemirror-experimental/package.json
Due: prettier --write

Simplifies the build step to not use rollup etc
  .gitignore
  package-lock.json
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tsconfig.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/rollup.config.js
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror-experimental/tsconfig.json
  packages/react-codemirror-experimental/tsconfig.node.json
  packages/react-codemirror-experimental/vite.config.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings 0

moretsconfigs
  packages/neo4j-schema-poller/package.json
  packages/neo4j-schema-poller/tsconfig.json
  packages/vscode-playground/tsconfig.json
  tsconfig.base.json
Due: prettier --write

fix build
  packages/vscode-playground/e2e_tests/testRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixeslintignore
  .eslintignore
  packages/react-codemirror-experimental/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes memory leak in the React editor
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: none

fix crash on signature help (#110)
  packages/server/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix extension
  .eslintignore
  package-lock.json
  packages/server/package.json
  packages/server/tsconfig.json
Due: prettier --write

re-add build step
  packages/neo4j-schema-poller/package.json
Due: prettier --write

improve test configs
  jest.config.base.js
  packages/antlr4-c3/jest.config.cjs
  packages/language-support/jest.config.js
  packages/react-codemirror-experimental/jest.config.js
  packages/react-codemirror-experimental/tsconfig.json
Due: prettier --write

fix e2e test
  packages/vscode-playground/e2e_tests/testRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch back to inlined antrl4
  package-lock.json
  packages/antlr4-c3/package.json
  packages/language-support/package.json
  turbo.json
Due: prettier --write

avoid using node js type directly
  packages/neo4j-schema-poller/src/neo4j-schema-poller.ts
Due: prettier --write, eslint --fix --max-warnings 0

Ensure server automatically reconnects when connection is lost (#111)
  packages/neo4j-schema-poller/src/neo4j-connection.ts
  packages/neo4j-schema-poller/src/neo4j-schema-poller.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

selfreview
  packages/server/README.md
  packages/server/package.json
  packages/server/tsconfig.json
  packages/vscode-playground/package.json
  packages/vscode-playground/tsconfig.json
Due: prettier --write

re-add build step for react-codemirror experimental
  package-lock.json
  packages/react-codemirror-experimental/README.md
  packages/react-codemirror-experimental/package.json
Due: prettier --write

Fixes warnings on non declared labels
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for VSCode and Codemirror
  packages/react-codemirror-experimental/e2e_tests/auto-completion.spec.ts
  packages/vscode-playground/e2e_tests/fixtures/allShortestPaths-completion.cypher
  packages/vscode-playground/e2e_tests/tests/auto-completion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug with '(' showing for allShortestPath, ANY, etc
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/react-codemirror-experimental/e2e_tests/auto-completion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
