Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Updates architecture overview for formatter (#515)
  packages/language-support/src/formatting/architecture.md
  packages/language-support/src/formatting/architecture.png
  packages/language-support/src/formatting/overview.md
Due: none

Adds support for most of the new CYPHER25 constructs (#510)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add graph extraction helpers
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleaupapis
  packages/query-tools/package.json
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
Due: prettier --write, eslint --fix --max-warnings 0

add better docs
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add spaces between comments
  packages/language-support/src/tests/formatting/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add cli.ts file
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

seems to work to build it!!
  packages/language-support/package.json
Due: prettier --write

save temp the file
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixed the build error??
  packages/language-support/package.json
Due: prettier --write

seems to work now, but weird package json
  packages/language-support/package.json
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

update package json to not be stupid
  packages/language-support/package.json
Due: prettier --write

resetting z index for cm panels (#507)
  .changeset/chatty-views-hide.md
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

save cli changes by gpt
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

change to mjs
  packages/language-support/package.json
Due: prettier --write

temp: add tesdir
  testdir/file.cy
  testdir/file.cypher
Due: none

add nested dir with file
  testdir/nestedtestdir/file.cy
Due: none

automatically modify in place if a directory is passed
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

update comment
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove the skipdir logic2
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

update help string2
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

add .cyp as an extension name
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

const array for extensions
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

simpler readstdin
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove async, simplify read from stdin
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

single file for i
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

update comment2
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

error on multiple input paths
  packages/language-support/src/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

move cli file
  packages/language-support/package.json
  packages/language-support/src/formatting/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor out a method2
  packages/language-support/src/formatting/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

add some test files
  packages/language-support/src/tests/formatting/cli-test-files/formatted.cy
  packages/language-support/src/tests/formatting/cli-test-files/nested/also-not-formatted.cy
  packages/language-support/src/tests/formatting/cli-test-files/not-formatted.cy
Due: none

simple cli test
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

don't read file for input
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

output to the esm folder since it's mjs
  packages/language-support/package.json
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix import path
  packages/language-support/src/formatting/cli.ts
Due: prettier --write, eslint --fix --max-warnings 0

rename build-cli-esm to build-cypherfmt-cli
  packages/language-support/package.json
Due: prettier --write

update readme and package json
  packages/language-support/README.md
  packages/language-support/package.json
Due: prettier --write

consts instead of reading files
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

better test
  packages/language-support/src/tests/formatting/cli.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
