Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

update api report
  packages/language-support/api-extractor/api-report.api.md
Due: none

enable oxlint rules
  oxlint.config.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/formatting/formatting.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/webviewUtils.ts
  scripts/runApiExtractor.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove unused disabled comments
  oxlint.config.ts
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/procedures.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Oxlint rules and report unused disable (#763)
  oxlint.config.ts
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/formatting/verification/verificationCheck.ts
  packages/query-tools/src/cypher-execution/extract-unique-nodes-and-relationships.test.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/queries/functions.ts
  packages/query-tools/src/queries/procedures.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/vscode-extension/src/commandHandlers/params.ts
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/typeUtils.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/runWebviewTests.ts
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
  scripts/runApiExtractor.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

enable no-explicit-any rule
  oxlint.config.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/typeUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add consistent type assertions rule
  oxlint.config.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/vscode-extension/src/typeUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add escaping to descriptions for proper markdown render
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/hoverInformation/schemaDescription.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/schemaDescription.test.ts
  packages/react-codemirror/src/lang-cypher/markdown.test.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.37
  packages/vscode-extension/package.json
Due: oxfmt

center editorActions on the first line
  .changeset/light-buttons-align.md
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix timeout in performance test
  CONTRIBUTING.md
  packages/react-codemirror/src/e2e_tests/performanceTest.spec.tsx
  packages/react-codemirror/vitest.config.mts
Due: none

move e2e tests to tests/e2e folder
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/src/tests/e2e/autoCompletion.spec.tsx
  packages/react-codemirror/src/tests/e2e/configuration.spec.tsx
  packages/react-codemirror/src/tests/e2e/debounce.spec.tsx
  packages/react-codemirror/src/tests/e2e/e2eUtils.ts
  packages/react-codemirror/src/tests/e2e/extraKeybindings.spec.tsx
  packages/react-codemirror/src/tests/e2e/historyNavigation.spec.tsx
  packages/react-codemirror/src/tests/e2e/performanceTest.spec.tsx
  packages/react-codemirror/src/tests/e2e/sanityChecks.spec.tsx
  packages/react-codemirror/src/tests/e2e/signatureHelp.spec.tsx
  packages/react-codemirror/src/tests/e2e/snippets.spec.tsx
  packages/react-codemirror/src/tests/e2e/syntaxHighlighting.spec.tsx
  packages/react-codemirror/src/tests/e2e/syntaxValidation.spec.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix import
  packages/query-tools/src/tests/integration/pollingIntegrationTests.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update contributing
  CONTRIBUTING.md
Due: none

center editorActions on the first line (#774)
  .changeset/light-buttons-align.md
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

clarify escaping of descriptions/multiline descriptions
  packages/language-support/src/hoverInformation/descriptionToMarkdown.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/hoverInformation/schemaDescription.ts
  packages/language-support/src/tests/hover/descriptionToMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/markdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename integration polling tests in ci
  .github/workflows/ci.yaml
Due: none

remove unused benchmarks
  .github/workflows/benchmark.yaml
  knip.json
  package.json
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmarkQueries.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/performanceTest.spec.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.38
  packages/vscode-extension/package.json
Due: oxfmt

some rewriting
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/index.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/hoverMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hoverMarkdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

limit shared hover width for both error hover and hover info
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix imports
  packages/react-codemirror/src/lang-cypher/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/hoverMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hoverMarkdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/cool-doodles-boil.md
Due: none

fix editor actions caret positioning on delete all
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix editor actions caret positioning on delete all (#776)
  packages/react-codemirror/src/editorActions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add api-extractor to lint-worker + specify exports instead of using *, add missing export
  packages/lint-worker/api-extractor.json
  packages/lint-worker/api-extractor/api-report.api.md
  packages/lint-worker/checkApiReport.ts
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add api-extractor to query-tools + add forgotten exports
  packages/query-tools/api-extractor.json
  packages/query-tools/api-extractor/api-report.api.md
  packages/query-tools/checkApiReport.ts
  packages/query-tools/package.json
  packages/query-tools/src/data-transforms/cypher-type-names.ts
  packages/query-tools/src/index.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/src/queries/databases.ts
  packages/query-tools/src/result-transformers/graph-result-transformer.ts
  packages/query-tools/src/types/cypher-data-types.ts
  packages/query-tools/src/types/sdkTypes.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.39
  packages/vscode-extension/package.json
Due: oxfmt

move hover files to their own subfolder, clean up descriptionToMarkdown (+minor cleanup in hoverFunctoins)
  packages/language-support/src/tests/hover/descriptionToMarkdown.test.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hover.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverMarkdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove old hover file locations, adjust import
  packages/react-codemirror/src/lang-cypher/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover.ts
  packages/react-codemirror/src/lang-cypher/hoverMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hoverMarkdown.ts
  packages/react-codemirror/src/lang-cypher/langCypher.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename escapeDescription->escapeDescriptionForMarkdown and remove comment
  packages/language-support/src/hoverInformation/descriptionToMarkdown.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/tests/hover/descriptionToMarkdown.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove some unneeded checks
  packages/language-support/src/hoverInformation/descriptionToMarkdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

simplify comment
  packages/language-support/src/hoverInformation/descriptionToMarkdown.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

final test/comment cleanup/renamings from review
  packages/language-support/src/hoverInformation/descriptionToMarkdown.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/tests/hover/descriptionToMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverMarkdown.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.40
  packages/vscode-extension/package.json
Due: oxfmt

Switch to returning hoverInfo-object in language-support, and handle rendering in consumers
  .changeset/ninety-cars-sip.md
  .changeset/shiny-cougars-lay.md
  packages/language-server/package.json
  packages/language-server/src/descriptionToMarkdown.ts
  packages/language-server/src/hoverInfo.ts
  packages/language-server/src/hoverMarkdown.ts
  packages/language-server/src/tests/descriptionToMarkdown.test.ts
  packages/language-server/src/tests/hoverMarkdown.test.ts
  packages/language-server/vitest.config.mts
  packages/language-support/api-extractor/api-report.api.md
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hoverInformation/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/tests/hover/hoverVariables.test.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/hover/hover.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hover.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverMarkdown.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverMarkdown.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.test.ts
  packages/react-codemirror/src/lang-cypher/hover/hoverRender.ts
  packages/vscode-extension/tests/specs/api/hover/hoverFunctions.spec.ts
  packages/vscode-extension/tests/specs/api/hover/hoverProcedures.spec.ts
  vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update api-report
  packages/language-support/api-extractor/api-report.api.md
Due: none

modify react-codemirror changeset
  .changeset/cool-doodles-boil.md
Due: none
