Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

add behind feature flag
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/tests/autocompletion/patternCompletion.test.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

clean up tests
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleaup-todos
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

expand-on-tests
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

updates
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes caret-dependencies (#575)
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

bump pre-release version to 1.13.10
  packages/vscode-extension/package.json
Due: prettier --write

add build of type files to query-tools package (#572)
  packages/query-tools/package.json
Due: prettier --write

Fix archive-vscode-artifacts workflow (#576)
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/mocks/mockExtensionContext.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.7
  packages/vscode-extension/package.json
Due: prettier --write

bump pre-release version to 1.13.8
  packages/vscode-extension/package.json
Due: prettier --write

bump pre-release version to 1.13.9
  packages/vscode-extension/package.json
Due: prettier --write

Fixes formatter capitalizing preparser keywords in procedure/function namespaces (#577)
  .changeset/thick-signs-prove.md
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

commiting the updated version if release is successful
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

moving browser pat to common repo secret
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

renaming job
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

adds changeset
  .changeset/green-loops-yawn.md
Due: none

renaming the browser pat
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

commiting the updated version if release is successful (#579)
  .github/workflows/pre-release-vscode-extension.yaml
Due: none

Small cleanup, and adds a comment
  packages/language-support/src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.11
  packages/vscode-extension/package.json
Due: prettier --write

switches to repo-wide PAT
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

switches fetch-dev-artifacts to repo-wide PAT (#580)
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

add notification on update of symbol table
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

bump pre-release version to 1.13.12
  packages/vscode-extension/package.json
Due: prettier --write

WIP adds continous calculation of symbol tables during query creation in vscode, separated from linting debounce + adds prints
  packages/language-server/src/linting.ts
  packages/language-server/src/server.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/autocompletion/propertykeyCompletion.test.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/tests/mocks/mockLanguageClient.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds changeset
  .changeset/open-rules-raise.md
Due: none

add static dependencies only to vscode-extension
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: prettier --write

add static dependencies only to vscode-extension (#582)
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: prettier --write

bump pre-release version to 1.13.13
  packages/vscode-extension/package.json
Due: prettier --write

document limitations
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleaup
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

set up harnesses
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/autocompletionHelpers.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/autocompletion/patternCompletion.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/schemaBasedPatternCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0
