Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix warnings
  package-lock.json
  package.json
Due: prettier --write

Adds tests for syntax colouring of clauses
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses PR review comments
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for write commands and functions
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds MERGE, DELETE and DETACH DELETE colouring
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Uses test.each for similar cases
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for syntax colouring of comments and multiline statements
  packages/language-support/src/tests/highlighting/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for syntax colouring of administration commands
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Corrects colouring of numbers
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update version in many files to 4.13.0
  package-lock.json
  package.json
  src/antlr4/Recognizer.js
Due: prettier --write

Update version in more files to 4.13.0
  spec/rewriter/Makefile
Due: none

Update js package-lock.json
  package-lock.json
Due: prettier --write

Adds tests for syntax colouring of clauses (#29)
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/readQuery.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for syntax colouring of write commands and functions (#28)
  packages/language-support/src/tests/highlighting/syntaxColouring/function.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/writeQuery.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses PR reviews
  packages/language-support/src/tests/highlighting/syntaxColouring/comments.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for syntax colouring of comments and multiline statements (#30)
  packages/language-support/src/tests/highlighting/syntaxColouring/comments.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/multilline.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes syntax colouring compile
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/tests/lexer.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings 0

Makes all of the non-autocompletion tests to pass
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up and ignores auto-completion tests
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Install antlr4 tools
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
Due: none

Update checkout action version
  .github/workflows/ci.yaml
Due: none

Fixes problem in Codemirror demo
  packages/language-support/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds info about installing antlr4
  README.md
  packages/language-support/src/autocompletion.ts
Due: prettier --write, eslint --fix --max-warnings 0

Simplifies the getTokens
  packages/language-support/src/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Use official Typescript target (#43)
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  README.md
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxColouringHelpers.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/index.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/lexer.test.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings 0

Adds image with git lfs
  packages/c3/images/token-position.png
Due: none

Makes modifications for c3 to compile and pass the tests
  .eslintignore
  .gitignore
  package-lock.json
  packages/c3/.eslintrc.json
  packages/c3/jest.config.js
  packages/c3/jest.config.ts
  packages/c3/package.json
  packages/c3/tests/generate.sh
  packages/c3/tests/generated/CPP14.interp
  packages/c3/tests/generated/CPP14.tokens
  packages/c3/tests/generated/CPP14Lexer.interp
  packages/c3/tests/generated/CPP14Lexer.tokens
  packages/c3/tests/generated/CPP14Lexer.ts
  packages/c3/tests/generated/CPP14Parser.ts
  packages/c3/tests/generated/Expr.interp
  packages/c3/tests/generated/Expr.tokens
  packages/c3/tests/generated/ExprLexer.interp
  packages/c3/tests/generated/ExprLexer.tokens
  packages/c3/tests/generated/ExprLexer.ts
  packages/c3/tests/generated/ExprParser.ts
  packages/c3/tests/generated/Whitebox.interp
  packages/c3/tests/generated/Whitebox.tokens
  packages/c3/tests/generated/WhiteboxLexer.interp
  packages/c3/tests/generated/WhiteboxLexer.tokens
  packages/c3/tests/generated/WhiteboxLexer.ts
  packages/c3/tests/generated/WhiteboxParser.ts
  packages/c3/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Cleans up more files
  .eslintignore
  packages/c3/ports/c#/.editorconfig
  packages/c3/ports/c#/Antlr4C3CsPort.sln
  packages/c3/ports/c#/LICENSE
  packages/c3/ports/c#/readme.md
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/Antlr4CodeCompletion.Core.csproj
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/CodeCompletion/CandidatesCollection.cs
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/CodeCompletion/CodeCompletionCore.cs
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/CodeCompletion/FollowSetWithPath.cs
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/CodeCompletion/FollowSetsHolder.cs
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/CodeCompletion/FollowSetsPerState.cs
  packages/c3/ports/c#/src/Antlr4CodeCompletion.Core/CodeCompletion/PipelineEntry.cs
  packages/c3/ports/c#/test/Antlr4CodeCompletion.CoreUnitTest/Antlr4CodeCompletion.CoreUnitTest.csproj
  packages/c3/ports/c#/test/Antlr4CodeCompletion.CoreUnitTest/CodeCompletion/CodeCompletionCoreUnitTests.cs
  packages/c3/ports/c#/test/Antlr4CodeCompletion.CoreUnitTest/Grammar/Expr.g4
  packages/c3/ports/c#/test/Antlr4CodeCompletion.CoreUnitTest/Grammar/Expr.g4.lexer.cs
  packages/c3/ports/c#/test/Antlr4CodeCompletion.CoreUnitTest/Grammar/Expr.g4.parser.cs
  packages/c3/ports/c#/test/Antlr4CodeCompletion.CoreUnitTest/Utils/CountingErrorListener.cs
  packages/c3/ports/java/LICENSE
  packages/c3/ports/java/pom.xml
  packages/c3/ports/java/readme.md
  packages/c3/ports/java/src/main/java/com/vmware/antlr4c3/CodeCompletionCore.java
  packages/c3/ports/java/src/test/antlr4/com/vmware/antlr4c3/Expr.g4
  packages/c3/ports/java/src/test/java/com/vmware/antlr4c3/TestCodeCompletionCore.java
  packages/c3/readme.md
  packages/c3/src/VocabularyImpl.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes console logs when executing ANTLR
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes console logs when executing ANTLR (#45)
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adjusts c3 to be commonjs, not module. Updates package-lock.json
  .eslintignore
  package-lock.json
  packages/antlr4-c3/jest.config.js
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tests/CodeCompletionCore.spec.ts
  packages/antlr4-c3/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Remove package-lock.json for c3
  packages/antlr4-c3/package-lock.json
Due: prettier --write

Rewires auto-completion in the project
  .vscode/settings.json
  jest.config.base.js
  package-lock.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/jest.config.js
  packages/language-support/package.json
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Rewires auto-completion in the project (#46)
  .vscode/settings.json
  jest.config.base.js
  package-lock.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/jest.config.js
  packages/language-support/package.json
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

split out react-codemirror-experimental library
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/vite.config.ts
  packages/react-codemirror-experimental/README.md
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/index.ts
  packages/react-codemirror-experimental/src/lang-cypher/ParserAdapter.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror-experimental/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

clean up types
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: none

move to proper lib name
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/vite.config.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/CypherEditor.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
