Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix-build
  packages/react-codemirror-playground/src/App.tsx
Due: none

Add information about neovim support.
  packages/language-server/README.md
Due: none

Add information about neovim support. (#137)
  packages/language-server/README.md
Due: none

add changeset
  .changeset/pre.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
Due: prettier --write

Make editor history controlled and `onExecute` reactive (#136)
  .changeset/pre.json
  .changeset/quick-berries-report.md
  package-lock.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/history-navigation.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/history-navigation.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix incorrect completions when identifier overlaps with keyword
  .changeset/stale-donkeys-grow.md
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasename-completion.test.ts
  packages/language-support/src/tests/autocompletion/misc-completions.test.ts
  packages/language-support/src/tests/autocompletion/variable-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix issue where syntax highlighting crashes on create constraint query
  .changeset/purple-suns-applaud.md
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add Emacs lsp-mode 8.0.1 instructions
  packages/language-server/README.md
Due: none

Add Emacs lsp-mode 8.0.1 instructions (#140)
  packages/language-server/README.md
Due: none

Fix issue where syntax highlighting crashes on create constraint query (#139)
  .changeset/purple-suns-applaud.md
  packages/language-support/src/highlighting/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/clauses.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fix incorrect completions when identifier overlaps with keyword (#138)
  .changeset/stale-donkeys-grow.md
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasename-completion.test.ts
  packages/language-support/src/tests/autocompletion/misc-completions.test.ts
  packages/language-support/src/tests/autocompletion/variable-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

changeset release
  .changeset/pre.json
  package-lock.json
  packages/language-server/CHANGELOG.md
  packages/language-server/package.json
  packages/language-support/CHANGELOG.md
  packages/language-support/package.json
  packages/react-codemirror-playground/CHANGELOG.md
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/CHANGELOG.md
  packages/react-codemirror/package.json
  packages/schema-poller/CHANGELOG.md
  packages/schema-poller/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

improve history prop change detection
  .changeset/purple-buckets-applaud.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

Adds changeset
  .changeset/violet-peas-float.md
Due: none

Adds instructions on how to update the semantic analysis
  docs/semantic-analysis.md
  docs/semantic-analysis.patch
Due: none

Adds instructions on how to update the semantic analysis (#145)
  docs/semantic-analysis.md
  docs/semantic-analysis.patch
Due: none

improve history prop change detection (#144)
  .changeset/purple-buckets-applaud.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

benchmark
  .github/workflows/benchmark.yaml
  package-lock.json
  packages/language-support/package.json
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/benchmarks/benchmark-queries.ts
  packages/language-support/src/tests/benchmarks/benchmarks.ts
Due: prettier --write, eslint --fix --max-warnings 0

path
  .github/workflows/benchmark.yaml
Due: none

ci
  .github/workflows/benchmark.yaml
  packages/language-support/package.json
  packages/language-support/src/tests/benchmarks/benchmark.ts
Due: prettier --write, eslint --fix --max-warnings 0

ci
  .github/workflows/benchmark.yaml
  benchmarks.txt
  package.json
  packages/language-support/benchmarks.txt
  turbo.json
Due: prettier --write

ci
  .github/workflows/benchmark.yaml
Due: none

workdir
  .github/workflows/benchmark.yaml
Due: none

dbug
  .github/workflows/benchmark.yaml
Due: none

setupantlr4
  .github/workflows/benchmark.yaml
Due: none

fix pr
  .github/workflows/benchmark.yaml
Due: none

comparetoself
  .github/workflows/benchmark.yaml
Due: none

addbenchmarks
  .github/workflows/benchmark.yaml
Due: none

add benchmarks for react-wrapper
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
Due: prettier --write

add support for exporting trace
  packages/react-codemirror/src/e2e_tests/performance-test.spec.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
