Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["oxfmt", "oxlint --fix --type-aware --max-warnings 0"],
  "*.js": ["oxlint --fix --type-aware --max-warnings 0"],
  "*.json": ["oxfmt"]
}

make each parsing call take consoleCommandsEnabled, to prevent caching issues
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxColouring.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove caching
  packages/language-support/src/cypherLanguageService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add oxlint/oxfmt checks to jsx/tsx files too (#662)
  .lintstagedrc.json
Due: oxfmt

add aria-description for keyboard navigation out of CypherEditor
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

rename helpers in cypherLanguageService and rename syntaxColouring -> syntaxHighlighting
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxHighlighting.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlightingHelper.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxHighlighting/administration.test.ts
  packages/language-support/src/tests/syntaxHighlighting/clauses.test.ts
  packages/language-support/src/tests/syntaxHighlighting/comments.test.ts
  packages/language-support/src/tests/syntaxHighlighting/function.test.ts
  packages/language-support/src/tests/syntaxHighlighting/misc.test.ts
  packages/language-support/src/tests/syntaxHighlighting/multilline.test.ts
  packages/language-support/src/tests/syntaxHighlighting/preparser.test.ts
  packages/language-support/src/tests/syntaxHighlighting/readQuery.test.ts
  packages/language-support/src/tests/syntaxHighlighting/writeQuery.test.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rewrite to use object parameter for optional values
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxHighlighting.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/benchmarks/completions.benchmark.ts
  packages/language-support/src/tests/benchmarks/standard.benchmark.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/signatureHelp.test.ts
  packages/language-support/src/tests/syntaxValidation/helpers.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove _internalFeatureFlags usages outside of testing / debugging
  packages/language-server/src/linting.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/src/App.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

format
  packages/react-codemirror-playground/src/App.tsx
Due: none

move consoleCommandsEnabled to constructor, clean up API signatures
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxHighlighting.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/parser-adapter.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix: add .js extensions to vendor/antlr4-c3 ESM imports
  package.json
  vendor/antlr4-c3/index.ts
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/src/CodeCompletionCore.ts
  vendor/antlr4-c3/src/CodeCompletionHelpers.ts
  vendor/antlr4-c3/src/VocabularyImpl.ts
  vendor/antlr4-c3/tests/CodeCompletionCore.spec.ts
  vendor/antlr4-c3/tests/CodeCompletionOptionals.spec.ts
  vendor/antlr4-c3/tsconfig.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix: add lint-staged check for extensionless imports and update CI comment
  .github/workflows/ci.yaml
  .lintstagedrc.json
  check-imports.sh
Due: oxfmt

add aria-description for keyboard navigation out of CypherEditor (#663)
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

review fixes: worker pool cleanup, private fields, remove global mutable flag
  .changeset/seven-cats-shout.md
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxValidation/helpers.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/src/CypherEditor.tsx
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update .changeset/seven-cats-shout.md
  .changeset/seven-cats-shout.md
Due: none

adding auto-completion for :auto
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fetch error nodes from parse result and insert preceding error nodes when visiting terminal
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/lazy-onions-unite.md
Due: none

update playwright to patch vulnerability
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: oxfmt

update playwright to patch vulnerability (#669)
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: oxfmt

make github input value into an env variable data before passing on to "run" steps
  .github/actions/codemirror-e2e-tests/action.yaml
Due: none

update what files we check formatting on in commit, and re-add case where
  .github/actions/codemirror-e2e-tests/action.yaml
  .lintstagedrc.json
Due: oxfmt

adding changeset
  .changeset/fancy-bushes-travel.md
Due: none

fix linting when using :auto
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Remove injection vulnerability in codemirror e2e via inputs.browser (#670)
  .github/actions/codemirror-e2e-tests/action.yaml
  .lintstagedrc.json
Due: oxfmt

check symbol table too
  packages/language-support/src/tests/consoleCommands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add claude.md
  CLAUDE.md
Due: none

fix invalid start not being parsed into statement
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
Due: none

adding auto-completion for :auto (#667)
  .changeset/fancy-bushes-travel.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix inserting extra newlines around errors by keeping spacing as-is by error node
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/layoutEngine.ts
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

fix idempotency check in formatter test to actually format the formatted result
  packages/language-support/src/tests/formatting/testutil.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove claude.md
  CLAUDE.md
Due: none

remove duplicate test, ; that wasnt originally there
  packages/language-support/src/tests/formatting/syntaxerror.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/two-schools-peel.md
Due: none

fix completions/cypher.json
  .lintstagedrc.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update container/test runners for apiAndUnit, modify lintstagedrc
  .lintstagedrc.json
  packages/query-tools/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: oxfmt

try merging "old linter changes error" and "back to new linter" test
  packages/vscode-extension/tests/specs/api/lintSwitching.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0
