Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

change enum string to union type
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
Due: prettier --write, eslint --fix --max-warnings 0

simplify connection service
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix type inferrence of stub in unit test
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
Due: prettier --write, eslint --fix --max-warnings 0

tidy up connection toggling
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/registrationService.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove manage connection icon and replace logo png
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/neo4j.png
Due: prettier --write

remove images
  packages/vscode-extension/resources/images/demo.gif
  packages/vscode-extension/resources/images/logo.png
  packages/vscode-extension/resources/images/neo4j.png
Due: none

add images with lfs
  packages/vscode-extension/resources/images/demo.gif
  packages/vscode-extension/resources/images/logo.png
  packages/vscode-extension/resources/images/neo4j.png
Due: none

do not return a default database if one is specified
  packages/schema-poller/src/neo4jConnection.ts
  packages/schema-poller/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

stage and commit new files
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

prototyping connection state
  package-lock.json
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

tidy up
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

tidy up
  packages/schema-poller/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

add event emitter for errors and reconnections to schema poller
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

improve event handling in extension and remove logic from schema poller
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

prototyping a simpler connection state
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses pr review comments
  .prettierignore
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-cs.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-fs.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-go.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-java.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-js.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-md.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-py.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-ts.json
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.py
  packages/vscode-extension/syntaxes/cypher.csharp.json
  packages/vscode-extension/syntaxes/cypher.fsharp.json
  packages/vscode-extension/syntaxes/cypher.go.json
  packages/vscode-extension/syntaxes/cypher.java.json
  packages/vscode-extension/syntaxes/cypher.js.json
  packages/vscode-extension/syntaxes/cypher.json
  packages/vscode-extension/syntaxes/cypher.python.json
Due: prettier --write

add spec for schema poller connection manager
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

make database optional, refill fields editing an existing connection
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changelog for VSCode changes, allows release job to be triggered manually
  .github/workflows/publish-vscode-extension.yaml
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/README.md
Due: none

Enables Cypher highlighting to be embedded in some programming languages (#222)
  .prettierignore
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-cs.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-fs.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-go.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-java.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-js.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-md.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-py.json
  packages/vscode-extension/e2e_tests/fixtures/textmate-results/simple-match-ts.json
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.cs
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.fs
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.go
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.java
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.js
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.md
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.py
  packages/vscode-extension/e2e_tests/fixtures/textmate/simple-match.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/syntaxes/cypher.csharp.json
  packages/vscode-extension/syntaxes/cypher.fsharp.json
  packages/vscode-extension/syntaxes/cypher.go.json
  packages/vscode-extension/syntaxes/cypher.java.json
  packages/vscode-extension/syntaxes/cypher.js.json
  packages/vscode-extension/syntaxes/cypher.json
  packages/vscode-extension/syntaxes/cypher.python.json
Due: prettier --write, eslint --fix --max-warnings 0

Bumps VSCode version
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
Due: prettier --write

Bumps VSCode version (#227)
  .github/workflows/publish-vscode-extension.yaml
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
Due: prettier --write

Fixes OpenVSX publish, need to be in the vscode-extension folder
  .github/workflows/publish-vscode-extension.yaml
Due: none

Fixes VSCode logo
  .github/workflows/publish-vscode-extension.yaml
  feedback.md
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/e2e_tests/fixtures/.vscode/settings.json
  packages/vscode-extension/package.json
Due: prettier --write

Fixes VSCode image
  .github/workflows/publish-vscode-extension.yaml
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Updates packages to remove security vulnerabilities
  package-lock.json
  packages/vscode-extension/package.json
Due: prettier --write

Tries increasing e2e tests timeout
  packages/vscode-extension/e2e_tests/testRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

add an esbuild config and related tasks so we can produce different builds for debugging
  .eslintignore
  package.json
  packages/vscode-extension/esbuild.js
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write

Adds prop for signature help and tests
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/langCypher.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

add launch config for debugging tests
  .vscode/launch.json
Due: prettier --write

refactoring schema poller to allow initializing a driver before establishing a persistent connection
  packages/language-server/src/server.ts
  packages/schema-poller/src/index.ts
  packages/schema-poller/src/neo4jConnection.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/e2e_tests/mocks/mockLanguageClient.ts
  packages/vscode-extension/e2e_tests/suiteSetup.ts
  packages/vscode-extension/e2e_tests/tests/commandHandlers.spec.ts
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/connectionTreeDataProvider.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/contextService.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/getNonce.ts
  packages/vscode-extension/src/languageClientService.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

add connection error handler to provide friendly error messages
  packages/schema-poller/src/connectionErrorHandler.ts
Due: prettier --write, eslint --fix --max-warnings 0

return error code alongside message for use in form validation
  packages/schema-poller/src/connectionErrorHandler.ts
  packages/schema-poller/src/schemaPoller.ts
  packages/vscode-extension/src/commandHandlers.ts
  packages/vscode-extension/src/webviews/connectionPanel.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix imports for connectionresult
  packages/vscode-extension/e2e_tests/mocks/mockConnectionManager.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/schemaPollerConnectionManager.ts
Due: prettier --write, eslint --fix --max-warnings 0

update connectionService spec
  packages/vscode-extension/e2e_tests/tests/connectionService.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

update schema poller spec
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

update connection panel spec
  packages/vscode-extension/e2e_tests/tests/connectionPanel.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

update execute commands spec and fix schema poller spec
  packages/vscode-extension/e2e_tests/tests/executeCommands.spec.ts
  packages/vscode-extension/e2e_tests/tests/schemaPollerConnectionManager.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor - move connect function
  packages/schema-poller/src/neo4jConnection.ts
  packages/schema-poller/src/schemaPoller.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
