Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Adds changeset
  .changeset/poor-toys-change.md
Due: none

move doesNotWantSpace to helpers
  packages/language-support/src/formatting/formattingHelpers.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

cleanup sripts and get rid of turborepo
  .vscode/tasks.json
  package.json
  packages/language-server/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
  tsconfig.node.json
  turbo.json
  turbowatch.ts
Due: prettier --write, eslint --fix --max-warnings 0

rename a bunch of indentId variable names
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

switched to direct value instead of named constant for debounce time
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

finish renaming all indentIds
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

move scripts to pnpm
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
  editor-plugin/intellij/build.gradle.kts
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/README.md
  packages/react-codemirror/README.md
  packages/vscode-extension/package.json
  release-canary.js
  vendor/antlr4-c3/.github/workflows/nodejs.yml
  vendor/antlr4-c3/package.json
  vendor/antlr4-c3/tests/readme.md
Due: prettier --write

move deps
  packages/react-codemirror/README.md
  packages/react-codemirror/package.json
  pnpm-lock.yaml
  release-canary.js
Due: prettier --write

using createParsingResult to access parsed parameters
  packages/language-support/src/index.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/vscode-extension/src/cypherRunner.ts
  packages/vscode-extension/tests/specs/unit/cypherRunner.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

add indnetationstate interface
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

update filter variable name
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes so backticks are not inserted if final letter is a number
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

update workflows
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
  vendor/antlr4-c3/.github/workflows/nodejs.yml
Due: none

fix build failure
  packages/language-support/src/formatting/formattingHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove remaining npm references
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .github/workflows/formatting-integrity-check.yaml
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

missing build
  .github/workflows/ci.yaml
Due: none

fix lint error
  packages/language-support/package.json
  pnpm-lock.yaml
Due: prettier --write

remove npx references
  .github/workflows/archive-vscode-artifacts.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-vscode-extension.yaml
Due: none

updatee2e
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
Due: none

switches test to use "browser.$('quick-..." to get inputBox and enter values
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

removed solution search
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removes breakCost from group
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removes heap-js
  package-lock.json
  packages/language-support/package.json
Due: prettier --write

changes function names
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

changes position of function
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

small fix
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removes reconstructPath
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

changes for loop
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes e[e.length-1] -> e.at(-1) and expands dbname/aliasname testing for odd starts/endings
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

removes commented out function
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds debouncing to parameter validation (#453)
  packages/vscode-extension/src/commandHandlers/params.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding parseParameters to language support
  packages/language-support/src/index.ts
  packages/language-support/src/parserWrapper.ts
  packages/vscode-extension/src/cypherRunner.ts
Due: prettier --write, eslint --fix --max-warnings 0

const group instead of indexed for loop
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

removes unused property 'align'
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

keep AS on the same line
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

222 (5 failling): move group starting / ending out of transition state
  packages/language-support/src/formatting/formattingSolutionSearch.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove group around function call in call clause
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes minor change from debugging
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes backticking of params (#457)
  .changeset/poor-toys-change.md
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

move list grps
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0
