Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

touch up looks with greg
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/src/icons.ts
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates eslint to ignore specific rules in semanticAnalysisWrapper
  packages/language-support/src/highlighting/semanticAnalysisWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds LICENSE of main ANTLR repo
  LICENSE.txt
Due: none

Adjusts path of antlr4 to inline the package
  package-lock.json
  packages/antlr4-c3/package.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/package.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/rollup.config.js
  packages/react-codemirror-experimental/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes linting and minification from webpack inside antlr4
  packages/antlr4/webpack.config.js
Due: none

Adds clean task to antlr4
  packages/antlr4/package.json
Due: prettier --write

Updates READMEs of antlr4 and antlr4-c3
  packages/antlr4-c3/readme.md
  packages/antlr4/README.md
Due: none

Adds antlr4 to eslintignore
  .eslintignore
Due: none

review comments
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/autocompletion/completion-assertion-helpers.ts
  packages/language-support/src/tests/autocompletion/functions-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes out of memory errors in GitHub actions deploy jobs
  .github/workflows/deploy-cypher-editor.yaml
  .github/workflows/deploy-demo.yml
Due: none

Fixes out of memory errors in GitHub actions deploy jobs (#97)
  .github/workflows/deploy-cypher-editor.yaml
  .github/workflows/deploy-demo.yml
Due: none

Autocomplete icons (#95)
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/README.md
  packages/react-codemirror-experimental/src/icons.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

handle space after completion as well
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion/functions-completion.test.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

publish new codemirror version
  package-lock.json
  packages/react-codemirror-experimental/package.json
Due: prettier --write

Adds VSCode e2e tests harness
  .github/workflows/ci.yaml
  package-lock.json
  packages/antlr4-c3/tsconfig.json
  packages/language-support/package.json
  packages/vscode-playground/e2e_tests/auto-completion.spec.ts
  packages/vscode-playground/e2e_tests/fixtures/auto-completion.cypher
  packages/vscode-playground/e2e_tests/helpers.ts
  packages/vscode-playground/e2e_tests/main.ts
  packages/vscode-playground/e2e_tests/testRunner.ts
  packages/vscode-playground/package.json
  packages/vscode-playground/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings 0

add detail to functions, procedures & namespaces
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/autocompletion/completion-assertion-helpers.ts
  packages/language-support/src/tests/autocompletion/functions-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Use xvfb so we don't run into missing graphics server problems
  .github/workflows/ci.yaml
Due: none

Executes first the codemirror e2e tests and then the VSCode ones
  turbo.json
Due: prettier --write

Make function completions respect namespace (#94)
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/mock-schema.ts
  packages/language-support/src/autocompletion/helpers.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/autocompletion/completion-assertion-helpers.ts
  packages/language-support/src/tests/autocompletion/functions-completion.test.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

rename neo4j-sdk
  package-lock.json
  packages/neo4j-schema-poller/README.md
  packages/neo4j-schema-poller/jest.config.js
  packages/neo4j-schema-poller/package.json
  packages/neo4j-schema-poller/src/index.ts
  packages/neo4j-schema-poller/src/metadata-poller.ts
  packages/neo4j-schema-poller/src/neo4j-connection.ts
  packages/neo4j-schema-poller/src/neo4j-schema-poller.ts
  packages/neo4j-schema-poller/src/queries/data-summary.ts
  packages/neo4j-schema-poller/src/queries/databases.ts
  packages/neo4j-schema-poller/src/queries/functions.ts
  packages/neo4j-schema-poller/src/queries/procedures.ts
  packages/neo4j-schema-poller/src/types/sdk-types.ts
  packages/neo4j-schema-poller/tsconfig.json
  packages/neo4j-sdk/src/index.ts
  packages/server/package.json
  packages/server/src/autocompletion.ts
  packages/server/src/server.ts
  packages/server/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

update signature help parsing
  packages/neo4j-schema-poller/src/metadata-poller.ts
  packages/neo4j-schema-poller/src/types/sdk-types.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove todo comment
  packages/neo4j-schema-poller/src/neo4j-schema-poller.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --fix --max-warnings 0

self review
  package-lock.json
  packages/neo4j-schema-poller/README.md
  packages/neo4j-schema-poller/package.json
Due: prettier --write

update color and bump package
  package-lock.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Uses jest instead of mocha
  package-lock.json
  package.json
  packages/language-support/package.json
  packages/vscode-playground/e2e_tests/helpers.ts
  packages/vscode-playground/e2e_tests/setup/jest.setup.js
  packages/vscode-playground/e2e_tests/setup/vscode-environment.js
  packages/vscode-playground/e2e_tests/setup/vscode.js
  packages/vscode-playground/e2e_tests/testRunner.ts
  packages/vscode-playground/e2e_tests/tests/auto-completion.spec.ts
  packages/vscode-playground/jest.config.js
  packages/vscode-playground/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Makes jest work with several tests
  packages/vscode-playground/e2e_tests/fixtures/syntax-highlighting.cypher
  packages/vscode-playground/e2e_tests/setup/vscode-environment.js
  packages/vscode-playground/e2e_tests/testRunner.ts
  packages/vscode-playground/e2e_tests/tests/auto-completion.spec.ts
  packages/vscode-playground/e2e_tests/tests/syntax-highlighting.spec.ts
  packages/vscode-playground/jest.config.js
Due: prettier --write, eslint --fix --max-warnings 0

update color and bump package (#99)
  package-lock.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds VSCode e2e tests harness
  .github/workflows/ci.yaml
  package-lock.json
  packages/antlr4-c3/tsconfig.json
  packages/language-support/package.json
  packages/vscode-playground/e2e_tests/fixtures/auto-completion.cypher
  packages/vscode-playground/e2e_tests/fixtures/syntax-highlighting.cypher
  packages/vscode-playground/e2e_tests/helpers.ts
  packages/vscode-playground/e2e_tests/main.ts
  packages/vscode-playground/e2e_tests/testRunner.ts
  packages/vscode-playground/e2e_tests/tests/auto-completion.spec.ts
  packages/vscode-playground/e2e_tests/tests/syntax-highlighting.spec.ts
  packages/vscode-playground/package.json
  packages/vscode-playground/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Polling package (#90)
  package-lock.json
  packages/neo4j-schema-poller/README.md
  packages/neo4j-schema-poller/jest.config.js
  packages/neo4j-schema-poller/package.json
  packages/neo4j-schema-poller/src/index.ts
  packages/neo4j-schema-poller/src/metadata-poller.ts
  packages/neo4j-schema-poller/src/neo4j-connection.ts
  packages/neo4j-schema-poller/src/neo4j-schema-poller.ts
  packages/neo4j-schema-poller/src/queries/data-summary.ts
  packages/neo4j-schema-poller/src/queries/databases.ts
  packages/neo4j-schema-poller/src/queries/functions.ts
  packages/neo4j-schema-poller/src/queries/procedures.ts
  packages/neo4j-schema-poller/src/types/sdk-types.ts
  packages/neo4j-schema-poller/tsconfig.json
  packages/server/package.json
  packages/server/src/autocompletion.ts
  packages/server/src/dbSchema.ts
  packages/server/src/server.ts
  packages/server/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds comment on why we need xvfb
  .github/workflows/ci.yaml
Due: none

split up autocompletion test
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/autocompletion/databasename-completion.test.ts
  packages/language-support/src/tests/autocompletion/expression-completion.test.ts
  packages/language-support/src/tests/autocompletion/keyword-completion.test.ts
  packages/language-support/src/tests/autocompletion/misc-completions.test.ts
  packages/language-support/src/tests/autocompletion/pattern-completion.test.ts
  packages/language-support/src/tests/autocompletion/procedure-completion.test.ts
  packages/language-support/src/tests/autocompletion/propertykey-completion.test.ts
  packages/language-support/src/tests/autocompletion/variable-completion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds VSCode e2e tests harness with mocha (#100)
  .github/workflows/ci.yaml
  package-lock.json
  packages/antlr4-c3/tsconfig.json
  packages/language-support/package.json
  packages/vscode-playground/e2e_tests/fixtures/auto-completion.cypher
  packages/vscode-playground/e2e_tests/fixtures/syntax-highlighting.cypher
  packages/vscode-playground/e2e_tests/helpers.ts
  packages/vscode-playground/e2e_tests/main.ts
  packages/vscode-playground/e2e_tests/testRunner.ts
  packages/vscode-playground/e2e_tests/tests/auto-completion.spec.ts
  packages/vscode-playground/e2e_tests/tests/syntax-highlighting.spec.ts
  packages/vscode-playground/package.json
  packages/vscode-playground/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

repl movements
  packages/react-codemirror-experimental/src/repl-mode.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

melln
  package-lock.json
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

prettier-search-replace
  packages/react-codemirror-experimental/src/lang-cypher/create-cypher-theme.ts
  packages/react-codemirror-experimental/src/lang-cypher/theme-icons.ts
  packages/react-codemirror-experimental/src/themes.ts
Due: prettier --write, eslint --fix --max-warnings 0

debug
  .github/workflows/ci.yaml
  packages/react-codemirror-experimental/e2e_tests/history-navigation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
