Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Fixes outputs missing in turbo with the language-server
  turbo.json
Due: prettier --write

Fixes outputs missing in turbo with the language-server (#197)
  turbo.json
Due: prettier --write

fix e2e test
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

mellan
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

do some styling
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

update config to not have to ignore turbowatch.ts
  .eslintignore
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  tsconfig.node.json
  turbowatch.ts
Due: prettier --write, eslint --fix --max-warnings 0

test
  tsconfig.node.json
Due: prettier --write

restore turbowatch
  turbowatch.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix test with overlapping panels
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds textmate grammar
  .eslintignore
  packages/language-support/src/index.ts
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/.vscodeignore
  packages/vscode-extension/genTextMate.js
  packages/vscode-extension/package.json
  packages/vscode-extension/syntaxes/cypher.json
  packages/vscode-extension/syntaxes/cypher.markdown.json
Due: prettier --write, eslint --fix --max-warnings 0

Speeds up build and tests
  jest.config.base.js
  packages/language-support/tsconfig.json
  tsconfig.base.json
Due: prettier --write

Removes the build step from unit tests
  .github/workflows/ci.yaml
Due: none

sets some heights/widths and scroll
  packages/language-support/src/tests/testData.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Speeds up build and tests (#201)
  .github/workflows/ci.yaml
  jest.config.base.js
  packages/language-support/tsconfig.json
  tsconfig.base.json
Due: prettier --write

fix e2e test
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
Due: none

Makes all auto-completion tests work
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Simplifies the grammar even more for users and roles
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes syntactic errors
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes order of errors in unit tests and wording in e2e tests
  CONTRIBUTING.md
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/syntaxValidation.spec.tsx
  packages/vscode-extension/e2e_tests/tests/syntaxValidation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes gpm test that no longer applies, updates grammar with symbols
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds comments and label types
  packages/language-support/src/textMateGrammar.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Adds back tests that were removed by mistake
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix changeset typo
  .changeset/afraid-beans-juggle.md
Due: none

breakout help fn
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Signature Help CSS, step in the right direction (#198)
  .eslintignore
  packages/language-support/src/tests/testData.ts
  packages/react-codemirror/src/e2e_tests/signatureHelp.spec.tsx
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
  tsconfig.node.json
Due: prettier --write, eslint --fix --max-warnings 0

Add more props to the codemirror editor to ease migration from older version (#178)
  .changeset/afraid-beans-juggle.md
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/configuration.spec.tsx
  packages/react-codemirror/src/e2e_tests/e2eUtils.ts
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses review comments
  packages/language-support/src/helpers.ts
  packages/language-support/src/syntaxColouring/syntaxColouringHelpers.ts
  packages/language-support/src/syntaxValidation/syntaxValidationHelpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changelog for semantic analysis changes
  .changeset/brave-donuts-camp.md
Due: none

Adds changelog for semantic analysis changes (#204)
  .changeset/brave-donuts-camp.md
Due: none

Updates vscode plugin version
  .changeset/pre.json
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: prettier --write

Cleans up
  TODO.md
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

support signature help below as well
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

Update textmate grammar
  packages/language-support/src/textMateGrammar.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove unneeded change
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

Create chilled-dots-guess.md
  .changeset/chilled-dots-guess.md
Due: none

Adds job to release to canary manually
  .eslintignore
  .github/workflows/publish-canary-npm-packages.yaml
  release-canary.js
Due: none
