Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

update claude.md and add skills based on claude insight from git history etc
  .claude/skills/finish-grammar-artifact-bump/SKILL.md
  .claude/skills/release-and-publish-flows/SKILL.md
  .claude/skills/run-vscode-extension-tests/SKILL.md
  CLAUDE.md
Due: none

warn on missing properties
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

swap out claude.md for agents.md
  .claude/skills/parse-cypher-with-antlr/SKILL.md
  .claude/skills/run-cypher-language-support/SKILL.md
  .claude/skills/run-vscode-extension-tests/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

format and lint new skill files
  .claude/skills/run-cypher-language-support/driver-lsp.mjs
  .claude/skills/run-cypher-language-support/driver-playground.mjs
Due: none

remove comment that is not necessarily true
  .claude/skills/parse-cypher-with-antlr/SKILL.md
Due: none

bump pre-release version to 1.17.28
  packages/vscode-extension/package.json
Due: oxfmt

pick webview by selector, split checkResultContent into one function per sub-section
  packages/vscode-extension/tests/specs/webviews/connection.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

format
  .vscode/launch.json
Due: oxfmt

re-activate watch
  .vscode/launch.json
Due: oxfmt

Update coding agent description
  packages/vscode-extension/resources/walkthroughs/graphacademy-mcp.md
Due: none

ignore property errors if the property has been written somewhere
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
  packages/language-support/src/tests/testData.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.29
  packages/vscode-extension/package.json
Due: oxfmt

remove skill we agreed not to include as of yet. Drop removed engineStrict from package.jsons
  .claude/skills/run-cypher-language-support/SKILL.md
  .claude/skills/run-cypher-language-support/driver-lsp.mjs
  .claude/skills/run-cypher-language-support/driver-playground.mjs
  .claude/skills/run-cypher-language-support/playground-screenshot.png
  AGENTS.md
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  tsconfig.json
Due: oxfmt

fix dir in vitest config to allow running single tests with AGENTS.md command from root. also remove suggestion to run vendored tests, and add lint-worker to vitest workspace revealing its test
  AGENTS.md
  packages/language-support/vitest.config.mts
  packages/lint-worker/vitest.config.mts
  packages/query-tools/vitest.config.mts
  vitest.workspace.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Add a Welcome experience to the VS Code extension (#699)
  .gitignore
  .vscode/launch.json
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/walkthroughs/app-development.md
  packages/vscode-extension/resources/walkthroughs/cypher-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/generative-ai.md
  packages/vscode-extension/resources/walkthroughs/graphacademy-mcp.md
  packages/vscode-extension/resources/walkthroughs/importing-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/modeling-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/neo4j-fundamentals.md
  packages/vscode-extension/src/commandHandlers/mcp.ts
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/registrationService.ts
  packages/vscode-extension/src/webviews/welcomePanel.ts
  packages/vscode-extension/tests/specs/webviews/connection.spec.ts
  packages/vscode-extension/tests/specs/webviews/params.spec.ts
  packages/vscode-extension/tests/specs/webviews/queryExecution.spec.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

switch to include over dir, to allow vitest discovery in correct folders while not breaking build
  packages/language-support/vitest.config.mts
  packages/lint-worker/vitest.config.mts
  packages/query-tools/vitest.config.mts
Due: none

Add Claude skills (#707)
  .claude/skills/finish-grammar-artifact-bump/SKILL.md
  .claude/skills/parse-cypher-with-antlr/SKILL.md
  .claude/skills/release-and-publish-flows/SKILL.md
  .claude/skills/run-vscode-extension-tests/SKILL.md
  AGENTS.md
  CLAUDE.md
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/language-support/vitest.config.mts
  packages/lint-worker/package.json
  packages/lint-worker/vitest.config.mts
  packages/query-tools/package.json
  packages/query-tools/vitest.config.mts
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  tsconfig.json
  vitest.workspace.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.17.30
  packages/vscode-extension/package.json
Due: oxfmt

Update changelog and package.json for vscode release
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: oxfmt

Update changelog and package.json for vscode release (#709)
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: oxfmt

bump pre-release version to 1.19.0
  packages/vscode-extension/package.json
Due: oxfmt

relint on schema refetch in codemirror
  packages/query-tools/src/metadataPoller.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

expand comment to warn against new schema object on identical values
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

bump pre-release version to 1.19.1
  packages/vscode-extension/package.json
Due: oxfmt

add ref to graphacademy links to track usage
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/walkthroughs/app-development.md
  packages/vscode-extension/resources/walkthroughs/cypher-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/generative-ai.md
  packages/vscode-extension/resources/walkthroughs/importing-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/modeling-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/neo4j-fundamentals.md
Due: oxfmt

check missing properties only in nodes and relationships
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/misc.test.ts
  packages/language-support/src/types.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add warnings for invalid relationships
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

minor code improvements in syntaxValidation
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

small code improvement in PropertiesCollector
  packages/language-support/src/cypherLanguageService.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.2
  packages/vscode-extension/package.json
Due: oxfmt

add ref to graphacademy links to track usage (#711)
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/walkthroughs/app-development.md
  packages/vscode-extension/resources/walkthroughs/cypher-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/generative-ai.md
  packages/vscode-extension/resources/walkthroughs/importing-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/modeling-fundamentals.md
  packages/vscode-extension/resources/walkthroughs/neo4j-fundamentals.md
Due: oxfmt

adds an input for fetch-dev-artifacts workflow to choose neo4j version for artifacts fetch
  .github/workflows/fetch-dev-artifacts.yaml
Due: none

normalize CRLF line endings
  .changeset/rare-clubs-work.md
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e_tests/sanityChecks.spec.tsx
Due: none

update lexer symbols
  .changeset/blue-boats-fix.md
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.3
  packages/vscode-extension/package.json
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt

code review changes
  CONTRIBUTING.md
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

normalize property names
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/tests/syntaxValidation/semanticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
