Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

Fixes role and username completions
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Add .cypher icon, file template and type
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/language/CypherFileType.java
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/language/CypherIcons.java
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/language/CypherLanguage.java
  editor-plugin/intellij/src/main/resources/META-INF/fileIcon.svg
  editor-plugin/intellij/src/main/resources/META-INF/plugin.xml
  editor-plugin/intellij/src/main/resources/fileTemplates/Cypher File.cypher.ft
Due: none

Completes user and role names from the database, adds tests
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/userNameCompletion.test.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/queries/roles.ts
  packages/schema-poller/src/queries/users.ts
Due: prettier --write, eslint --fix --max-warnings 0

nicer blue color
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

implement automatic/manual distinction
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

implement basic snippet completions for vscode & codemirror
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
Due: prettier --write, eslint --fix --max-warnings 0

self review
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix false positives
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates grammar (#179)
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/antlr-grammar/CypherPreLexer.g4
  packages/language-support/src/antlr-grammar/CypherPreParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
  packages/language-support/src/tests/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/syntaxColouring/clauses.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds more places where we can have users / roles
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/userNameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Splits parameter tests, adds role and user completion to more places
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/userNameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Self review
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/userNameCompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Change documentSelector to target all cypher, not only files
  packages/language-server/src/server.ts
  packages/vscode-extension/e2e_tests/fixtures/not-a-cypher
  packages/vscode-extension/e2e_tests/tests/syntax-validation.spec.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

switch rule to trigger snippets
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tests for index/constraints
  packages/language-support/src/tests/autocompletion/snippet.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds changeset
  .changeset/nice-elephants-prove.md
Due: none

Complete usernames and roles (#188)
  .changeset/nice-elephants-prove.md
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/helpers.ts
  packages/language-support/src/tests/autocompletion/databasenameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/parameterCompletions.test.ts
  packages/language-support/src/tests/autocompletion/roleNameCompletion.test.ts
  packages/language-support/src/tests/autocompletion/userNameCompletion.test.ts
  packages/language-support/src/tests/testData.ts
  packages/schema-poller/src/metadataPoller.ts
  packages/schema-poller/src/queries/roles.ts
  packages/schema-poller/src/queries/users.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds one manual dep
  .vscode/launch.json
  package-lock.json
  package.json
  packages/language-server/package.json
  turbo.json
Due: prettier --write

Update packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add -[]-()
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Complete path snippets (#190)
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/server.ts
  packages/language-support/src/autocompletion/autocompletion.ts
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/completionAssertionHelpers.ts
  packages/language-support/src/tests/autocompletion/snippet.test.ts
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
Due: prettier --write, eslint --fix --max-warnings 0

update update key map for completions in snippets
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/neo4jSetup.tsx
Due: none

Ignores VSCode in changeset until we make a first non-next release
  .changeset/config.json
  .changeset/pre.json
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write

break out snippets test file and add navigation test
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/snippets.spec.tsx
Due: none

fix bug where symbolicname completions could return invalid completions
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/miscCompletions.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes caching output of antlr4-c3
  turbo.json
Due: prettier --write

Adds watch task that works in codemirror
  .eslintignore
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/schema-poller/package.json
  turbowatch.ts
Due: prettier --write, eslint --fix --max-warnings 0

Ignores VSCode in changeset until we make a first non-next release (#195)
  .changeset/config.json
  .changeset/pre.json
  package-lock.json
  packages/vscode-extension/CHANGELOG.md
Due: prettier --write

Reverts part of the turbo dependency graph
  .gitignore
  package-lock.json
  packages/language-server/package.json
  turbo.json
Due: prettier --write

Change file icon to baltic logo mark
  editor-plugin/intellij/src/main/resources/META-INF/fileIcon.svg
Due: none

Adds VSCode failing test
  packages/vscode-extension/e2e_tests/fixtures/not-a-cypher
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/tests/syntax-validation.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

Change documentSelector to target all cypher, not only files
  packages/language-server/src/server.ts
  packages/vscode-extension/e2e_tests/tests/syntax-validation.spec.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Handle accepting completion within snippets (#194)
  packages/react-codemirror/src/e2e_tests/autoCompletion.spec.tsx
  packages/react-codemirror/src/e2e_tests/snippets.spec.tsx
  packages/react-codemirror/src/neo4jSetup.tsx
Due: none

fixes clean/build cache & brings back files watch (#183)
  .eslintignore
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/schema-poller/package.json
  turbo.json
  turbowatch.ts
  vendor/antlr4-c3/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Add .cypher icon, file template and type (#189)
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/language/CypherFileType.java
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/language/CypherIcons.java
  editor-plugin/intellij/src/main/java/org/neo4j/intellij/lsp/language/CypherLanguage.java
  editor-plugin/intellij/src/main/resources/META-INF/fileIcon.svg
  editor-plugin/intellij/src/main/resources/META-INF/plugin.xml
  editor-plugin/intellij/src/main/resources/fileTemplates/Cypher File.cypher.ft
Due: none

fix bug where symbolicname completions could return invalid completions (#196)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/tests/autocompletion/miscCompletions.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Removes unused test file
  packages/vscode-extension/e2e_tests/fixtures/not-a-cypher
Due: none

Polishes comment
  packages/vscode-extension/e2e_tests/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Change documentSelector to target all cypher, not only files (#191)
  packages/language-server/src/server.ts
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/tests/syntax-validation.spec.ts
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
