Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

fix es-build from any directory
  package-lock.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/tsconfig.json
Due: prettier --write

Fixes warnings on non declared labels (#114)
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/tests/highlighting/syntaxValidation/syntacticValidation.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes bug with '(' showing for allShortestPaths, ANY, etc (#115)
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/react-codemirror-experimental/e2e_tests/auto-completion.spec.ts
  packages/vscode-playground/e2e_tests/fixtures/allShortestPaths-completion.cypher
  packages/vscode-playground/e2e_tests/tests/auto-completion.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

update pkg.json and fix e2e test
  packages/language-support/package.json
  packages/neo4j-schema-poller/package.json
  packages/server/package.json
  packages/vscode-playground/package.json
  packages/vscode-playground/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

esnext target
  tsconfig.base.json
Due: prettier --write

Simplifies the build step to not use rollup etc (#112)
  .eslintignore
  .gitignore
  jest.config.base.js
  package-lock.json
  packages/antlr4-c3/jest.config.cjs
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tsconfig.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/vite.config.ts
  packages/language-support/jest.config.js
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/highlighting/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/highlighting/syntaxValidation/syntaxValidationHelpers.ts
  packages/language-support/src/parserWrapper.ts
  packages/neo4j-schema-poller/package.json
  packages/neo4j-schema-poller/tsconfig.json
  packages/react-codemirror-experimental/README.md
  packages/react-codemirror-experimental/jest.config.js
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/rollup.config.js
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror-experimental/tsconfig.json
  packages/react-codemirror-experimental/tsconfig.node.json
  packages/react-codemirror-experimental/vite.config.ts
  packages/server/README.md
  packages/server/package.json
  packages/server/tsconfig.json
  packages/vscode-playground/e2e_tests/testRunner.ts
  packages/vscode-playground/package.json
  packages/vscode-playground/src/extension.ts
  packages/vscode-playground/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

readme
  README.md
Due: none

updates readmes etc.
  CONTRIBUTING.md
  README.md
  imgs/repo-overview.png
  package.json
  packages/language-server/README.md
  packages/language-server/package.json
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxColouring.ts
  packages/language-server/src/types.ts
  packages/language-server/tsconfig.json
  packages/vscode-extension/README.md
  packages/vscode-extension/cypher-language-configuration.json
  packages/vscode-extension/e2e_tests/fixtures/auto-completion.cypher
  packages/vscode-extension/e2e_tests/fixtures/syntax-highlighting.cypher
  packages/vscode-extension/e2e_tests/helpers.ts
  packages/vscode-extension/e2e_tests/main.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/e2e_tests/tests/auto-completion.spec.ts
  packages/vscode-extension/e2e_tests/tests/syntax-highlighting.spec.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

Update readmes
  CONTRIBUTING.md
  README.md
  package-lock.json
Due: prettier --write

Renames codemirror-playground, adds language-support#build as dependency
  .github/workflows/deploy-demo.yml
  package.json
  packages/language-server/README.md
  turbo.json
Due: prettier --write

Removes assemble
  package.json
  packages/language-server/README.md
  packages/language-server/package.json
  turbo.json
Due: prettier --write

Revisits turbo structure
  package-lock.json
  packages/language-server/package.json
  turbo.json
Due: prettier --write

updatereadme
  CONTRIBUTING.md
  README.md
  packages/language-server/README.md
  packages/vscode-extension/README.md
Due: none

update readmes
  README.md
  packages/language-server/README.md
  packages/language-support/README.md
  packages/react-codemirror-playground/README.md
  packages/react-codemirror/README.md
  packages/schema-poller/README.md
  packages/vscode-extension/README.md
Due: none

Renames every package to be @neo4j-cypher
  .github/workflows/ci.yaml
  .github/workflows/deploy-cypher-editor.yaml
  package-lock.json
  package.json
  packages/language-server/package.json
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxColouring.ts
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror-playground/src/tree-util.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright.config.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/lang-cypher/ParserAdapter.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
  packages/react-codemirror/src/tests/contants.test.ts
  packages/schema-poller/package.json
  packages/schema-poller/src/metadata-poller.ts
  packages/vscode-extension/package.json
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Disables the react-codemirror GitHub Action
  .github/workflows/publish-cypher-codemirror.yaml
Due: none

Renames the artifact of the language server
  package-lock.json
  packages/language-server/README.md
  packages/language-server/package.json
  packages/react-codemirror-playground/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

can build again
  .eslintrc.js
  package-lock.json
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/create-cypher-theme.ts
  packages/schema-poller/package.json
  packages/schema-poller/src/metadata-poller.ts
  packages/schema-poller/src/neo4j-connection.ts
  packages/vscode-extension/e2e_tests/testRunner.ts
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

fix build and lock file
  packages/schema-poller/package.json
  pnpm-lock.yaml
Due: prettier --write

back to turbo build
  package.json
  packages/schema-poller/package.json
Due: prettier --write

avoid circular pkg
  package.json
  pnpm-workspace.yaml
Due: prettier --write

review fixes
  README.md
  packages/language-support/README.md
  packages/vscode-extension/README.md
Due: none

Revisits turbo structure and makes all packages @neo4j-cypher (#119)
  .github/workflows/ci.yaml
  .github/workflows/publish-cypher-codemirror.yaml
  package-lock.json
  package.json
  packages/language-server/README.md
  packages/language-server/package.json
  packages/language-server/src/autocompletion.ts
  packages/language-server/src/server.ts
  packages/language-server/src/signatureHelp.ts
  packages/language-server/src/syntaxColouring.ts
  packages/language-support/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror-playground/src/tree-util.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright.config.ts
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/index.ts
  packages/react-codemirror/src/lang-cypher/ParserAdapter.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/constants.ts
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
  packages/react-codemirror/src/tests/contants.test.ts
  packages/schema-poller/package.json
  packages/schema-poller/src/metadata-poller.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  turbo.json
Due: prettier --write, eslint --fix --max-warnings 0

Update readmes (#118)
  CONTRIBUTING.md
  README.md
  packages/language-server/README.md
  packages/language-support/README.md
  packages/react-codemirror-playground/README.md
  packages/react-codemirror/README.md
  packages/schema-poller/README.md
  packages/vscode-extension/README.md
Due: none

fix e2e test
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0

Adds jobs for publishing npm packages
  .github/actions/publish-npm/action.yaml
  .github/workflows/publish-cypher-codemirror.yaml
  .github/workflows/publish-packages.yaml
Due: none

Runs publish workflow only when the unit tests succeed
  .github/workflows/ci.yaml
  .github/workflows/publish-packages.yaml
Due: none

start of our own wrapper
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.tsx
Due: prettier --write

Minor nits
  .github/actions/publish-npm/action.yaml
  .github/workflows/publish-packages.yaml
Due: none

Solves issue with vscode-extension e2e tests depending on their build
  .github/workflows/ci.yaml
  turbo.json
Due: prettier --write

ongoing
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror/src/lang-cypher/syntax-validation.ts
  packages/react-codemirror/src/neo4j-setup.tsx
Due: prettier --write, eslint --fix --max-warnings 0

more to component testing
  package-lock.json
  packages/react-codemirror/.gitignore
  packages/react-codemirror/e2e_tests/auto-completion.spec.ts
  packages/react-codemirror/e2e_tests/sanity-checks.spec.ts
  packages/react-codemirror/package.json
  packages/react-codemirror/playwright-ct.config.ts
  packages/react-codemirror/playwright/index.html
  packages/react-codemirror/playwright/index.tsx
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/CypherEditor.tsx
  packages/react-codemirror/src/e2e-entry.tsx
  packages/react-codemirror/src/e2e_tests/auto-completion.spec.tsx
  packages/react-codemirror/src/e2e_tests/e2e-utils.ts
  packages/react-codemirror/src/e2e_tests/history-navigation.spec.tsx
  packages/react-codemirror/src/e2e_tests/sanity-checks.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntax-highlighting.spec.tsx
  packages/react-codemirror/src/e2e_tests/syntax-validation.spec.tsx
  packages/react-codemirror/src/lang-cypher/contants.test.ts
  packages/react-codemirror/src/neo4j-setup.tsx
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vite-env.d.ts
  packages/react-codemirror/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings 0

remove old test file
  packages/react-codemirror/package.json
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: prettier --write

updtlock
  package-lock.json
Due: prettier --write

self review
  package-lock.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/e2e_tests/auto-completion.spec.tsx
  packages/react-codemirror/src/neo4j-setup.tsx
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
