Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/wise-states-stand.md
Due: none

Automated update of artifacts to neo4j version 2026.09.0 (#749)
  .changeset/wise-states-stand.md
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
  packages/lint-worker/server-version-tag.txt
Due: oxlint --fix --type-aware --max-warnings 0

small tweaks to tsconfig
  packages/query-tools/tsconfig.json
  tsconfig.json
Due: oxfmt

WIP set strict in tsconfig
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/formattingHelpers.ts
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix type errors
  packages/language-support/src/formatting/standardizer.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/historyNavigation.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/richClipboardCopier.ts
  packages/react-codemirror/tsconfig.node.json
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

make tsconfig consistent across packages and fix some type errors
  package.json
  packages/language-support/tsconfig.node.json
  packages/lint-worker/tsconfig.node.json
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/data-transforms/record-to-string.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/query-tools/tsconfig.json
  packages/query-tools/tsconfig.node.json
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/tsconfig.node.json
  packages/react-codemirror/vite.config.ts
  packages/vscode-extension/tsconfig.node.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.26
  packages/vscode-extension/package.json
Due: oxfmt

code review changes
  packages/query-tools/src/cypher-execution/query-result.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add extension tests on procedure hover
  packages/vscode-extension/tests/specs/api/hover/hoverFunctions.spec.ts
  packages/vscode-extension/tests/specs/api/hover/hoverProcedures.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add *.tsbuild to clean scripts
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/specs/api/hover/hoverProcedures.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove extra checks in hover tests
  packages/vscode-extension/tests/specs/api/hover/hoverFunctions.spec.ts
  packages/vscode-extension/tests/specs/api/hover/hoverProcedures.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.27
  packages/vscode-extension/package.json
Due: oxfmt

Pin actions to full-length commit SHA (#744)
  .github/actions/codemirror-e2e-tests/action.yaml
  .github/actions/setup-and-build/action.yaml
Due: none

modify exports/imports to reduce missing exports
  packages/language-support/src/autocompletion/autocompletionHelpers.ts
  packages/language-support/src/dbSchema.ts
  packages/language-support/src/debugTree.ts
  packages/language-support/src/featureFlags.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/index.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlightingHelper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/types.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror-playground/src/treeUtil.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add settings+dependency for api-extractor, add generated report to git
  .gitattributes
  .gitignore
  .oxfmtrc.json
  .vscode/settings.json
  api-extractor-base.json
  oxlint.config.ts
  package.json
  packages/language-support/api-extractor.json
  packages/language-support/api-extractor/api-report.api.md
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix DbSchema type mismatch
  packages/lint-worker/src/lintWorker.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Fix type errors
  packages/language-support/src/formatting/cli.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/formatting/standardizer.ts
  packages/language-support/src/syntaxValidation/schemaBasedValidation.ts
  packages/language-support/src/tests/syntaxValidation/functionsValidation.test.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror-playground/src/App.tsx
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/react-codemirror/src/e2e_tests/historyNavigation.spec.tsx
  packages/react-codemirror/src/historyNavigation.ts
  packages/react-codemirror/src/lang-cypher/createCypherTheme.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  packages/react-codemirror/src/richClipboardCopier.ts
  packages/vscode-extension/tests/helpers.ts
  packages/vscode-extension/tests/specs/api/textmateHighlighting.spec.ts
  packages/vscode-extension/tests/specs/unit/connectionService.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Functions and Procedures info on hover (#722)
  .changeset/loud-feet-judge.md
  package.json
  packages/language-server/package.json
  packages/language-server/src/hoverInfo.ts
  packages/language-server/src/server.ts
  packages/language-support/package.json
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/hover.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
  packages/language-support/src/types.ts
  packages/lint-worker/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/tests/specs/api/hover/hoverFunctions.spec.ts
  packages/vscode-extension/tests/specs/api/hover/hoverProcedures.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

expand signatureHelp.ts to handle some grammar-defined predicate functions
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/dark-lions-dig.md
Due: none

add tests
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/syntaxHighlighting/function.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update highlighting IT to match update allShortestPaths
  packages/vscode-extension/tests/specs/api/syntaxHighlighting.spec.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

handle shortest functions in highlighting/signature help (note: signature help will need fix to schema (on server for actual case) to work)
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
  packages/language-support/src/tests/syntaxHighlighting/function.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add signature handling and syntax highlighting for final missing grammar-defined functions
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxHighlighting/syntaxHighlighting.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

replace so dbSchema variable is shared instead of rereferenced each time from testData
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

expand testing of function/procedure hover info
  packages/language-support/src/tests/hover/hoverFunctions.test.ts
  packages/language-support/src/tests/hover/hoverProcedures.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add helper for "should give signature help" check. Fix some places where we dont check for undefined
  packages/language-support/src/signatureHelp.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add desired strict tsconfig rules
  package.json
  packages/query-tools/tsconfig.json
  packages/react-codemirror-playground/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: oxfmt

enable noUncheckedIndexedAccess tsconfig
  packages/query-tools/src/connectionErrorHandler.ts
  packages/query-tools/src/integration-tests/pollingIntegrationTests.test.ts
  packages/query-tools/src/queries/dataSummary.ts
  packages/query-tools/src/queries/graphSchema.ts
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

enable noImplicitReturns
  packages/language-server/src/autocompletion.ts
  packages/language-support/src/autocompletion/schemaBasedCompletions.ts
  packages/language-support/src/cypherLanguageService.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/vscode-extension/src/commandHandlers/connection.ts
  packages/vscode-extension/src/connectionService.ts
  packages/vscode-extension/src/treeviews/connectionTreeDataProvider.ts
  packages/vscode-extension/src/webviews/controllers/connectionPanelController.ts
  packages/vscode-extension/tests/helpers.ts
  tsconfig.base.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove noPropertyAcessFromIndexSignature rule
  tsconfig.base.json
Due: oxfmt

bump pre-release version to 1.19.28
  packages/vscode-extension/package.json
Due: oxfmt

chore: use bundler moduleResolution for Vite config TypeScript
  packages/react-codemirror-playground/tsconfig.node.json
  packages/react-codemirror/tsconfig.node.json
Due: oxfmt

fix: include Node types alongside vitest/globals after Vitest 4
  packages/language-support/tsconfig.json
  packages/lint-worker/tsconfig.json
  packages/query-tools/tsconfig.json
Due: oxfmt

fix: adapt react-codemirror Vitest config for Vitest 4
  packages/react-codemirror/vite.config.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

chore: upgrade Vite to 8 with matching plugin-react, Vitest, and Playwright
  package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  pnpm-lock.yaml
Due: oxfmt

Invert CypherEditor test.fails tests
  packages/react-codemirror/src/CypherEditor.test.tsx
Due: none

chore: rename Playwright CT rollupOptions to rolldownOptions
  packages/react-codemirror/playwright-ct.config.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Remove vite from top-level package.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

chore: replace vitest.workspace with Vitest 4 projects config
  tsconfig.node.json
  vitest.config.mts
  vitest.workspace.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
