Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.json": ["prettier --write"]
}

Fixes VSCode and npm publishing jobs (#482)
  .github/workflows/publish-npm-packages.yaml
  .github/workflows/publish-vscode-extension.yaml
  package.json
Due: prettier --write

Improves handling of SKIP in formatter (#477)
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/formatting/styleguide.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Fixes the VSCode CI job, second attempt
  .github/workflows/publish-vscode-extension.yaml
Due: none

Fixes the VSCode CI job, second attempt (#483)
  .github/workflows/publish-vscode-extension.yaml
Due: none

fix bundling
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/vscode-extension/esbuild-extension.js
Due: prettier --write

fix watching for codemirror
  package.json
  packages/language-support/package.json
  packages/query-tools/package.json
  packages/query-tools/src/metadataPoller.ts
  packages/react-codemirror/package.json
Due: prettier --write, eslint --fix --max-warnings 0

Removes lfs from the repo, updates version of VSCode
  .gitattributes
  imgs/auto-completion.gif
  imgs/repo-overview.png
  imgs/vscode-playground.png
  packages/language-support/src/formatting/architecture.png
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-add-parameter.png
  packages/vscode-extension/resources/images/demo-connect.png
  packages/vscode-extension/resources/images/demo-disconnect.png
  packages/vscode-extension/resources/images/demo-embedded-cypher-menus.png
  packages/vscode-extension/resources/images/demo-execution.png
  packages/vscode-extension/resources/images/demo-manage-connection.png
  packages/vscode-extension/resources/images/demo-new-connection.png
  packages/vscode-extension/resources/images/demo-param-editing.png
  packages/vscode-extension/resources/images/demo.gif
  packages/vscode-extension/resources/images/logo.png
  packages/vscode-extension/resources/images/neo4j.png
  vendor/antlr4-c3/images/token-position.png
Due: prettier --write

Removes more references to lfs
  .github/workflows/archive-vscode-artifacts.yaml
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  CONTRIBUTING.md
Due: none

cleanup -- watch
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  packages/language-server/package.json
  packages/language-support/src/lexerSymbols.ts
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/package.json
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

Removes package-lock file
  package-lock.json
Due: prettier --write

Publish unbundled packages for ESM builds (#480)
  packages/language-server/package.json
  packages/language-server/tsconfig.json
  packages/language-support/package.json
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/index.ts
  packages/language-support/src/signatureHelp.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/tsconfig.json
  packages/language-support/tsconfig.node.json
  packages/language-support/vitest.config.mts
  packages/react-codemirror-playground/package.json
  packages/vscode-extension/esbuild-extension.js
Due: prettier --write, eslint --fix --max-warnings 0

Removes lfs from the repo, updates version of VSCode (#484)
  .gitattributes
  .github/workflows/archive-vscode-artifacts.yaml
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  CONTRIBUTING.md
  imgs/auto-completion.gif
  imgs/repo-overview.png
  imgs/vscode-playground.png
  package-lock.json
  packages/language-support/src/formatting/architecture.png
  packages/vscode-extension/package.json
  packages/vscode-extension/resources/images/demo-add-parameter.png
  packages/vscode-extension/resources/images/demo-connect.png
  packages/vscode-extension/resources/images/demo-disconnect.png
  packages/vscode-extension/resources/images/demo-embedded-cypher-menus.png
  packages/vscode-extension/resources/images/demo-execution.png
  packages/vscode-extension/resources/images/demo-manage-connection.png
  packages/vscode-extension/resources/images/demo-new-connection.png
  packages/vscode-extension/resources/images/demo-param-editing.png
  packages/vscode-extension/resources/images/demo.gif
  packages/vscode-extension/resources/images/logo.png
  packages/vscode-extension/resources/images/neo4j.png
  vendor/antlr4-c3/images/token-position.png
Due: prettier --write

mln
  .eslintignore
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/src/extension.ts
Due: prettier --write, eslint --fix --max-warnings 0

missing exports
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

missing exports (#486)
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

typo
  packages/language-support/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0

simplifies label for access-mode, changes access-mode args to optional, adds further test coverage
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixes lexer for READ and WRITE, updates tests
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds access-mode read/write to the grammar
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
Due: prettier --write, eslint --fix --max-warnings 0

adds a changeset for the lang support package
  .changeset/tender-insects-admire.md
Due: none

watching workds
  .eslintrc.js
  .vscode/launch.json
  packages/language-support/package.json
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/esbuild-extension.mts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tsconfig.node.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

mergemain
  .eslintignore
  .eslintrc.js
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/language-support/src/lexerSymbols.ts
  packages/query-tools/package.json
  packages/query-tools/src/metadataPoller.ts
  packages/react-codemirror/package.json
  packages/vscode-extension/esbuild-extension.js
  packages/vscode-extension/esbuild-extension.mts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/syntaxes/cypher.json
  packages/vscode-extension/tsconfig.node.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

self review
  .eslintignore
  package.json
  packages/language-support/src/lexerSymbols.ts
  packages/query-tools/package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/syntaxes/cypher.json
Due: prettier --write, eslint --fix --max-warnings 0

unignore files
  .eslintignore
  .eslintrc.js
  package.json
  packages/vscode-extension/tsconfig.node.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

fix lock file
  pnpm-lock.yaml
Due: none

Add support for the access-mode console command to the grammar (#485)
  .changeset/tender-insects-admire.md
  packages/language-support/src/antlr-grammar/CypherCmdLexer.g4
  packages/language-support/src/antlr-grammar/CypherCmdParser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/parserWrapper.ts
  packages/language-support/src/syntaxColouring/syntaxColouring.ts
  packages/language-support/src/syntaxValidation/completionCoreErrors.ts
  packages/language-support/src/tests/consoleCommands.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix the basic call clause test
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix postfix as well
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for long function call arguments with call as well
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for args
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add a test for call(*) as well
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Revert "fix the basic call clause test"
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

different spacing in postfix range2
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/edgecases.test.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add avoidbreak in postfix
  packages/language-support/src/formatting/formatting.ts
Due: prettier --write, eslint --fix --max-warnings 0

creates the lint-worker package WIP
  packages/lint-worker/LICENSE.md
  packages/lint-worker/README.md
  packages/lint-worker/package-lock.json
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

fixes types and adds some react-codemirror testing
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
  packages/lint-worker/tsconfig.json
  packages/react-codemirror/package.json
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
Due: prettier --write, eslint --fix --max-warnings 0

update node version
  .github/actions/setup-and-build/action.yaml
  .nvmrc
  package.json
  packages/language-server/package.json
  packages/language-support/package.json
  packages/query-tools/package.json
  packages/react-codemirror-playground/package.json
  packages/react-codemirror/package.json
  packages/vscode-extension/package.json
Due: prettier --write

prevent timeout of e2e tests by testing production builds
  packages/vscode-extension/package.json
Due: prettier --write

adding the ui-components package
  packages/ui-components/.gitignore
  packages/ui-components/CHANGELOG.md
  packages/ui-components/LICENSE.md
  packages/ui-components/README.md
  packages/ui-components/index.html
  packages/ui-components/index.ts
  packages/ui-components/package.json
  packages/ui-components/postcss.config.js
  packages/ui-components/src/components/nvl-graph-viz/nvl-details-pane.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-graph-viz.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-overview-pane.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-properties-table.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-side-panel.tsx
  packages/ui-components/src/components/nvl-graph-viz/nvl-styles.css
  packages/ui-components/src/components/shared/button-group.tsx
  packages/ui-components/src/components/shared/clickable-urls.tsx
  packages/ui-components/src/components/shared/clipboard-copier.tsx
  packages/ui-components/src/components/shared/graph-chip.tsx
  packages/ui-components/src/components/shared/show-all.tsx
  packages/ui-components/src/preview.css
  packages/ui-components/src/preview.tsx
  packages/ui-components/src/utils/copy-to-clipboard.ts
  packages/ui-components/src/utils/graph-stats-utils.ts
  packages/ui-components/src/utils/graph-viz-utils.ts
  packages/ui-components/src/utils/styling-types.tsx
  packages/ui-components/tailwind.config.ts
  packages/ui-components/tsconfig.json
  packages/ui-components/tsconfig.node.json
  packages/ui-components/vite.config.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/webviews/controllers/resultTabs.tsx
  packages/vscode-extension/src/webviews/resultWindow.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes it work
  package.json
  packages/lint-worker/package.json
  packages/lint-worker/src/index.ts
  packages/lint-worker/src/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/autocomplete.ts
  packages/react-codemirror/src/lang-cypher/lintWorker.ts
  packages/react-codemirror/src/lang-cypher/syntaxValidation.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings 0
