Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix --type-aware --max-warnings 0

add new param rule to param completion
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Oxlint extra rules (#773)
  .vscode/settings.json
  oxlint.config.ts
  packages/query-tools/src/cypher-execution/query-result.ts
  packages/query-tools/src/neo4jConnection.ts
  packages/react-codemirror/src/CypherEditor.test.tsx
  packages/vscode-extension/src/components/viz-wrapper.tsx
  packages/vscode-extension/src/typeUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

adds "undefined position" guard to semantic analysis wrapper.
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/syntaxValidation/diagnosticPositionFallback.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add full "unfinished LET" linting test
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add formatting for map comprehensions + tests
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add changeset
  .changeset/evil-bears-lead.md
Due: none

add contentAttributes prop
  .changeset/quiet-owls-describe.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

bump pre-release version to 1.19.46
  packages/vscode-extension/package.json
Due: oxfmt

update api report
  packages/react-codemirror/api-extractor/api-report.api.md
Due: none

add extra changeset for bugfix
  .changeset/stale-coats-cut.md
Due: none

rename "copy..." methods in wraper
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/tests/syntaxValidation/diagnosticPositionFallback.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

one more rename
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/tests/syntaxValidation/diagnosticPositionFallback.test.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Automated update of artifacts to neo4j version 2026.10.0 (#785)
  .changeset/evil-bears-lead.md
  .changeset/stale-coats-cut.md
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/autocompletion/completionCoreCompletions.ts
  packages/language-support/src/formatting/formatting.ts
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
  packages/language-support/src/syntaxValidation/semanticAnalysisWrapper.ts
  packages/language-support/src/syntaxValidation/syntaxValidation.ts
  packages/language-support/src/tests/formatting/linebreaks.test.ts
  packages/language-support/src/tests/syntaxValidation/diagnosticPositionFallback.test.ts
  packages/language-support/src/tests/syntaxValidation/syntacticValidation.test.ts
  packages/lint-worker/server-version-tag.txt
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove vitest from runApiAndUnit script
  packages/vscode-extension/package.json
Due: oxfmt

fix leftover docker images on failed tests
  packages/vscode-extension/tests/runApiAndUnitTests.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

close containers in after hook
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove explicit version in vscode run tests
  packages/vscode-extension/tests/runApiAndUnitTests.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

change defineConfig for defineProject
  packages/vscode-extension/vitest.config.mts
Due: none

migrate unit tests to vitests
  packages/vscode-extension/package.json
  packages/vscode-extension/src/tests/unit/paramValidation.test.ts
  packages/vscode-extension/vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

rename test scripts in vscode-extension package.json
  .github/workflows/ci.yaml
  AGENTS.md
  packages/vscode-extension/package.json
Due: oxfmt

pin vscode version for testing and disable extensions for testing
  packages/vscode-extension/tests/fixtures/.vscode/settings.json
  packages/vscode-extension/tests/runApiAndUnitTests.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/ci.yaml
Due: none

Improve vscode tests (#783)
  .github/workflows/ci.yaml
  AGENTS.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/tests/unit/paramValidation.test.ts
  packages/vscode-extension/tests/fixtures/.vscode/settings.json
  packages/vscode-extension/tests/runApiAndUnitTests.ts
  packages/vscode-extension/tests/specs/webviews/setup.spec.ts
  packages/vscode-extension/tests/webviewUtils.ts
  packages/vscode-extension/vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update grammar/semantic analysis again - allow no match in oxlint
  .lintstagedrc.json
  packages/language-support/src/antlr-grammar/Cypher25Lexer.g4
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

bump pre-release version to 1.19.47
  packages/vscode-extension/package.json
Due: oxfmt

reformat lintstaged
  .lintstagedrc.json
Due: oxfmt

rename poller folder
  packages/query-tools/src/index.ts
  packages/query-tools/src/schema-poller/metadata/connectedMetadataPoller.ts
  packages/query-tools/src/schema-poller/metadata/disconnectedMetadataPoller.ts
  packages/query-tools/src/schema-poller/metadata/metadataPoller.ts
  packages/query-tools/src/schema-poller/metadata/queryPoller.ts
  packages/query-tools/src/schema-poller/schemaPoller.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

minor refactor in connectedMetadataPoller
  packages/query-tools/api-extractor/api-report.api.md
  packages/query-tools/src/pollers/metadata/connectedMetadataPoller.ts
  packages/query-tools/src/pollers/metadata/metadataPoller.ts
  packages/query-tools/src/pollers/metadata/queryPoller.ts
  packages/query-tools/src/pollers/schemaPoller.ts
  packages/vscode-extension/src/webviews/queryResults/queryDetailsProvider.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove unused exports of metadataPoller
  packages/query-tools/api-extractor/api-report.api.md
  packages/query-tools/src/index.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

remove unused users and roles pollers
  packages/query-tools/src/pollers/metadata/connectedMetadataPoller.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move queryPoller to a different file
  packages/query-tools/src/pollers/metadata/connectedMetadataPoller.ts
  packages/query-tools/src/pollers/metadata/queryPoller.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

split metadata poller into separate files
  packages/query-tools/src/index.ts
  packages/query-tools/src/pollers/metadata/connectedMetadataPoller.ts
  packages/query-tools/src/pollers/metadata/disconnectedMetadataPoller.ts
  packages/query-tools/src/pollers/metadata/metadataPoller.ts
  packages/query-tools/src/pollers/schemaPoller.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Update grammar+semantic analysis again (2026.10) (#790)
  .lintstagedrc.json
  packages/language-support/src/antlr-grammar/Cypher25Lexer.g4
  packages/language-support/src/antlr-grammar/Cypher25Parser.g4
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/syntaxValidation/semanticAnalysis.js
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

add contentAttributes prop (#789)
  .changeset/quiet-owls-describe.md
  packages/react-codemirror/api-extractor/api-report.api.md
  packages/react-codemirror/src/CypherEditor.tsx
Due: none

remove unused queries
  packages/query-tools/src/queries/roles.ts
  packages/query-tools/src/queries/users.ts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

update vscode-extension to release 1.20
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: oxfmt

update vscode-extension to release 1.20 (#791)
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
Due: oxfmt

move unit tests in language-server
  packages/language-server/src/tests/unit/descriptionToMarkdown.test.ts
  packages/language-server/src/tests/unit/hoverMarkdown.test.ts
  packages/language-server/vitest.config.mts
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

move unit tests in lint-worker
  packages/lint-worker/src/tests/unit/version.test.ts
  packages/lint-worker/vitest.config.mts
  packages/vscode-extension/syntaxes/cypher.json
Due: oxfmt, oxlint --fix --type-aware --max-warnings 0

Path conditions:
  oxfmt: (any of: *.ts) or (any of: *.json)
  oxlint --fix --type-aware --max-warnings 0: (any of: *.ts) or (any of: *.js)
