Repository neo4j/cypher-language-support: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

prepforpublish
  packages/react-codemirror-experimental/README.md
  packages/react-codemirror-experimental/package.json
Due: prettier --write

fix errors with 'language-support' package couldn't be found
  package-lock.json
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/tsconfig.json
Due: prettier --write

create bundle to include our transitive dependencies
  .eslintignore
  package-lock.json
  packages/codemirror-playground/src/vite-env.d.ts
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/rollup.config.js
  packages/react-codemirror-experimental/tsconfig.json
  packages/react-codemirror-experimental/tsconfig.node.json
Due: prettier --write, eslint --fix --max-warnings 0

remove private
  packages/react-codemirror-experimental/package.json
Due: prettier --write

selfreview
  packages/codemirror-playground/src/vite-env.d.ts
  packages/react-codemirror-experimental/rollup.config.js
Due: prettier --write, eslint --fix --max-warnings 0

add path to fix build
  packages/react-codemirror-experimental/tsconfig.json
Due: prettier --write

fixbuild
  package-lock.json
  packages/codemirror-playground/package.json
Due: prettier --write

fixed paths to use actually existing files
  package.json
Due: prettier --write

Fixed file paths used in `package.json#exports.types`
  package.json
Due: prettier --write

Addresses some PR reviews
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Addresses rest of pr review comments
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/helpers.ts
Due: prettier --write, eslint --fix --max-warnings 0

Adds tests for syntax colouring of administration commands (#31)
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes the auto-completions for functions and procedures contextual to the user
  packages/server/src/dbInfo.ts
Due: prettier --write, eslint --fix --max-warnings 0

Publish private package (#47)
  .eslintignore
  package-lock.json
  packages/codemirror-playground/package.json
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/Editor.tsx
  packages/codemirror-playground/vite.config.ts
  packages/react-codemirror-experimental/README.md
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/rollup.config.js
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/index.ts
  packages/react-codemirror-experimental/src/lang-cypher/ParserAdapter.ts
  packages/react-codemirror-experimental/src/lang-cypher/autocomplete.ts
  packages/react-codemirror-experimental/src/lang-cypher/constants.ts
  packages/react-codemirror-experimental/src/lang-cypher/lang-cypher.ts
  packages/react-codemirror-experimental/tsconfig.json
  packages/react-codemirror-experimental/tsconfig.node.json
Due: prettier --write, eslint --fix --max-warnings 0

Uses up to date grammar version
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Uses antlr4 directly in the CI
  .github/actions/setup-antlr4/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
  .gitignore
Due: none

Makes needed changes for the tests to pass
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Updates grammar to up-to-date version (#32)
  packages/language-support/src/antlr-grammar/CypherLexer.g4
  packages/language-support/src/antlr-grammar/CypherParser.g4
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/highlighting/syntaxColouring/administration.test.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes the auto-completions for functions and procedures contextual to the user (#48)
  packages/server/src/dbInfo.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes VSCode tests debugging work again with several projects
  .gitignore
  .vscode/settings.json
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tests/generate.sh
Due: prettier --write

suggest only keywords
  packages/language-support/src/autocompletion.ts
Due: prettier --write, eslint --fix --max-warnings 0

Makes VSCode tests debugging work again with several projects (#50)
  .gitignore
  .vscode/settings.json
  packages/antlr4-c3/package.json
  packages/antlr4-c3/tests/generate.sh
Due: prettier --write

update test to make sure operator is not suggested
  packages/language-support/src/perf-test.js
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add test for showing LPAREN
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

first themeing steps
  packages/codemirror-playground/src/App.tsx
  packages/codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

placeholder icons & search
  packages/codemirror-playground/src/TokenTable.tsx
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix build
  package-lock.json
  packages/react-codemirror-experimental/package.json
Due: prettier --write

remove custom icon code
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
Due: none

Codemirror theming first steps (#53)
  package-lock.json
  packages/codemirror-playground/src/App.tsx
  packages/react-codemirror-experimental/package.json
  packages/react-codemirror-experimental/src/CypherEditor.tsx
  packages/react-codemirror-experimental/src/neo4j-setup.tsx
  packages/react-codemirror-experimental/src/neo4j-theme.ts
Due: prettier --write, eslint --fix --max-warnings 0

Uses antlr4 directly in the CI (#49)
  .github/actions/setup-antlr4/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-demo.yml
Due: none

remove perf test here by mistake
  packages/language-support/src/perf-test.js
Due: none

suggest only keywords (#51)
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

Caches parsing result
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/highlighting/syntaxColouring.ts
  packages/language-support/src/highlighting/syntaxValidation.ts
  packages/language-support/src/parserCache.ts
  packages/language-support/src/signatureHelp.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix test
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add tests for LIMIT and ALL_SHORTEST_PATH
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

better display names
  packages/language-support/src/antlr-grammar/abcsa
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

selfreview
  packages/language-support/src/antlr-grammar/abcsa
Due: none

add better test for incorrect names
  packages/language-support/src/lexerSymbols.ts
  packages/language-support/src/tests/autocompletion.test.ts
  packages/language-support/src/tests/lexer.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

add more tests
  packages/language-support/src/autocompletion.ts
  packages/language-support/src/tests/autocompletion.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix mislabeled
  packages/language-support/src/lexerSymbols.ts
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  eslint --fix --max-warnings 0: any of: *.ts
